{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="196px" height="111px" viewBox="0 0 196 111" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-35" transform="translate(98.000000, 55.500000) rotate(-270.000000) translate(-98.000000, -55.500000) translate(43.000000, -42.000000)" fill="#FEFEFE">
          <path d="M80.059846,170.171231 L81.0226305,170.029537 C80.6136482,176.056541 76.9837629,182.045852 69.6989615,182.045852 C67.3581525,182.045852 65.4965009,181.554917 65.080814,181.228384 C65.0343286,181.174795 65.0034873,181.133921 64.9838204,181.103039 C65.0289649,181.098952 65.0977991,181.099406 65.1997094,181.109852 C71.3299739,181.479983 75.7679904,178.207389 80.059846,170.171231 M65.2350204,180.657066 C64.9941008,180.633904 64.6606573,180.629362 64.5377392,180.875965 C64.4054345,181.141188 64.6539527,181.424122 64.7764239,181.558096 C65.3440824,182.010882 67.3876529,182.5 69.6989615,182.5 C73.3158846,182.5 76.351293,181.061258 78.4780009,178.337729 C80.2502574,176.068803 81.3180811,173.028279 81.4852498,169.776576 L81.5,169.5 L79.7733349,169.754323 L79.7196979,169.855144 C75.450191,177.892664 71.2544351,181.027651 65.2350204,180.657066" id="Fill-1"></path>
          <path d="M21.2683356,29.0262564 C22.7132317,30.5593198 24.4618146,31.3365847 26.4650588,31.3365847 C31.6454402,31.3365847 35.1466916,29.6894807 37.1540213,26.3049347 C37.8249469,26.8268382 38.4963265,27.8053512 38.4963265,29.1371665 C38.4963265,32.8875368 33.4507659,34.6348176 30.0407567,34.6348176 C25.3624347,34.6348176 22.2838029,32.4009636 20.5252332,30.5271201 C17.8605961,27.6881801 16.6163423,23.9838732 16.742538,22.3940131 C16.7947413,21.4982354 16.478798,21.2889374 16.2055251,21.2714959 C15.7720109,21.2424267 15.3884303,21.8005548 15.3366809,22.5295202 C14.512777,26.7593082 15.7924383,31.3960647 18.7589465,34.9331121 C21.6346665,38.3614854 25.7196868,40.3279031 29.9663103,40.3279031 C35.4757993,40.3279031 39.1282132,38.0104193 40.8264087,33.4340372 C40.8350336,33.4997783 40.8341257,33.5798303 40.8136983,33.6679323 L40.8041656,33.7086291 L40.8055274,33.7502204 C40.8881447,36.56993 40.062425,38.8789167 38.3524271,40.6136754 C36.3287555,42.6650645 33.0549288,43.8416951 29.370285,43.8416951 C19.2283221,43.8416951 13.1672941,34.7193418 13.1672941,25.9002024 C13.1672941,23.9695622 13.5545063,19.1838822 17.1243029,16.4576411 C17.4239043,16.2470014 17.5705275,16.1843909 17.6358951,16.1660549 C17.6613158,16.2443181 17.6994469,16.4621133 17.6413424,17.0193469 L17.6408884,17.0282913 C17.3589907,20.7795561 18.514726,26.1050283 21.2683356,29.0262564 M18.3068207,17.0819575 C18.3730962,16.4357274 18.3789974,15.8073861 17.9777131,15.5779632 C17.5954943,15.3592736 17.1370133,15.6405738 16.7257422,15.9294766 C12.911725,18.8422076 12.5,23.8729631 12.5,25.9002024 C12.5,37.5426292 21.0772262,44.5 29.370285,44.5 C33.2342357,44.5 36.6828299,43.2504728 38.8308815,41.0720739 C40.6648055,39.2129885 41.5536231,36.7568672 41.4746373,33.7703452 C41.578136,33.2421807 41.3561585,32.7345883 40.9675845,32.6263615 C40.7297191,32.5606204 40.3924405,32.6523001 40.2294755,33.1263512 C38.6524825,37.468391 35.1993488,39.6695981 29.9663103,39.6695981 C25.9194211,39.6695981 22.0223326,37.790388 19.2737163,34.5140688 C16.4324959,31.1263922 15.2059458,26.6926728 15.9976199,22.615386 C16.0098763,22.4481265 16.0425601,22.3090417 16.0806912,22.2003677 C16.0806912,22.2446423 16.0793294,22.2942835 16.0761518,22.3497385 C15.9458706,23.9878982 17.1138622,27.8617007 20.0345224,30.9738909 C21.8834265,32.9443335 25.1204839,35.2926753 30.0407567,35.2926753 C36.3337488,35.2926753 39.1640746,31.6930175 39.1640746,29.1371665 C39.1640746,27.6595581 38.3991831,26.2499269 37.2153034,25.546453 L36.915702,25.368013 L36.7491054,25.6721212 C34.9020171,29.0405674 31.53831,30.6782798 26.4650588,30.6782798 C24.6551938,30.6782798 23.0713916,29.9716753 21.7576846,28.5785912 C19.1352641,25.7964478 18.0367255,20.6901125 18.3068207,17.0819575" id="Fill-3"></path>
          <path d="M108.398956,85.1613798 C104.33852,90.5246729 97.2594117,91.8777829 92.2046481,91.5315022 L92.2046481,91.2947868 L86.4392631,88.9132051 L86.4392631,90.6905991 L89.087943,91.7312448 L89.0246963,91.8579439 L89.2718101,92.031986 C89.5433189,92.2231618 89.8152796,92.436882 90.085885,92.6605216 L87.6965164,93.4441621 C85.7187029,91.9179118 83.5561189,90.6689566 81.8335508,89.9182308 L81.8335508,87.7359409 C81.943329,87.7634449 82.0472342,87.7882437 82.1619817,87.8166495 C84.1027507,88.3013523 86.7604658,88.9655079 91.943078,88.9655079 C98.9851421,88.9655079 102.755547,87.4049903 105.854181,83.2076893 L106.077352,82.9051445 L105.675284,82.6472375 C103.345999,81.1557055 100.447947,79.2994064 94.1996286,79.2994064 C91.7596627,79.2719023 89.6404477,79.4491006 87.7778336,79.7493909 L92.2046481,77.3912553 L92.2046481,76.4389834 C100.246913,76.2311248 106.481679,79.2822727 108.934294,82.3455945 C109.250527,82.7703295 109.292993,83.0232767 109.292993,83.2149034 C109.292993,83.8172876 108.854332,84.4760326 108.46672,85.0576759 L108.398956,85.1613798 Z M95.3448449,101.676896 L95.3448449,101.784658 C95.3448449,103.247784 95.3434896,103.619314 92.2046481,103.686496 L92.2046481,101.844175 L90.8995081,101.844175 L90.8995081,103.699121 C90.8534284,103.699121 90.8096075,103.699572 90.763076,103.699572 C90.165395,103.699572 89.5704247,103.665756 88.9768096,103.61706 L87.7615701,101.91316 L86.4392631,101.91316 L86.4392631,103.269427 C84.8675836,102.968234 83.3261721,102.521406 81.8335508,101.9587 L81.8335508,100.611451 L78.7439514,100.611451 C75.7641301,99.1280354 73.0675635,97.2636203 70.8435398,95.3662906 L74.5195262,95.3662906 C78.4674731,98.2077763 82.8554362,99.8886807 86.4392631,100.6872 L86.4392631,100.905429 L86.7898303,100.764302 C89.5487401,101.343691 91.7903825,101.393288 92.9080414,101.041146 L93.2012348,100.949165 L93.1501857,100.64617 C93.0123984,99.8323199 92.6799016,99.0157647 92.2046481,98.2127361 L92.2046481,96.2549876 L90.1283506,95.5858722 C89.7981126,95.249511 89.452063,94.9199131 89.0920088,94.5993329 L91.4113543,93.8851289 C93.5703243,96.1134092 95.3448449,99.1302898 95.3448449,101.676896 L95.3448449,101.676896 Z M90.8995081,106.312458 L89.5112439,104.366433 C89.9286718,104.391232 90.3460998,104.404307 90.763076,104.404307 C90.8109628,104.404307 90.8520731,104.403857 90.8995081,104.403857 L90.8995081,106.312458 Z M89.7972091,108.557873 C89.1272463,108.557873 88.4423753,108.51098 87.7439514,108.420803 L87.7439514,104.475097 L90.6785965,108.54119 C90.3849513,108.551109 90.0908543,108.557873 89.7972091,108.557873 L89.7972091,108.557873 Z M107.195462,104.210877 C108.211023,103.334805 108.761721,103.239668 108.924807,103.321278 C109.047234,103.382599 109.105963,103.65268 109.079309,104.034581 C108.980825,106.019833 106.249925,112.70783 98.3296356,116.693215 L97.4423753,117.139592 L98.4127598,117.352411 C102.476358,118.243362 109.292993,121.066813 109.292993,129.963702 C109.292993,133.97659 105.544273,138.464262 100.526554,138.464262 C97.262574,138.464262 94.4666198,137.443005 92.2046481,136.110185 L92.2046481,133.724545 C94.3839474,134.990634 96.8270756,136.038945 98.8098584,136.038945 C103.039253,136.038945 106.352023,132.232111 106.352023,127.372458 C106.352023,123.187331 101.619817,119.246584 97.9519627,119.246584 C94.4896597,119.246584 93.198976,122.045687 93.198976,123.810005 C93.198976,125.631135 95.1844694,127.941477 97.4157213,127.941477 C99.3515209,127.941477 100.243751,126.814261 100.438912,125.744308 C100.498093,125.608591 100.575344,125.519315 100.653047,125.497673 C100.730298,125.475579 100.839173,125.512552 100.987351,125.622568 C101.657765,126.027915 101.99749,126.689365 101.99749,127.588884 C101.99749,128.124537 101.77703,130.798744 97.4157213,130.798744 C95.8182913,130.798744 93.7456079,129.816713 92.2046481,128.218321 L92.2046481,126.8341 L91.123582,126.84447 C90.7576549,126.263729 90.4685273,125.634291 90.2814978,124.965176 L92.2046481,123.442984 L92.2046481,120.630805 L90.533581,120.630805 C90.7897299,119.984234 91.1131914,119.478791 91.4258107,119.125747 C91.6729244,119.036922 91.8518221,118.900304 91.9453368,118.708677 C91.982833,118.634732 92.0153599,118.561688 92.0447244,118.485939 L92.4133621,118.114409 L92.1350768,118.179336 C92.2145869,117.812766 92.2403373,117.29109 92.2462102,116.308609 C97.7952013,115.028543 101.231754,112.486896 104.540458,108.934813 L104.706706,108.756263 L104.206606,107.748081 L103.872302,107.968564 C100.498093,110.196844 94.940518,111.581065 89.3684871,111.581065 C85.0482883,111.581065 81.1586186,110.364123 77.6913463,108.640836 L81.8335508,108.640836 L81.8335508,107.497839 C84.6584178,108.671496 87.3183917,109.263059 89.7972091,109.263059 C97.5119466,109.263059 105.227136,105.971138 107.195462,104.210877 L107.195462,104.210877 Z M88.7382793,134.519909 L87.7439514,134.519909 L87.7439514,133.566284 C88.052053,133.863869 88.3818392,134.167766 88.7382793,134.475271 L88.7382793,134.519909 Z M87.7439514,130.598099 C88.0321755,130.843832 88.3655757,131.113462 88.7382793,131.399775 L88.7382793,133.538329 C88.3768698,133.209182 88.0461801,132.886347 87.7439514,132.576137 L87.7439514,130.598099 Z M86.4392631,131.11752 C86.0277081,130.614331 85.7580062,130.236488 85.6432587,130.06966 C85.72051,129.979934 85.9734966,129.826182 86.3285815,129.756745 C86.6493324,129.69317 86.8309407,129.746375 86.8553358,129.770723 C86.8837968,129.801383 86.9172272,129.83565 86.9502058,129.869467 L86.4392631,129.869467 L86.4392631,131.11752 Z M89.8943379,134.519909 C89.8889168,134.515851 89.8843992,134.511793 89.8794298,134.507735 L89.8794298,132.234366 C90.2051501,132.462514 90.544875,132.692917 90.8995081,132.922418 L90.8995081,134.519909 L89.8943379,134.519909 Z M89.7009838,125.424629 C89.8667804,125.917899 90.0827226,126.395838 90.3424857,126.852586 L87.8654754,126.877385 L89.7009838,125.424629 Z M90.1202189,122.251291 L90.821805,122.244077 L90.0642004,122.846461 C90.0754944,122.642209 90.0935649,122.443819 90.1202189,122.251291 L90.1202189,122.251291 Z M84.9479972,132.585155 C84.2739685,131.500323 83.1929023,131.338454 82.6087742,131.338454 C81.7178998,131.338454 80.822056,132.07881 80.2858147,133.511727 L77.1325168,133.511727 C79.9727437,131.286152 81.6713683,128.45684 81.9916675,126.458511 C82.334103,124.391198 82.1845698,123.118345 81.5340327,122.565559 C81.1554563,122.243626 80.6490312,122.188167 80.0283104,122.396025 C78.1340729,123.030873 74.0031623,123.439827 69.1494328,122.475381 L69.1494328,121.917635 L81.8335508,121.917635 L81.8335508,120.035635 C82.163337,120.044202 82.4895091,120.05818 82.8233611,120.059532 C85.4092461,120.059532 87.9038751,119.807036 90.4188335,119.288968 C90.1793997,119.66681 89.9589399,120.118599 89.7782351,120.630805 L86.4392631,120.630805 L86.4392631,122.287362 L89.4019175,122.258054 C89.3621624,122.582242 89.3368638,122.91725 89.3368638,123.270294 C89.3368638,123.320793 89.3400261,123.370842 89.3413814,123.42089 L86.4392631,125.729879 L86.4392631,128.515906 L91.5532075,128.515906 C93.1818091,130.315393 95.4446843,131.50393 97.4157213,131.50393 C102.449252,131.50393 102.704498,128.242669 102.704498,127.588884 C102.704498,126.139735 101.969933,125.391714 101.383546,125.039572 C101.084931,124.814129 100.758759,124.735224 100.462403,124.818638 C100.24872,124.878155 99.9555266,125.047688 99.7689489,125.514806 L99.7490714,125.58785 C99.6668507,126.083374 99.2751732,127.23584 97.4157213,127.23584 C95.6077703,127.23584 93.9059833,125.306046 93.9059833,123.810005 C93.9059833,122.318022 95.0046682,119.951771 97.9519627,119.951771 C101.239886,119.951771 105.645016,123.620633 105.645016,127.372458 C105.645016,131.836684 102.643058,135.333308 98.8098584,135.333308 C96.8921293,135.333308 94.4006626,134.217815 92.2046481,132.905285 L92.2046481,129.808597 L90.8995081,129.808597 L90.8995081,132.080613 C90.5439715,131.843898 90.201536,131.607183 89.8794298,131.374976 L89.8794298,130.136842 L88.7382793,130.136842 L88.7382793,130.510176 C88.1315631,130.024121 87.653599,129.595328 87.3658267,129.283314 C86.9176789,128.832428 85.9052806,129.038483 85.3753639,129.383411 C84.8007228,129.759 84.914115,130.186891 84.9629053,130.309532 L84.9963357,130.374009 C85.0627447,130.474556 85.5560687,131.204541 86.4392631,132.204607 L86.4392631,134.9478 C85.8998595,134.134852 85.4038249,133.34039 84.9479972,132.585155 L84.9479972,132.585155 Z M87.5275575,137.709929 C86.9474952,137.842941 86.6678546,138.165325 86.5079309,138.797016 C86.4672724,138.967902 86.4406184,139.173957 86.4229997,139.503104 C84.8323461,137.381684 84.0015561,135.763453 83.7838068,135.313018 C83.6365325,135.016785 83.3379179,134.873403 83.0334304,134.945094 C82.658468,135.032566 82.2554964,135.470828 82.2573035,136.259879 C82.6950607,140.784523 84.2807449,144.676574 86.4392631,147.810685 L86.4392631,148.147047 L86.6687582,148.144792 C87.1733762,148.851331 87.7082622,149.514585 88.2639293,150.138161 L86.4392631,151.589564 L86.4392631,151.758646 C83.9261118,148.868916 82.0160626,145.313677 81.0980825,141.542013 L81.8335508,141.542013 L81.8335508,133.511727 L81.0492922,133.511727 C81.487953,132.514817 82.106415,132.044092 82.6087742,132.044092 C83.0465315,132.044092 83.8538299,132.162224 84.3448951,132.952628 C84.9656159,133.981099 85.6604257,135.082164 86.4392631,136.205322 L86.4392631,136.245 L86.4668206,136.245 C86.803835,136.730604 87.156661,137.219365 87.5275575,137.709929 L87.5275575,137.709929 Z M88.9546732,139.484167 L88.9546732,141.557794 L90.0267041,141.557794 L90.0267041,140.685328 C90.3149282,140.992382 90.6117358,141.29628 90.916675,141.596119 C90.9162233,141.964944 90.9144162,142.01364 90.9080916,142.144848 C90.8995081,142.602046 90.8475555,142.843721 90.7178998,143.042111 C90.5774019,143.248167 90.3271258,143.334737 89.772814,143.355477 C89.0201787,142.603399 88.3443429,141.865749 87.7444032,141.158308 L87.7439514,141.135313 L87.7529866,140.514443 L87.7529866,140.073927 C87.7706054,139.547742 87.9436302,139.349352 88.3926815,139.349352 L88.3926815,138.810092 C88.5760968,139.035535 88.7631262,139.260077 88.9546732,139.484167 L88.9546732,139.484167 Z M90.0267041,139.340785 L90.1044072,139.340785 L90.1649433,139.340785 C90.3379681,139.340785 90.4152194,139.349352 90.4847907,139.366937 C90.829485,139.499948 90.9108021,139.697887 90.916675,140.590191 C90.6117358,140.275924 90.3140247,139.958951 90.0267041,139.63837 L90.0267041,139.340785 Z M95.1817589,145.049007 C99.1057625,147.643858 104.427517,150.205794 107.817538,151.135071 C108.612639,151.401995 109.292993,152.973334 109.292993,153.392208 C109.292993,155.319747 106.22056,158.761813 100.09738,158.761813 L99.9903122,158.761813 C96.1422046,158.761813 92.3252685,157.082712 89.0996888,154.376042 L92.2046481,154.376042 L92.2046481,153.646958 C94.9283204,155.53482 97.7879731,156.552019 100.204899,156.552019 L100.312418,156.552019 C102.901917,156.552019 105.152143,155.608765 107.000753,153.748408 L107.426313,153.320066 L106.84354,153.160452 C100.02058,151.287921 94.9721414,148.059124 91.3598534,144.850166 C91.7700532,144.641856 92.0162634,144.288361 92.1445638,143.706267 C92.1888365,143.498859 92.2159422,143.237796 92.2313021,142.809454 C93.1438611,143.604367 94.1223773,144.359601 95.1817589,145.049007 L95.1817589,145.049007 Z M89.5107921,151.434459 C89.9810762,151.886698 90.4622026,152.310982 90.9510089,152.706409 L87.8654754,152.73707 L89.5107921,151.434459 Z M87.7538902,142.240886 C88.0759964,142.603399 88.4170766,142.972675 88.776679,143.346009 C88.6140448,143.338344 88.4767092,143.329326 88.4103002,143.318054 C88.0466319,143.27522 87.8826423,143.136798 87.8049393,142.81757 C87.7651842,142.65976 87.756149,142.620082 87.7538902,142.240886 L87.7538902,142.240886 Z M88.869742,149.657065 C88.4613493,149.166501 88.0714788,148.657901 87.699227,148.134873 L90.821805,148.104663 L88.869742,149.657065 Z M92.2046481,149.303119 L92.2046481,146.491392 L86.6181608,146.491392 C84.5743901,143.129133 83.2687983,139.390383 82.962052,136.226062 C82.962052,135.876626 83.0908041,135.702133 83.1617307,135.649379 C83.4278185,136.195402 84.4406686,138.146838 86.397701,140.624008 C86.3967975,140.807519 86.395894,141.005458 86.395894,141.23045 C86.395894,142.325653 86.4220962,143.024527 86.473597,143.421758 C86.5775023,144.163466 86.8106114,144.569264 87.2605662,144.827621 C87.6662484,145.052163 88.1591206,145.121148 89.3955928,145.121148 C89.9182813,145.121148 90.2814978,145.110778 90.5633972,145.080118 C94.1612288,148.353102 99.21283,151.685152 106.056571,153.670855 C104.43339,155.115044 102.503464,155.846833 100.312418,155.846833 L100.204899,155.846833 C97.2752234,155.846833 94.5673627,154.707443 92.2046481,152.897585 L92.2046481,152.693785 L91.9548238,152.69649 C91.2984138,152.175265 90.6695613,151.604894 90.0714286,150.991238 L92.2046481,149.303119 Z M79.5051702,146.500861 L77.3005722,146.500861 C77.1343239,145.171648 76.6771408,143.497958 75.6584178,141.542013 L77.8476559,141.542013 C78.5469832,142.983947 79.2042968,144.771261 79.5051702,146.500861 L79.5051702,146.500861 Z M80.7199578,166.876866 L80.9399659,167.039185 C81.049744,167.110876 81.279239,167.261021 81.4825319,167.148299 C81.666399,167.048653 81.6921494,166.827719 81.6921494,166.603629 C81.6921494,165.903402 81.8421343,165.745141 81.86924,165.745141 C82.0743399,165.745141 82.5080313,165.878603 83.106164,166.250585 C83.7309507,166.657735 84.0616404,167.052711 84.0616404,167.392229 C84.0616404,178.836626 78.367182,189.498285 73.0201285,192.294682 C72.8385202,192.428144 72.5909547,192.734296 72.6989258,192.989047 C72.7766289,193.174812 72.9772111,193.241092 73.2875715,193.192397 C79.8832948,192.224344 86.9818291,185.480436 86.9818291,172.961126 C86.9818291,168.916676 86.0182211,166.754675 85.5551651,165.715382 C85.4711374,165.526461 85.4020179,165.372258 85.3527758,165.237443 C85.1309607,164.694576 85.2055015,164.516476 85.2339625,164.474543 C85.2673928,164.424946 85.3401265,164.414124 85.3956932,164.414124 C85.7087642,164.414124 86.6497842,164.711259 87.1101295,164.993964 L86.4392631,164.993964 L86.4392631,166.744756 L87.9056822,166.744756 C88.3267242,168.275515 88.6456681,170.551139 88.6456681,173.20731 C88.6456681,175.535687 88.2074591,183.580852 82.5631463,189.363019 C79.042566,193.014747 74.8791286,194.754718 70.1758358,194.529726 C70.050246,194.524315 69.9472443,194.519355 69.8677342,194.518002 C69.4403674,194.364701 68.9890573,193.92689 68.6023492,193.294748 C77.6886357,190.271104 79.9917177,180.481009 80.2266339,179.364614 L79.8232105,179.18471 C72.4558779,189.192584 62.5080815,192.743765 56.2281397,192.743765 C41.3114145,192.743765 41.1388415,178.672053 41.1388415,178.529573 C41.1388415,169.279639 47.5909045,164.432611 53.9765586,164.415026 C54.3217046,164.826235 54.6862765,165.219858 55.0698223,165.592741 C55.1267443,165.6482 55.1868286,165.699601 55.2446542,165.754159 C54.8574942,165.714932 54.4644614,165.688329 54.0614898,165.688329 C48.4533179,165.688329 42.6522438,170.454649 42.6522438,178.430828 C42.6522438,179.820009 42.9305291,183.266585 45.5177693,185.267618 C45.7206104,185.412353 45.9455878,185.556636 46.1547535,185.556636 C46.2243249,185.556636 46.2920891,185.540404 46.3566911,185.502981 C46.6286517,185.345171 46.6241341,184.913221 46.5794097,184.476763 C46.3982532,181.995085 47.1382391,178.491247 48.904628,176.595721 C49.7932437,175.641645 50.8670816,175.157844 52.0967774,175.157844 C55.599739,175.157844 57.8097581,176.247186 59.0511997,178.585933 L59.1627849,178.796497 L59.3669812,178.673405 C60.1675033,178.191408 60.6852224,177.22606 60.6852224,176.213369 C60.6852224,175.220518 60.1006425,174.157778 59.1212228,173.370531 C58.3134725,172.720804 56.8583476,171.947083 54.5150587,171.947083 C51.8867082,171.947083 49.5520028,172.965635 47.7630258,174.893625 C45.7779841,177.032179 44.983335,179.720363 45.070525,180.859753 C45.0727839,180.896726 45.0736874,180.930091 45.0736874,180.959399 C45.0474852,180.88365 45.0239936,180.782652 45.0140548,180.655953 C44.4823311,177.887961 45.3117659,174.850791 47.2331091,172.530079 C49.0921092,170.285116 51.727688,168.997835 54.4644614,168.997835 C58.0013051,168.997835 60.336914,170.489367 61.4021685,173.42103 C61.5431182,173.882287 61.8494127,173.826377 61.9099488,173.810145 C62.1697119,173.74161 62.317438,173.399388 62.2474149,173.039129 C62.2840076,171.643636 62.0129505,170.423087 61.4545728,169.382892 C61.9406686,169.535292 62.4339926,169.664696 62.9336412,169.771105 C63.3027306,170.736904 63.5078305,171.802799 63.5078305,172.961126 C63.5078305,176.532146 61.1934545,179.610798 59.2029917,181.169061 C59.0155105,181.331831 58.9450356,181.326871 58.9441321,181.325068 C58.8808855,181.314247 58.7430981,181.072121 58.6902419,180.979238 C56.9952314,178.06516 55.0522036,177.66342 53.2049493,177.66342 C50.1916976,177.66342 47.7404377,180.683006 47.7404377,184.394251 C47.7404377,187.487332 49.2827527,191.174229 56.6306596,191.174229 C63.8538801,191.174229 70.116655,188.012614 75.2432487,181.777307 L75.7930429,181.108642 L74.9861962,181.424263 C73.171017,182.13486 71.1995282,182.542461 69.5772513,182.542461 C64.8617609,182.542461 62.7506776,180.477402 62.7506776,178.430828 C62.7506776,178.231537 62.7922397,178.0859 62.8609075,178.040812 C62.9282201,177.997978 63.0651039,178.017366 63.2525851,178.100329 C63.7016364,178.265353 65.0447244,178.508832 66.5048188,178.508832 C71.6174079,178.508832 75.276679,174.122158 76.2411906,171.006985 L76.3848509,170.544375 L75.9380584,170.732395 C71.3296356,172.672108 68.727939,170.424439 68.6149985,170.324343 C68.5214838,170.245888 68.4270656,170.148046 68.3394238,170.039383 C69.1209718,169.959125 69.8835458,169.831524 70.6235318,169.650719 C70.8923301,169.672361 71.1755848,169.687691 71.4918181,169.687691 C75.1090754,169.687691 77.2436502,167.872423 77.7523341,166.079699 C77.8905732,165.640986 78.1182612,165.399762 78.3933842,165.399762 C78.7267845,165.399762 80.2270856,166.511648 80.7199578,166.876866 L80.7199578,166.876866 Z M53.8062444,141.542013 L57.1009437,141.542013 C56.0230399,143.167007 55.5983837,145.078314 55.5455276,146.500861 L52.5941673,146.500861 C53.1801024,144.838443 53.5875916,143.155284 53.8062444,141.542013 L53.8062444,141.542013 Z M49.2267343,151.741964 C46.2618211,156.268863 42.3039353,158.761813 38.0822207,158.761813 L37.9747013,158.761813 C34.1338219,158.761813 31.3541311,150.653524 31.3541311,145.186978 C31.3541311,139.825488 32.8666299,133.58477 35.5044674,128.064118 L35.6756852,127.704761 L34.767192,127.400413 L34.6122377,127.555969 C29.5583777,132.641967 17.2934946,136.736917 10.5080313,136.736917 C6.18557374,136.736917 3.99452866,136.020007 3.99452866,134.606479 C3.99452866,132.442675 11.5529565,123.82263 25.564351,117.654054 L25.4021685,116.979528 C17.9431282,117.388933 11.5068768,115.419912 7.29464913,111.439938 C4.29359502,108.603863 2.70700733,105.003535 2.70700733,101.028972 C2.70700733,95.5222972 7.36286517,92.389088 8.59436804,91.8579439 C9.40663588,91.5513412 9.82722618,91.5067034 10.428973,92.3715034 C14.8494629,98.9896133 24.1634374,106.024342 32.7175484,106.024342 C38.3099086,106.024342 42.9011645,104.607206 45.3460998,103.273935 C45.3528762,103.269877 45.3592009,103.26627 45.3650738,103.263114 C45.450005,103.406496 45.5191246,103.821762 45.5570726,104.054871 L45.5927618,104.269492 L45.7314527,104.353357 C46.1199679,104.587818 46.3047385,105.191555 46.3119667,105.541894 C45.3682361,112.676719 47.8750627,121.082594 52.4057826,125.982376 C55.3295854,129.384764 58.9730449,131.755073 62.8279289,132.855687 L62.8279289,133.511727 L57.3417328,133.511727 C55.7162935,132.551339 54.345648,131.447118 53.3639695,130.373558 L53.258709,130.259033 L52.2576047,130.259033 L52.3253689,130.669339 C52.3664793,130.917327 52.4274671,131.217617 52.4983937,131.569308 C52.6036543,132.088729 52.7342134,132.739358 52.8588997,133.511727 L50.8824415,133.511727 L50.8824415,141.542013 L53.0892983,141.542013 C52.8588997,143.167909 52.4274671,144.853773 51.8275274,146.500861 L51.6215239,146.500861 C51.2623733,147.366112 50.9596928,148.231813 50.7175484,149.106984 C50.2689489,150.023185 49.7720108,150.909176 49.2267343,151.741964 L49.2267343,151.741964 Z M77.6524947,126.526595 C77.691798,126.517127 77.7238731,126.510363 77.7491718,126.505855 L77.7491718,126.509011 C77.7491718,128.23816 74.4544724,132.138778 69.1494328,132.762354 L69.1494328,126.868818 C72.2196065,127.251621 75.2193053,127.165952 77.6524947,126.526595 L77.6524947,126.526595 Z M59.3886658,123.17651 C58.6608774,122.77973 57.9809758,122.356798 57.3372151,121.917635 L62.8279289,121.917635 L62.8279289,124.670747 C61.6203694,124.244209 60.460245,123.745979 59.3886658,123.17651 L59.3886658,123.17651 Z M47.8773216,105.671298 C47.8773216,104.759606 48.2947495,104.374549 49.1187632,104.090941 C49.2981126,107.421188 50.7414918,110.890308 53.0463809,113.886898 L50.8824415,113.886898 L50.8824415,115.175531 C48.6299568,111.501259 47.8773216,107.840963 47.8773216,105.671298 L47.8773216,105.671298 Z M69.1494328,133.511727 L69.1494328,133.471147 C74.6875816,132.846218 78.4561791,128.789594 78.4561791,126.509011 C78.4561791,126.395838 78.4561791,126.095548 78.22307,125.914743 C78.0008031,125.741602 77.708965,125.785338 77.4763076,125.844404 C75.0968778,126.468431 72.1572633,126.546434 69.1494328,126.16273 L69.1494328,123.185978 C74.0971288,124.142308 78.31026,123.716221 80.2532878,123.064239 C80.8121173,122.877121 81.009989,123.045753 81.076398,123.102114 C81.2751732,123.271196 81.6953117,123.926334 81.2941472,126.345339 C81.0181207,128.070881 79.2395342,131.216264 75.9714888,133.511727 L69.1494328,133.511727 Z M73.3837968,146.500861 C73.0567212,144.863692 72.1409999,143.05158 70.7554462,141.542013 L74.8637687,141.542013 C75.9362514,143.507426 76.4119566,145.179764 76.587692,146.500861 L73.3837968,146.500861 Z M73.6747315,157.938044 C72.4716896,158.469188 71.1412509,158.761813 69.7335609,158.761813 L69.6264933,158.761813 C63.2141853,158.761813 59.7342636,155.505512 57.9439313,152.318647 C58.1675535,150.619257 58.8524245,149.010043 59.9587893,147.723214 C60.2370746,152.267697 63.6862765,156.767994 69.3043871,156.767994 C71.5708764,156.767994 73.4434294,155.803999 74.8140749,154.347636 C74.6911957,155.698491 74.2895794,156.904161 73.6747315,157.938044 L73.6747315,157.938044 Z M77.3059934,165.990874 C76.862815,167.467076 75.064351,169.033455 72.0836261,169.217868 C74.0072282,168.538833 75.7596125,167.470683 77.3059934,165.990874 L77.3059934,165.990874 Z M66.4402168,161.782301 C61.6370846,161.782301 57.8608071,158.463326 57.8608071,153.547313 C57.8608071,153.541451 57.8612589,153.53604 57.8612589,153.530179 C59.8747616,156.596206 63.467172,159.46745 69.6264933,159.46745 L69.7335609,159.46745 C70.8575444,159.46745 71.9354482,159.293859 72.945136,158.970574 C71.4403172,160.745262 69.1503363,161.782301 66.4402168,161.782301 L66.4402168,161.782301 Z M63.3108624,141.542013 C61.6280494,142.283721 60.1833149,144.078699 59.9678245,146.500861 L56.2529866,146.500861 C56.3090051,144.298732 56.9636081,142.691322 57.9041763,141.542013 L63.3108624,141.542013 Z M74.8488606,153.209148 C73.5717297,154.890503 71.6765887,156.062807 69.3043871,156.062807 C63.8841482,156.062807 60.6454673,151.52148 60.6454673,147.130298 C60.6454673,147.09062 60.6504367,147.052295 60.6508885,147.012166 C60.8474049,146.833164 61.0511495,146.660925 61.2679952,146.500861 L60.680253,146.500861 C60.9657665,143.741887 63.0904026,141.868905 65.0126493,141.868905 C67.282301,141.868905 69.2732155,143.772547 69.2732155,145.943114 C69.2732155,147.691201 68.1596225,148.397289 67.6947596,148.397289 C67.2985644,148.397289 66.9791688,148.185823 66.6701636,147.981571 C66.4054312,147.806628 66.1551551,147.641152 65.8709969,147.641152 C65.7738681,147.641152 65.2895794,147.68083 65.2895794,148.45906 C65.2895794,149.091203 65.6026503,150.145826 66.301526,151.076906 C66.8829435,151.850627 67.9125088,152.773141 69.518974,152.773141 C71.5157615,152.773141 73.1240337,151.033621 73.4542717,148.676838 C74.3040357,150.038064 74.8072985,151.618421 74.8488606,153.209148 L74.8488606,153.209148 Z M72.6673025,146.500861 L71.5713282,146.500861 C72.0258006,146.880507 72.440518,147.310202 72.8132216,147.774615 L72.8132216,147.778222 C72.8132216,150.1837 71.3662283,152.067954 69.518974,152.067954 C67.957685,152.067954 67.0437707,150.972301 66.6380885,150.318966 C66.1262423,149.495648 65.9744504,148.71336 65.9947796,148.392329 C66.0819697,148.43877 66.1908443,148.510912 66.2802931,148.569527 C66.6204698,148.79452 67.0862363,149.102475 67.6947596,149.102475 C68.4663688,149.102475 69.9797711,148.148399 69.9797711,145.943114 C69.9797711,144.023691 68.6601747,142.28327 66.8775223,141.542013 L69.7922899,141.542013 C71.3034334,142.992965 72.3108624,144.837992 72.6673025,146.500861 L72.6673025,146.500861 Z M53.575394,133.511727 C53.4434796,132.676234 53.3029816,131.982771 53.1909447,131.429083 C53.1719707,131.335749 53.1539002,131.246474 53.1367333,131.160805 C53.9164742,131.959325 54.9013151,132.763706 56.0289128,133.511727 L53.575394,133.511727 Z M61.8010742,173.109468 C61.811013,173.153655 61.8141753,173.194234 61.81282,173.229403 C60.6644413,170.122346 58.1924004,168.546949 54.4644614,168.546949 C51.5926112,168.546949 48.8300873,169.894197 46.8848007,172.242864 C44.878978,174.665927 44.0134023,177.842873 44.5668106,180.714568 C44.6043068,181.228578 44.8568417,181.598756 45.155908,181.581622 C45.3086036,181.571252 45.5593314,181.460785 45.5213834,180.829093 C45.4364522,179.723069 46.2835057,177.151213 48.094619,175.199777 C49.2809457,173.921514 51.357695,172.397969 54.5150587,172.397969 C58.4155707,172.397969 60.2334605,174.674494 60.2334605,176.213369 C60.2334605,177.125062 59.7803433,177.794628 59.3272262,178.152632 C57.9922699,175.834625 55.6241341,174.706958 52.0967774,174.706958 C50.7365224,174.706958 49.5510993,175.239004 48.5734866,176.288667 C46.7199076,178.27888 45.9406184,181.930608 46.1294549,184.515991 C46.1750828,184.962819 46.1321654,185.090871 46.1461701,185.104397 C46.1186126,185.10079 46.0255496,185.075541 45.7870194,184.906007 C43.3655757,183.032124 43.1040056,179.753729 43.1040056,178.430828 C43.1040056,172.388951 47.2023893,166.139216 54.0614898,166.139216 C54.6713683,166.139216 55.2636281,166.188362 55.8314928,166.280343 C57.311013,167.543276 58.9951812,168.51178 60.7995181,169.162859 C61.5006525,170.226049 61.8390222,171.527758 61.7952013,173.053107 L61.7942978,173.081513 L61.8010742,173.109468 Z M69.5772513,182.993347 C71.0396045,182.993347 72.707961,182.691704 74.3501155,182.136212 C69.4168758,187.835416 63.459492,190.723343 56.6306596,190.723343 C51.1096777,190.723343 48.1921996,188.535192 48.1921996,184.394251 C48.1921996,180.931444 50.4406184,178.114306 53.2049493,178.114306 C54.7996687,178.114306 56.6405983,178.353276 58.2985644,181.203779 C58.4363518,181.446807 58.5931131,181.72275 58.8677844,181.769642 C59.1153499,181.813829 59.3344544,181.652411 59.4903122,181.516244 C60.4439815,180.770027 61.471288,179.68294 62.3002711,178.360039 C62.2993675,178.383485 62.2989158,178.406931 62.2989158,178.430828 C62.2989158,180.701943 64.5495934,182.993347 69.5772513,182.993347 L69.5772513,182.993347 Z M68.3186427,170.665213 C68.4324867,170.76576 71.0698725,173.040933 75.6498344,171.332074 C74.5398554,174.201965 71.0847806,178.057945 66.5048188,178.057945 C65.049242,178.057945 63.7703042,177.809958 63.4224475,177.682808 C63.1550045,177.564676 62.9255095,177.536721 62.7384801,177.60255 C63.4680755,176.228249 63.9595924,174.648343 63.9595924,172.961126 C63.9595924,171.850142 63.7802429,170.819867 63.457685,169.875711 C64.4217448,170.048851 65.4056822,170.140381 66.3991065,170.140381 C66.8802329,170.140381 67.3532276,170.119189 67.8208011,170.084922 C68.0028612,170.377547 68.2215139,170.583602 68.3186427,170.665213 L68.3186427,170.665213 Z M60.7385303,112.725866 C58.9626544,111.462482 57.4311816,110.073752 56.1847706,108.640836 L60.0017067,108.640836 C62.2546431,110.634204 65.2005823,112.444964 68.4126092,113.886898 L62.5080815,113.886898 C61.9031724,113.515819 61.3095573,113.132115 60.7385303,112.725866 L60.7385303,112.725866 Z M56.3740588,100.611451 C56.5118462,98.6627207 57.4442827,97.7108996 59.2192551,97.7108996 L59.3263227,97.7108996 C60.7186527,97.7108996 62.5455778,98.9089046 64.781799,100.611451 L56.3740588,100.611451 Z M88.6953619,113.601036 C88.678195,113.894563 88.6519928,114.67099 88.6519928,114.826095 L88.6519928,116.210316 C88.3231101,116.249994 87.9874511,116.286515 87.6454673,116.31943 C87.6373356,116.005162 87.6319145,115.63769 87.6319145,115.326578 C87.6319145,114.196657 87.701034,114.023968 88.2024897,114.023968 L88.2024897,112.31601 C87.3382693,112.31601 86.9836362,112.445415 86.7157414,112.842195 C86.4478466,113.256108 86.395894,113.721874 86.395894,115.740492 C86.395894,115.992087 86.3981528,116.214825 86.4022187,116.422683 C85.1883345,116.505195 83.8922297,116.547579 82.5017067,116.547579 C82.2807951,116.547579 82.0567212,116.538561 81.8335508,116.532248 L81.8335508,113.886898 L70.1979721,113.886898 C66.7709065,112.487798 63.6117358,110.64728 61.1762875,108.640836 L76.1585182,108.640836 C79.9921695,110.727538 84.3760667,112.278136 89.3337014,112.28535 C88.9230499,112.511695 88.7269852,112.931019 88.6953619,113.601036 L88.6953619,113.601036 Z M89.9485493,116.031314 L89.9485493,115.197174 C89.9571328,114.291343 89.9571328,114.291343 90.0176689,114.101971 C90.078205,113.920264 90.2512298,113.807993 90.4847907,113.807993 C90.9406184,113.807993 91.0147074,114.03524 91.0196767,115.842392 C90.6704648,115.909574 90.3149282,115.9736 89.9485493,116.031314 L89.9485493,116.031314 Z M86.5598835,118.139207 C86.6768899,118.626616 86.8824415,118.925102 87.2393334,119.091029 C85.7833049,119.265972 84.3195964,119.354346 82.8256199,119.354346 C82.4935749,119.352543 82.1642405,119.34082 81.8335508,119.331351 L81.8335508,117.237435 C82.0567212,117.243747 82.2816986,117.252314 82.5017067,117.252314 C83.9003614,117.252314 85.2027909,117.209029 86.4266138,117.126968 C86.4519125,117.565229 86.4943781,117.885358 86.5598835,118.139207 L86.5598835,118.139207 Z M88.1509889,117.535471 C87.8514707,117.535471 87.7245257,117.403361 87.6788977,117.027322 C88.0050698,116.996661 88.3253689,116.962394 88.640247,116.925421 C88.6334705,117.063393 88.6244353,117.103071 88.6086236,117.164391 C88.5485393,117.414633 88.3926815,117.535471 88.1509889,117.535471 L88.1509889,117.535471 Z M90.933842,117.25051 C90.8561389,117.457918 90.7612689,117.501203 90.3637185,117.518337 L90.3637185,118.57792 C90.1292541,118.627066 89.8943379,118.671704 89.6603253,118.716342 C89.6725228,118.696052 89.6869792,118.678017 89.6978215,118.656825 C89.8880133,118.286196 89.9485493,117.84568 89.9485493,116.784745 L89.9485493,116.74642 C90.3099588,116.69096 90.6650437,116.631894 91.0106415,116.567418 C90.9966369,116.900172 90.9695312,117.161686 90.933842,117.25051 L90.933842,117.25051 Z M92.2471137,115.579977 C92.2416926,114.432922 92.1910953,113.639362 92.1011947,113.230408 C91.9896095,112.711438 91.7686979,112.395366 91.3706957,112.227637 C95.9605963,111.962515 100.38199,110.805541 103.456229,109.051142 C100.447043,112.151888 97.2300472,114.393695 92.2471137,115.579977 L92.2471137,115.579977 Z M52.7170465,96.792895 C52.2765787,96.3239732 51.8492119,95.8473863 51.4344945,95.3662906 L64.1068668,95.3662906 C66.132567,96.6495131 68.2111234,98.431416 70.0443731,100.004558 C70.2960044,100.213319 70.5444734,100.409454 70.7947495,100.611451 L65.9405682,100.611451 C63.2616203,98.5337672 61.0872904,97.0057133 59.3263227,97.0057133 L59.2192551,97.0057133 C57.0724827,97.0057133 55.8256199,98.2812708 55.6652445,100.611451 L52.6063648,100.611451 C52.6438611,100.008616 52.8372151,99.2073914 53.0983335,98.5941859 C53.3874611,98.0111899 53.2388314,97.3177267 52.7170465,96.792895 L52.7170465,96.792895 Z M44.896145,84.1577068 L43.8245658,84.1577068 L43.8453469,84.529688 C44.2067563,91.0017107 42.6807047,96.0877087 39.3087541,99.6456529 C35.8816886,103.262663 31.6848208,104.023308 31.0008533,104.023308 C30.8847505,104.023308 30.6990764,103.934033 30.5463809,103.734741 C30.4085935,103.555739 30.2039454,103.160312 30.3701938,102.543049 C30.5703243,101.939763 30.2906837,101.331066 29.8673828,100.409454 C29.1775424,98.9084537 28.1353278,96.6400445 28.1353278,92.3917933 C28.1353278,86.6592243 32.4866981,81.3396671 36.5295151,78.8228195 C38.6415019,77.5080349 40.5682662,77.0490326 41.6818593,77.5932524 L42.1905431,77.8421417 L42.1905431,77.2767302 C42.1905431,76.892575 41.9804738,76.4038142 41.7573035,75.8857458 C41.5585283,75.4222346 41.3326473,74.8974029 41.3326473,74.5772736 C41.3326473,73.7679326 42.77693,71.6911501 43.3393736,71.6911501 C43.5837767,71.6911501 43.8444433,71.7389441 43.8444433,72.3102171 C43.8444433,72.4044523 43.841281,72.5122141 43.8376669,72.6307973 C43.8200482,73.1903472 43.7933942,74.0357591 44.0816183,74.8085783 L44.2067563,75.1444887 L44.5410601,75.0137316 C48.3701938,73.5149854 52.4907138,68.8879897 52.4907138,62.2757413 C52.4965867,61.9664333 52.4947796,61.6729063 52.4898103,61.3879461 C53.1787471,62.5169655 53.9896597,63.5607674 54.9112539,64.4918477 C54.087692,69.1156873 51.5614396,72.6587522 47.0063247,75.6873558 L46.8486598,75.7924123 L46.8486598,76.2874856 L47.0194258,76.3902876 C47.4422749,76.6459402 48.2866178,76.7699339 49.0749423,76.7699339 C49.5203795,76.7699339 49.9472944,76.7302559 50.2698524,76.6522526 C51.1900914,76.5417855 52.0579259,76.3488061 52.8751631,76.0877429 C52.3551852,76.8109646 51.9427266,77.630676 51.6296557,78.5256854 C49.3514205,78.7975699 47.2480173,78.5504841 45.7273868,77.9223995 L45.5087341,77.8317713 L44.9770103,78.3669734 L45.0411605,78.5698723 C46.9710872,84.6951633 49.0017569,88.5304026 50.8824415,91.1297624 L50.8824415,94.7111527 C47.9654151,91.1906321 45.8100592,87.469467 44.9675233,84.4165156 L44.896145,84.1577068 Z M55.3761169,37.2506471 C52.8692902,37.2506471 51.4471439,37.762854 50.3918281,38.2732574 L50.2224174,38.2894893 C50.2178998,38.2899402 50.213834,38.2903911 50.2097681,38.2908419 C50.2165445,38.1975085 50.2228692,38.0834342 50.2228692,37.9450121 C50.2228692,37.3092624 50.7180002,36.6690037 51.1607268,36.2961207 C51.1968678,36.2609516 54.7834053,32.8657774 61.4441823,35.5178909 C59.995382,35.9475856 58.6495834,36.5860407 57.4257605,37.3962834 C56.7819998,37.3038517 56.1011947,37.2506471 55.3761169,37.2506471 L55.3761169,37.2506471 Z M48.0372453,24.2691782 C46.0065756,24.2691782 43.936151,24.5329467 43.2553458,24.8684062 C42.9734464,24.9689538 42.7556972,24.9869893 42.6581167,24.9180037 C42.5659572,24.8530761 42.5131011,24.6582931 42.5131011,24.3832525 C42.5131011,21.3717825 45.6194157,18.3332594 52.5593816,18.3332594 C54.9455878,18.3332594 57.8463508,18.9324874 60.5180705,19.9780928 L61.7053007,20.4425058 L60.8961952,19.4586718 C53.3522237,10.2831345 44.1376368,5.63088918 33.50768,5.63088918 C22.6943078,5.63088918 20.4251079,11.0171775 20.4251079,15.5355096 C20.4251079,21.036774 24.0324265,25.5127228 28.4664692,25.5127228 C31.15897,25.5127228 33.9996486,24.9216108 36.5399056,20.6305254 C36.6158016,20.4966121 36.8181909,20.139961 36.9117057,20.12418 C36.914868,20.1219256 37.0074792,20.1070463 37.3106114,20.3690113 C39.4953318,22.0183536 43.6275976,26.6615812 43.6275976,32.4333774 C43.6275976,39.9559652 38.011294,45.0104012 29.6523441,45.0104012 C20.2394338,45.0104012 10.7108724,37.850326 10.7108724,24.1654744 C10.7108724,23.4995152 10.8201988,17.497767 14.6104809,11.9419454 C18.5123482,6.2215503 24.670766,3.32099841 32.9145166,3.32099841 C47.7508282,3.32099841 60.8912258,14.0692272 67.6364823,23.2736212 L68.2300974,23.0107544 C67.8899207,21.3690772 64.5432687,6.97272695 51.1245859,2.50940298 C51.6929023,1.58012621 52.3569923,0.935358728 52.9867483,0.709915553 C53.1033029,0.707661121 53.2550949,0.700897826 53.4394137,0.691880099 C60.3545327,0.364085722 66.4876518,2.9215131 71.6689087,8.29743105 C79.9736472,16.8047547 80.6192149,28.5886695 80.6192149,31.9978212 C80.6192149,35.8695822 80.1660978,39.1876549 79.5620922,41.4488499 C78.9336914,40.5998309 78.2253288,39.8188958 77.4424255,39.115964 C77.8503664,37.4170242 78.1702138,35.2293236 78.1702138,32.4333774 C78.1702138,14.0092593 67.7245758,4.08525077 58.0243449,2.66180256 C57.9610983,2.65143218 57.8513201,2.63384761 57.7288927,2.63384761 C57.512047,2.63384761 57.2563498,2.68975752 57.1492822,2.94360653 C56.9929726,3.31513688 57.3751631,3.72544346 57.6254392,3.90895421 L57.6660978,3.93465473 C66.4311816,8.59681959 72.5932135,23.7393868 73.6955125,36.620308 C72.5046682,36.049035 71.2212127,35.6107735 69.8577954,35.31905 C69.205903,31.8012347 67.7986648,28.5805535 65.7639293,26.0348492 C62.603855,22.0805759 58.0889469,19.9902668 52.7075595,19.9902668 C49.4237024,19.9902668 46.2699528,20.5872403 45.3582974,21.3902689 C44.9223472,21.8168074 44.9363518,22.1328787 45.0258006,22.3231527 C45.1626845,22.6162289 45.514607,22.7375173 46.0553659,22.6838618 C54.0542616,22.2050205 59.8896697,25.7940759 65.5782552,34.8988239 C64.4610481,34.9132523 63.3840478,35.0417549 62.3549342,35.2771176 C60.9201385,30.6952105 55.5441723,24.2691782 48.0372453,24.2691782 L48.0372453,24.2691782 Z M41.8494629,24.4590014 C40.5253489,22.3515586 38.9211425,20.7531665 37.7289429,19.85455 C37.4854432,19.6430843 37.1592712,19.4090743 36.7996687,19.4703948 C36.3948901,19.5393804 36.1640398,19.9451781 35.9639092,20.298673 C33.5971288,24.298035 30.9620018,24.8490181 28.4664692,24.8490181 C24.3992571,24.8490181 21.0891979,20.6711052 21.0891979,15.5355096 C21.0891979,9.49002545 25.3836462,6.294143 33.50768,6.294143 C43.556671,6.294143 52.3231101,10.5441977 59.5815681,18.9306838 C57.1650939,18.1132269 54.7102199,17.6695547 52.5593816,17.6695547 C45.1604257,17.6695547 41.8490111,21.0417337 41.8490111,24.3832525 C41.8490111,24.408953 41.8490111,24.4337517 41.8494629,24.4590014 L41.8494629,24.4590014 Z M86.4392631,52.0004923 L86.4392631,55.1373086 L86.9316836,55.1373086 C86.5156109,55.2319948 86.1365827,55.3767293 85.7769802,55.5836861 C84.4497038,56.2451364 83.1617307,57.044107 81.9211927,57.9422726 C82.3612087,56.6220774 82.6539504,55.2139593 82.7827025,53.7327977 C84.0200783,52.9739559 85.2484188,52.382393 86.4392631,52.0004923 L86.4392631,52.0004923 Z M88.7382793,51.529767 L88.7382793,53.4117666 L87.7439514,53.4117666 L87.7439514,51.6654837 C88.0796105,51.6014579 88.4116555,51.5554675 88.7382793,51.529767 L88.7382793,51.529767 Z M90.8995081,52.5163063 L90.8995081,53.4117666 L89.8794298,53.4117666 L89.8794298,51.6055159 C90.2367734,51.7502504 90.5855336,52.0545987 90.8995081,52.5163063 L90.8995081,52.5163063 Z M89.8794298,66.855394 L89.8794298,64.8227983 L88.7382793,64.8227983 L88.7382793,69.0674424 C88.7125289,69.1134328 88.6858749,69.1594232 88.6601245,69.2054136 L87.7439514,69.2054136 L87.7439514,65.379643 C88.3285313,63.8430223 88.7626744,62.2865626 88.9935247,60.7409242 L90.8823411,63.3578686 L91.2541412,63.3578686 C90.8850517,64.5387399 90.4165746,65.712848 89.8794298,66.855394 L89.8794298,66.855394 Z M90.8995081,69.2054136 L89.8794298,69.2054136 L89.8794298,68.4267329 C90.2426463,67.7310153 90.5850818,67.0199675 90.8995081,66.2985494 L90.8995081,69.2054136 Z M79.3899709,86.6407379 C78.41281,86.6407379 77.9199378,86.8278558 77.7333601,87.3360047 L69.9296255,87.3360047 L69.9296255,87.2543942 L73.6864773,84.8619913 C73.6923502,84.8619913 73.6977713,84.8624422 73.7031925,84.8624422 C75.3123682,84.8624422 76.8573938,84.1838582 78.8139745,83.3240179 C82.0675635,81.8947082 86.5318743,79.9392141 94.196918,80.0041417 C100.042265,80.0041417 102.745156,81.6124533 105.058629,83.0904588 C102.601044,86.2908501 99.4572332,88.2603217 91.943078,88.2603217 C86.8472041,88.2603217 84.2387311,87.6087909 82.3336512,87.1326549 C81.2331593,86.8580651 80.3639695,86.6407379 79.3899709,86.6407379 L79.3899709,86.6407379 Z M50.8860556,83.0891061 C50.7112238,83.2487199 50.6037044,83.4804755 50.6037044,83.7546144 C50.6037044,83.9935842 50.699478,84.3673689 50.8824415,84.8110411 L50.8824415,89.8952356 C49.2448047,87.4351997 47.5041662,83.9448884 45.8290332,78.7164103 C47.3315932,79.2516124 49.2913362,79.4599219 51.403323,79.2489071 C51.0753438,80.4270731 50.9059331,81.7188625 50.8860556,83.0891061 L50.8860556,83.0891061 Z M61.1012951,68.3297924 C62.0472844,68.6354933 63.0370947,68.8546241 64.068467,68.9686983 C63.5674631,70.4584268 62.8690393,71.7091856 62.0771007,72.7570454 C61.5336312,72.6731806 60.9752535,72.627641 60.4060335,72.627641 C59.6122879,72.627641 58.8732055,72.6961758 58.1847204,72.8242275 C59.4772111,71.5076394 60.4543721,69.9583939 61.1012951,68.3297924 L61.1012951,68.3297924 Z M60.4358498,68.0966841 C59.6687582,70.0165582 58.4137637,71.8183 56.7024897,73.2214584 C55.5798615,73.6227472 54.6293545,74.2170154 53.8423853,74.9713483 C52.7328581,75.4546985 51.5063247,75.7960194 50.1650437,75.9547314 L50.1198675,75.9628474 C49.4959843,76.1202067 48.5066258,76.0841358 47.8741592,75.9511243 C52.16409,72.9748235 54.6185122,69.5088602 55.5202289,65.0743929 C56.9437305,66.3702403 58.5976308,67.4054753 60.4358498,68.0966841 L60.4358498,68.0966841 Z M64.5834756,60.5826631 C63.2200582,60.3396353 61.9347957,59.7129033 60.8492119,58.7985058 C60.2953519,57.7420791 59.5517518,56.7929633 58.646421,56.0318672 C58.0835258,54.937566 57.7410903,53.7070971 57.6778436,52.4058391 C60.1991266,53.1930867 63.582823,55.41776 64.5834756,60.5826631 L64.5834756,60.5826631 Z M64.2541412,43.428241 C64.6882843,44.130722 65.2651842,44.2236045 65.5317237,44.2236045 C65.885905,44.2236045 66.4799719,43.9179036 67.3143761,43.3678222 C71.8690393,44.0243128 75.0607369,47.6440284 75.0607369,51.9774971 C75.0607369,54.5006571 73.9728943,56.7780841 72.1717197,58.3764762 C72.3406786,57.6600178 72.4472944,56.9061358 72.4472944,56.1152811 C72.4472944,54.0871943 70.9786166,52.3079968 69.3043871,52.3079968 C67.8049895,52.3079968 67.0198273,53.4627167 67.0198273,54.6039101 C67.0198273,55.0967289 67.2136332,55.4759243 67.4372553,55.9150876 C67.777432,56.5814976 68.2002811,57.4106776 68.2002811,59.1384741 C68.2002811,59.6249805 68.166399,60.0542243 68.1121875,60.440183 C67.3857544,60.6061092 66.6236322,60.7039515 65.8244654,60.7039515 C65.6541512,60.7039515 65.4860958,60.6877196 65.3171368,60.6750948 C64.2911856,54.8830087 60.4448851,52.4757265 57.6715189,51.6749524 C57.8115651,47.6129172 60.7326574,44.2240554 64.2541412,43.428241 L64.2541412,43.428241 Z M66.2174982,43.2690781 C65.9093966,43.4453747 65.6604759,43.5598998 65.5317237,43.5598998 C65.3297862,43.5598998 65.1454673,43.4715261 64.9859954,43.3037964 C65.2638289,43.2704308 65.5430178,43.2510427 65.8244654,43.2510427 C65.9577352,43.2510427 66.0860355,43.2641184 66.2174982,43.2690781 L66.2174982,43.2690781 Z M66.3611585,34.9060381 C60.498193,25.4171349 54.2842084,21.5282401 46.0029616,22.0224115 C45.8529766,22.0372908 45.7499749,22.032331 45.6835659,22.0228624 C45.7088646,21.9858898 45.7486196,21.9367431 45.810511,21.8763244 C46.4786668,21.2883686 49.3048891,20.6539715 52.7075595,20.6539715 C62.3206003,20.6539715 67.6504869,27.5119529 69.1562092,35.1819806 C68.2558478,35.025523 67.3225078,34.9330913 66.3611585,34.9060381 L66.3611585,34.9060381 Z M74.4115551,36.9850751 C73.3390724,20.9596724 65.4034234,7.3181059 58.0017569,3.36157818 C57.9854934,3.34895336 57.9701335,3.33587766 57.9547736,3.32235106 C67.3776227,4.72415673 77.5056721,14.4240748 77.5056721,32.4333774 C77.5056721,34.9862959 77.2341632,37.0206951 76.874109,38.6281049 C76.1137938,38.009038 75.2893284,37.4612111 74.4115551,36.9850751 L74.4115551,36.9850751 Z M72.3465516,67.9095663 C70.3353077,70.7763017 68.7758257,73.6556619 67.805893,76.1224611 C67.3645216,75.4979836 66.8400261,74.952862 66.2450557,74.4920561 C66.933089,72.6524398 67.8641703,70.7258024 68.9791186,68.8018704 C70.1591206,68.608891 71.2844594,68.3086007 72.3465516,67.9095663 L72.3465516,67.9095663 Z M64.5080313,86.993331 C64.5080313,86.3593848 64.5816685,85.8440217 64.7203594,85.4558086 C64.7461098,85.8237319 64.7569521,86.1939095 64.7569521,86.5577748 L64.7569521,87.3360047 L64.5414617,87.3360047 C64.5211324,87.215618 64.5080313,87.0997402 64.5080313,86.993331 L64.5080313,86.993331 Z M71.2248268,59.1123227 C70.5083325,59.5920658 69.7096175,59.9753192 68.8440418,60.245851 C68.8806345,59.9054318 68.9068367,59.5447227 68.9068367,59.1384741 C68.9068367,57.2415952 68.4216444,56.2897742 68.0674631,55.5954092 C67.8691396,55.2076469 67.7268347,54.9276465 67.7268347,54.6039101 C67.7268347,53.8117028 68.2147375,53.0127322 69.3043871,53.0127322 C70.4545728,53.0127322 71.7402871,54.3396907 71.7402871,56.1152811 C71.7402871,57.1938013 71.5369943,58.2001796 71.2248268,59.1123227 L71.2248268,59.1123227 Z M65.7833551,69.0620318 C66.5585785,69.0620318 67.3139243,69.0142378 68.0516514,68.930373 C67.0641,70.6816156 66.2450557,72.4067067 65.6247867,74.056049 C64.7921895,73.5280611 63.8552354,73.1421024 62.8496135,72.9067397 C63.6279992,71.8228089 64.3051902,70.5377828 64.7926413,69.0282153 C65.1197169,69.0489561 65.4490513,69.0620318 65.7833551,69.0620318 L65.7833551,69.0620318 Z M58.682562,83.077834 C58.2515812,83.077834 57.8558378,83.2176088 57.4560285,83.3979633 C57.9303785,82.0164475 58.9116053,80.9857213 60.898454,80.9857213 C63.3262223,80.9857213 64.2559482,82.5218911 64.5875414,84.3606056 C64.0675635,84.8538753 63.801024,85.735809 63.801024,86.993331 C63.801024,87.1015438 63.8159321,87.2183233 63.8317438,87.3360047 L61.2268849,87.3360047 C61.4107519,86.9157786 61.5033631,86.4680484 61.5033631,86.021671 C61.5033631,84.2059516 60.4227487,83.077834 58.682562,83.077834 L58.682562,83.077834 Z M57.3679349,84.2199291 C57.8531272,83.9854682 58.2723622,83.7830202 58.682562,83.7830202 C60.5908041,83.7830202 60.7968075,85.3489485 60.7968075,86.021671 C60.7968075,86.4734591 60.6730248,86.9270508 60.4299769,87.3360047 L57.0399558,87.3360047 L57.0399558,86.5577748 C57.0399558,85.8020893 57.0842285,85.0207033 57.2229194,84.2893656 C57.2712579,84.2663704 57.3204999,84.2429243 57.3679349,84.2199291 L57.3679349,84.2199291 Z M88.3904226,59.9049809 C88.2770304,60.987559 88.0543118,62.078704 87.7439514,63.1675945 L87.7439514,59.0095206 L88.3904226,59.9049809 Z M88.4500552,57.4124812 L87.7615701,56.4471335 L86.4392631,56.4471335 L86.4392631,63.2455979 L87.7227186,63.2455979 C87.596677,63.6829576 87.4534685,64.1198665 87.2998695,64.5554227 L86.4392631,64.5554227 L86.4392631,66.7061506 C85.2339625,69.3848664 83.5999398,71.9697979 81.8335508,74.2869028 L81.8335508,69.6779425 L69.1494328,79.3877801 C68.9836362,78.4562489 68.6796004,77.6212074 68.2734665,76.8749905 C69.3066459,74.1088027 71.1904929,70.687928 73.6634374,67.3509181 C77.1939564,65.6664067 79.9049794,62.8226665 81.440518,59.2056562 C82.931784,58.0347043 84.4957836,57.0098397 86.111284,56.2050075 C86.6881839,55.8731552 87.31026,55.7203047 88.1211726,55.7126396 C88.2436,55.881722 88.3899709,56.4985345 88.4500552,57.4124812 L88.4500552,57.4124812 Z M88.5259512,55.1373086 L91.8703443,55.1373086 C91.9421745,55.5183076 91.9995482,55.9340248 92.0420139,56.3781479 L90.8995081,56.3781479 L90.8995081,60.8473334 L89.1810059,58.4373458 C89.1814577,58.3832395 89.1855235,58.3286822 89.1855235,58.2745759 C89.1855235,57.2352828 89.08975,55.6008198 88.5259512,55.1373086 L88.5259512,55.1373086 Z M71.9200883,100.611451 C71.4498042,100.241725 70.9772613,99.8611766 70.5002008,99.4662001 C68.9167754,98.1067778 67.1530971,96.5972103 65.3758659,95.3662906 L69.8261721,95.3662906 C71.9571328,97.2343127 74.5344343,99.0793397 77.36924,100.611451 L71.9200883,100.611451 Z M81.8335508,106.731332 L81.8335508,102.65081 C83.3383696,103.214418 84.8806847,103.662149 86.4392631,103.964693 L86.4392631,108.202123 C84.96155,107.902735 83.4255597,107.411719 81.8335508,106.731332 L81.8335508,106.731332 Z M92.3880634,100.443271 C91.5373958,100.60063 89.9991467,100.562756 88.0741893,100.247135 L91.7144865,98.7817547 C92.0230399,99.335894 92.256149,99.8922877 92.3880634,100.443271 L92.3880634,100.443271 Z M90.8285815,97.4534435 C90.8285815,97.4538944 90.8290332,97.4543453 90.829485,97.4547961 L86.4392631,99.1284863 L86.4392631,99.9288095 C83.2362715,99.2123511 79.3199478,97.7929609 75.6864271,95.3662906 L81.8335508,95.3662906 L81.8335508,90.6833849 C83.3537295,91.3723393 85.1761369,92.4350784 86.8837968,93.7106359 L86.4392631,93.8567231 L86.4392631,95.9704783 L90.8285815,97.4534435 Z M88.298715,94.8432624 C88.3908744,94.9226184 88.4812268,95.0037779 88.5720309,95.0844866 L88.0556671,94.9181095 L88.298715,94.8432624 Z M86.7893786,72.183518 L86.4392631,71.9900877 L86.4392631,72.6821983 C85.1743299,74.4537308 83.8854533,75.956535 82.7908343,77.0246847 L82.582572,77.2280345 L83.104357,78.0161838 L83.3582472,77.9368278 C85.7403875,77.1915127 88.0412107,76.7532512 90.2309005,76.5548612 L86.4392631,78.5297434 L86.4392631,79.9969276 C83.0343339,80.6962523 80.5514507,81.7896517 78.5289128,82.6787996 C77.2273868,83.2509743 76.1169561,83.7334227 75.0715792,83.9800576 L81.8335508,79.6745438 L81.8335508,75.4285471 C83.542566,73.2692523 85.1585182,70.8506979 86.4392631,68.3189711 L86.4392631,70.9309557 L87.6215239,70.9309557 C87.3477562,71.3601995 87.0699227,71.7777203 86.7893786,72.183518 L86.7893786,72.183518 Z M90.0560687,75.8668086 C88.0281096,76.05573 85.9093465,76.4457467 83.722819,77.0891615 C84.5671619,76.2184999 85.500502,75.1237479 86.4392631,73.8716365 L86.4392631,73.9401712 L90.0560687,75.8668086 Z M90.6316133,161.560916 C90.4504568,161.77689 90.1387411,161.845876 89.2916876,161.845876 C88.461801,161.845876 88.1762875,161.77689 87.995131,161.543782 C87.8306897,161.319691 87.7873206,160.965746 87.7873206,159.680269 C87.7873206,157.523228 87.8049393,157.497979 89.2573537,157.497979 C90.0267041,157.497979 90.3203494,157.540813 90.5277081,157.704936 C90.8046381,157.903326 90.8561389,158.213986 90.8561389,159.723554 C90.8561389,161.043749 90.821805,161.328258 90.6316133,161.560916 L90.6316133,161.560916 Z M106.642506,51.5013611 C108.587341,51.5013611 109.292993,54.5186926 109.292993,56.5472303 C109.292993,67.6516593 95.6276478,73.7931823 94.196918,73.7931823 L94.0889469,73.7931823 C93.4578356,73.7931823 92.618462,73.6056135 92.618462,71.9860298 C92.618462,63.8430223 102.575745,51.5013611 106.642506,51.5013611 L106.642506,51.5013611 Z M109.055366,85.4481435 C109.498093,84.783537 110,84.030106 110,83.2149034 C110,82.7852087 109.845949,82.387527 109.493575,81.9149981 C106.939765,78.7245263 100.489509,75.5408178 92.2046481,75.7401095 L92.2046481,75.1737963 L87.4064853,72.5243881 C87.7588596,72.0121812 88.1076197,71.4796844 88.4482482,70.9309557 L91.9656661,70.9309557 C91.9340428,71.2876068 91.9119064,71.6411017 91.9119064,71.9860298 C91.9119064,73.6060644 92.6853228,74.4979176 94.0889469,74.4979176 L94.196918,74.4979176 C96.3165847,74.4979176 110,67.6999041 110,56.5472303 C110,53.7774354 108.949202,50.7961749 106.642506,50.7961749 C102.690945,50.7961749 93.9086939,60.9699745 92.2046481,69.3127246 L92.2046481,64.495004 L91.6123883,64.495004 C91.7470134,64.1171612 91.8726032,63.7379658 91.9882542,63.3578686 L92.2046481,63.3578686 L92.2046481,62.5949689 C92.6008433,61.1056913 92.8330489,59.6141592 92.8330489,58.1663631 C92.8330489,56.2798547 92.5936151,54.7820102 92.2046481,53.640366 L92.2046481,48.7013569 L90.8995081,48.7013569 L90.8995081,51.4495092 C90.5760466,51.1537277 90.2313523,50.9643555 89.8794298,50.8705711 L89.8794298,49.0291513 L88.7382793,49.0291513 L88.7382793,50.8299913 C88.4130107,50.8547901 88.0818693,50.8958207 87.7439514,50.9575922 L87.7439514,48.7617757 L86.4392631,48.7617757 L86.4392631,51.2777215 C85.2859151,51.6298637 84.0788073,52.1749853 82.8391728,52.8964035 C82.8527256,52.592957 82.8599538,52.2863543 82.8599538,51.9774971 C82.8599538,48.2301806 81.8498143,44.876488 80.0545126,42.1522326 C80.7402871,39.8743548 81.2837567,36.3556377 81.2837567,31.9978212 C81.2837567,28.5255454 80.6250878,16.5211472 72.1468728,7.83572343 C66.8273768,2.31777628 60.5225881,-0.309989371 53.4073386,0.0290771639 C53.2049493,0.0389966636 53.0445738,0.0466617316 52.9298263,0.0466617316 L52.8263729,0.0633445265 C51.6237828,0.455615651 50.7523341,1.78392684 50.3394238,2.54051413 L50.1469732,2.8949108 L50.5318743,3.01574835 C61.8471539,6.56377304 65.9749021,17.3440148 67.1833651,21.5692708 C62.1480273,15.081918 56.1120369,10.1104451 49.2199578,6.77929671 C43.8010742,4.1600979 37.8581468,2.65774458 32.9145166,2.65774458 C24.4372051,2.65774458 18.0940167,5.65568793 14.0606867,11.5686115 C11.0975806,15.9124506 10.0463307,21.0696887 10.0463307,24.1654744 C10.0463307,38.2858822 19.9091959,45.673655 29.6523441,45.673655 C38.4088445,45.673655 44.2921393,40.3527452 44.2921393,32.4333774 C44.2921393,29.8705394 43.5431182,27.5421622 42.4945789,25.571338 C42.757956,25.6606135 43.0890975,25.6317568 43.5133019,25.4789063 C44.049995,25.2160396 45.9324867,24.9324321 48.0372453,24.9324321 C54.7730148,24.9324321 59.8544323,30.5991717 61.4916173,34.8208206 C54.5570726,32.1578858 50.7351672,35.783463 50.7143861,35.8051055 C50.1551049,36.2740273 49.5583275,37.0820156 49.5583275,37.9450121 C49.5583275,38.1091347 49.5474852,38.2335794 49.540257,38.3273637 C49.5248971,38.5203431 49.509989,38.7020503 49.6595221,38.8476866 C49.8140247,38.9987335 50.0028612,38.9793454 50.2901817,38.9495869 L50.5129003,38.9279444 L50.6299066,38.8954805 C51.6219757,38.4098759 52.9619014,37.913901 55.3761169,37.913901 C55.8025801,37.913901 56.2091657,37.9391506 56.6062644,37.9743197 C52.4116555,41.1584791 49.8560386,46.4320459 49.8560386,51.9774971 C49.8560386,52.5852919 49.8894689,53.1894796 49.9495533,53.7887076 C49.8908242,53.9194646 49.8528762,54.0484181 49.8528762,54.171961 C49.8528762,54.4447472 49.9558779,54.6976945 50.1135428,54.9966321 C50.4067363,56.7320937 50.9447847,58.404882 51.7032928,59.9536766 C51.767443,60.6309079 51.7999699,61.3938076 51.7841582,62.2694289 C51.7841582,68.3523367 48.1461199,72.6546942 44.6381889,74.2088995 C44.5121474,73.663327 44.5297661,73.0916031 44.5437707,72.6528907 C44.5478366,72.5261916 44.5514507,72.4107647 44.5514507,72.3102171 C44.5514507,71.4810371 44.0983335,70.9859638 43.3393736,70.9859638 C42.1955125,70.9859638 40.62564,73.6412336 40.62564,74.5772736 C40.62564,75.0421375 40.8709467,75.6125087 41.1085734,76.1639427 C41.1898906,76.353315 41.2766289,76.5548612 41.3457484,76.7401754 C40.007178,76.456117 38.1639896,76.9746363 36.1554563,78.2244933 C31.9522638,80.8409868 27.4287722,86.390496 27.4287722,92.3917933 C27.4287722,96.7937968 28.5532075,99.2412079 29.2249774,100.703432 C29.578707,101.473095 29.8122678,101.981695 29.6939062,102.340601 C29.5104909,103.018283 29.616655,103.682889 29.9852926,104.163534 C30.2563498,104.51748 30.6362815,104.728495 31.0008533,104.728495 C31.8867584,104.728495 36.2399357,103.910587 39.8224074,100.130356 C43.1365325,96.6328303 44.7398354,91.7465749 44.5952716,85.5960342 C45.8403273,89.2116919 48.5658066,93.4076403 52.2083626,97.2825576 C52.5182713,97.5936691 52.6158518,97.9764716 52.4563799,98.2997572 C52.1491818,99.0207244 51.9359502,99.9193409 51.8993575,100.611451 L50.8824415,100.611451 L50.8824415,108.640836 L55.2161932,108.640836 C56.7178496,110.486313 58.7046983,112.283546 61.1211726,113.886898 L53.9368035,113.886898 C51.414617,110.778939 49.872302,107.095197 49.8086036,103.613453 L49.8000201,103.159861 L49.3613593,103.280248 C48.301526,103.571069 47.170766,104.019701 47.170766,105.671298 C47.170766,108.107888 48.0828732,112.353434 50.8824415,116.462812 L50.8824415,121.917635 L56.123331,121.917635 C57.016916,122.584045 57.9886558,123.216188 59.0534585,123.796929 C60.2244253,124.419603 61.5002008,124.95706 62.8279289,125.412455 L62.8279289,132.123898 C59.175886,131.036811 55.7235217,128.759835 52.9338922,125.513905 C48.5915571,120.817472 46.1028009,112.446767 47.0158117,105.610428 L47.018974,105.563536 C47.018974,105.095065 46.8080012,104.287979 46.2387812,103.847463 C46.1493324,103.310908 46.0418131,102.77751 45.6505873,102.597606 C45.5082823,102.531776 45.2760767,102.491648 44.9937255,102.662984 C42.6391427,103.947109 38.1770907,105.318705 32.7175484,105.318705 C24.4091959,105.318705 15.3355587,98.4462952 11.0131011,91.9747234 C10.1055115,90.6707601 9.23406285,90.8628377 8.32918382,91.2041587 C6.68748118,91.9125011 2,95.2368862 2,101.028972 C2,105.202376 3.66293545,108.979451 6.80900512,111.951694 C10.7899307,115.713439 16.661028,117.737919 23.4930228,117.737468 C23.5549142,117.737468 23.6177091,117.737468 23.6800522,117.737017 C10.9868989,123.704047 3.28752133,131.926861 3.28752133,134.606479 C3.28752133,137.148125 7.40804136,137.442103 10.5080313,137.442103 C17.1394438,137.442103 28.9164241,133.593788 34.4337918,128.694908 C32.0209316,134.069924 30.6475755,140.025682 30.6475755,145.186978 C30.6475755,148.044245 31.3780745,151.525989 32.5535589,154.27324 C33.9869993,157.622423 35.9124084,159.46745 37.9747013,159.46745 L38.0822207,159.46745 C43.2711575,159.46745 47.4562795,155.993822 50.2291939,151.481351 C50.1234816,152.250563 50.0615902,153.031499 50.0615902,153.834076 C50.0615902,157.455145 51.3780243,161.101913 53.6232808,163.972707 C47.1305592,164.164333 40.6870796,169.153391 40.6870796,178.529573 C40.6870796,178.676111 40.8650738,193.194651 56.2281397,193.194651 C62.4231503,193.194651 72.1206706,189.807142 79.5133019,180.341234 C78.6852224,183.21338 75.8644212,190.547948 68.2002811,192.951172 L67.9378074,193.033234 L68.0692702,193.274007 C68.3498143,193.788468 68.9425259,194.691594 69.7593113,194.957617 L69.8293344,194.968438 C69.9074892,194.968438 70.0163638,194.973849 70.1541512,194.980161 C70.4301777,194.993688 70.7039454,195 70.9763578,195 C75.475906,195 79.4798715,193.211785 82.8875113,189.676836 C88.649734,183.773832 89.09743,175.578521 89.09743,173.20731 C89.09743,170.507853 88.7857143,168.284082 88.3737075,166.744756 L89.7583576,166.744756 C90.4414215,166.753774 90.5019576,166.762341 90.639745,166.883178 C90.8046381,167.029716 90.8737577,167.331359 90.8737577,167.944565 C90.8737577,168.513583 90.821805,168.867078 90.7178998,169.039768 C90.6144463,169.195323 90.4238028,169.246724 89.9404176,169.246724 L89.7583576,169.246724 L89.7583576,170.912299 L90.1044072,170.912299 L90.4757554,170.920414 C91.2884751,170.920414 91.7379781,170.687757 92.0058729,170.135421 C92.2046481,169.738641 92.2480173,169.393262 92.2480173,168.151521 C92.2480173,167.210972 92.238982,166.943597 92.2046481,166.692904 C92.1183616,165.985914 91.8848007,165.562983 91.4524646,165.295607 C91.0291637,165.028232 90.8303885,165.00208 89.4127598,164.993964 L87.7154904,164.993964 C87.6761871,164.924528 87.6368838,164.858698 87.5975806,164.801436 L87.5578255,164.756798 C87.0983837,164.363174 85.8388716,163.963238 85.3956932,163.963238 C85.1621323,163.963238 84.9714888,164.05567 84.8590001,164.2234 C84.6877824,164.476798 84.7126293,164.86456 84.931282,165.398409 C84.9796205,165.532773 85.0528059,165.697798 85.1427066,165.898442 C85.627447,166.986882 86.5300673,169.012714 86.5300673,172.961126 C86.5300673,185.213061 79.6316635,191.80547 73.218452,192.74647 C73.2085132,192.748274 73.1981227,192.749626 73.1890874,192.750979 C73.2121273,192.72122 73.2378777,192.692815 73.2586588,192.676132 C75.9701335,191.259898 78.7444032,187.910714 80.8699428,183.487519 C83.2195563,178.59946 84.5134023,172.884025 84.5134023,167.392229 C84.5134023,166.878669 84.1339223,166.381792 83.3492119,165.870487 C82.7605662,165.503917 82.2216143,165.294255 81.86924,165.294255 C81.5823712,165.294255 81.2403875,165.521501 81.2403875,166.603629 C81.2403875,166.639699 81.239484,166.669458 81.2376769,166.693806 C81.2259311,166.686592 81.2119265,166.678476 81.1970184,166.668556 L80.9892079,166.515255 C79.6845196,165.548104 78.795904,164.948876 78.3933842,164.948876 C78.3662785,164.948876 78.3328481,164.950679 78.2971589,164.954737 C81.0849814,161.792671 82.6548539,157.789702 82.6548539,153.588343 C82.6548539,151.08908 82.0386507,149.163345 81.2182512,146.500861 L80.2216645,146.500861 C79.937958,144.812742 79.319496,143.035348 78.6287521,141.542013 L80.3775223,141.542013 C81.3695914,145.733001 83.5588294,149.670141 86.4392631,152.783511 L86.4392631,154.376042 L88.052053,154.376042 C88.5982331,154.867057 89.1615802,155.329666 89.7411906,155.759812 C89.6350266,155.757557 89.5306696,155.754852 89.4127598,155.754852 C88.7125289,155.754852 88.2458588,155.771986 88.012298,155.806704 C87.0875414,155.927542 86.6294549,156.358589 86.4650136,157.247286 C86.395894,157.652633 86.378727,158.161683 86.378727,159.81824 C86.378727,161.336825 86.4130609,161.863009 86.5513001,162.34636 C86.7419436,162.993382 87.0699227,163.329743 87.6838671,163.493415 C88.0728341,163.597118 88.3149784,163.614703 89.2831041,163.614703 C90.544875,163.614703 90.9686276,163.562851 91.3919285,163.33876 C91.8161329,163.122786 92.0578255,162.751706 92.1703142,162.113251 C92.238982,161.768323 92.2651842,161.0699 92.2651842,159.697853 C92.2651842,159.1365 92.2570525,158.369091 92.238982,158.05843 C92.2272362,157.772118 92.2023893,157.529992 92.1639896,157.317624 C94.6414517,158.679752 97.308202,159.46745 99.9903122,159.46745 L100.09738,159.46745 C106.232758,159.46745 110,155.928894 110,153.392208 C110,152.715427 109.173276,150.846503 108.023542,150.460995 C104.678245,149.542991 99.4414215,147.019831 95.5702741,144.459698 C94.3640699,143.674254 93.2617709,142.80224 92.2471137,141.880177 C92.2475655,141.763849 92.2480173,141.646167 92.2480173,141.514508 C92.2480173,139.815118 92.238982,139.288933 92.2218151,139.108128 C92.1445638,138.383103 91.8848007,137.977756 91.3490111,137.778915 C91.0377472,137.667095 90.7007329,137.632377 89.7497741,137.632377 L88.9546732,137.632377 L88.9546732,138.381299 C88.7631262,138.146838 88.575645,137.911476 88.3926815,137.675662 L88.3926815,137.632377 C88.3804839,137.632377 88.3714486,137.633279 88.3601546,137.633279 C88.0014557,137.169768 87.6567614,136.706256 87.3287823,136.245 L91.0933139,136.245 C93.5694207,137.856017 96.7434996,139.169449 100.526554,139.169449 C105.9486,139.169449 110,134.309345 110,129.963702 C110,126.059928 108.606766,119.288968 99.4798213,116.88394 C107.04096,112.715496 109.68467,106.091975 109.78451,104.076964 C109.847756,103.187365 109.523843,102.832067 109.24104,102.690939 C108.669561,102.404626 107.824315,102.736479 106.728792,103.681537 C105.078054,105.157739 98.810762,107.877936 92.2046481,108.448758 L92.2046481,104.392584 C95.4270656,104.326755 96.0518522,103.923212 96.0518522,101.784658 L96.0518522,101.676896 C96.0518522,99.0513847 94.3161831,95.9803978 92.1585684,93.6551769 L92.2046481,93.6411994 L92.2046481,92.2357866 C97.1021986,92.5685408 104.502058,91.4778467 108.975404,85.5685302 L109.055366,85.4481435 Z" id="Fill-5"></path>
          <path d="M40.9821894,70.0415957 C43.7130055,70.0415957 45.6206528,67.7306991 45.6206528,64.4223059 C45.6206528,61.0257946 43.3046551,55.6378147 37.0905716,55.6378147 C32.0955024,55.6378147 28.8675078,58.7131356 28.8675078,63.472393 C28.8675078,69.5172932 31.898442,71.5378407 33.5227882,72.6208119 C33.7608129,72.7842709 33.9423499,73.5143292 33.794878,74.0091122 C33.7047564,74.3113572 33.560303,74.3113572 33.5059712,74.3113572 L33.4037758,74.3113572 C31.9631227,74.3113572 26.6744033,70.5575271 26.6744033,64.0002203 C26.6744033,57.832836 30.489698,53.6890834 36.1686571,53.6890834 C44.0644369,53.6890834 48.3251655,58.7840707 48.3251655,63.5781347 C48.3251655,68.1329582 44.8600086,71.5682414 40.2650968,71.5682414 C35.3812782,71.5682414 33.8431729,66.3269782 33.8431729,64.8443915 C33.8431729,61.8457333 35.9690095,60.757475 37.397589,60.757475 C40.0322466,60.757475 41.2594537,63.1961428 41.2594537,64.8443915 C41.2594537,65.6868003 41.103789,66.2661767 40.985639,66.3868984 C40.8437728,66.2538401 40.616097,65.6299642 40.4647444,65.2184527 C40.0658805,64.3971922 39.3039427,63.8667214 38.5243255,63.8667214 C37.4036259,63.8667214 36.6507434,64.7681693 36.6507434,66.1102077 C36.6507434,67.7425951 37.9943756,70.0415957 40.9821894,70.0415957 M38.5243255,64.5553642 C39.1633701,64.5553642 39.6437316,65.0774638 39.8468288,65.4920594 C40.1840304,66.4181804 40.428092,67.0874372 40.9821894,67.0874372 C41.8101014,67.0874372 41.933857,65.6819538 41.933857,64.8443915 C41.933857,62.9185709 40.4919102,60.0688322 37.397589,60.0688322 C35.6977821,60.0688322 33.1687696,61.3403761 33.1687696,64.8443915 C33.1687696,67.0257545 35.2105214,72.2568842 40.2650968,72.2568842 C45.162714,72.2568842 49,68.4448962 49,63.5781347 C49,59.5524603 46.7370404,57.0653275 44.8380172,55.688042 C42.4836424,53.979873 39.3237781,53 36.1686571,53 C30.0860909,53 26,57.4204434 26,64.0002203 C26,70.6161256 31.2684527,75 33.4037758,75 L33.5059712,75 C33.9496803,75 34.2899004,74.7122945 34.4399595,74.2100214 C34.6486623,73.5086015 34.4619509,72.4353233 33.8949174,72.046282 C32.3736291,71.0320429 29.5423424,69.1441131 29.5423424,63.472393 C29.5423424,59.1316965 32.5051463,56.3264575 37.0905716,56.3264575 C42.8135136,56.3264575 44.9458183,61.2923518 44.9458183,64.4223059 C44.9458183,66.8763944 43.7207672,69.352953 40.9821894,69.352953 C37.9969628,69.352953 37.3255779,66.9512947 37.3255779,66.1102077 C37.3255779,65.1510424 37.7848104,64.5553642 38.5243255,64.5553642" id="Fill-7"></path>
          <path d="M6.31499793,53.2229231 C6.70141326,53.2229231 15.8615956,53.3797184 23.7155212,67.0750186 C23.8670834,67.5657553 23.8206589,68.0019143 23.2121345,69.0435157 C22.7820255,69.6605211 22.4160916,69.7770769 20.908207,69.7770769 L20.7998833,69.7770769 C12.2527769,69.7770769 3.2122968,60.2893466 3.2122968,55.1872575 C3.2122968,53.7390986 4.81485081,53.2229231 6.31499793,53.2229231 M8.26528022,64.8419585 C12.1831402,68.4380733 16.7513977,70.5 20.7998833,70.5 L20.908207,70.5 C22.4101747,70.5 23.1374912,70.4024077 23.8083701,69.4375851 C24.4933584,68.2669399 24.6380935,67.6050698 24.3804833,66.8136932 L24.3504439,66.7452399 C17.9129194,55.4999229 9.98480566,52.5 6.31499793,52.5 C3.99741627,52.5 2.5,53.554552 2.5,55.1872575 C2.5,57.8370506 4.7634198,61.6265 8.26528022,64.8419585" id="Fill-9"></path>
          <path d="M20.7399285,155.25088 C18.3371348,157.499967 13.3271476,161.272012 6.76047642,161.272012 L6.65608341,161.272012 C3.49753695,161.272012 1.68644983,160.024432 1.68644983,157.848843 C1.68644983,153.173906 15.0360348,141.727988 23.8445239,141.727988 C25.0090762,141.727988 25.3770835,142.655997 25.6731561,143.401196 L25.724914,143.530513 C26.0082664,144.135696 26.3139888,145.311175 26.3139888,146.153129 C26.3139888,148.081249 24.3993859,151.825385 20.7399285,155.25088 L20.7399285,155.25088 Z M26.3052163,143.11977 C25.99116,142.327124 25.4648087,141 23.8445239,141 C15.1114785,141 1,152.340326 1,157.848843 C1,160.4482 3.11417774,162 6.65608341,162 L6.76047642,162 C18.2401984,162 27,150.748521 27,146.153129 C27,145.193022 26.6640124,143.901252 26.347763,143.226293 L26.3052163,143.11977 Z" id="Fill-11"></path>
          <path d="M5.22131634,74.764087 C7.24777434,72.8519583 10.3649143,71.682514 13.406413,71.682514 C13.4843189,71.682514 13.5626777,71.6829504 13.6401306,71.6846958 C17.858823,71.7898586 22.2201918,72.8663582 25.3164964,74.5707797 C27.5753132,75.7253877 30.2916003,77.9979496 30.2916003,78.5529993 C30.2916003,78.7707429 30.1471121,78.9871773 29.9147534,79.1185216 C29.6099241,79.2908838 29.2339831,79.2808475 28.9164714,79.1119762 C28.6492362,78.9265233 28.3729422,78.7319068 28.0884953,78.5311813 C25.2091494,76.5003627 21.2658451,73.7190053 16.4461,73.7190053 C10.5406554,73.7190053 6.08733952,76.8302508 6.08733952,80.9560328 C6.08733952,86.1474055 10.6765377,90.7012565 15.9084591,90.7012565 C20.2390279,90.7012565 22.8244151,88.8550181 22.8244151,85.7629725 C22.8244151,83.0728143 20.9175335,81.8688975 19.0278637,81.8688975 C16.2921001,81.8688975 14.4400244,83.9167341 13.9753069,85.3907576 C13.8616187,85.3986121 13.5436541,85.3458125 13.1323837,85.0774512 C12.7473839,84.8269807 11.8523725,84.096078 11.8523725,82.7324536 C11.8523725,80.5109458 14.5519008,79.3122654 17.0915409,79.3122654 C18.5445756,79.3122654 20.89851,79.8686241 22.8819386,81.1118133 C24.544685,82.1534041 26.5263018,84.0598601 26.5263018,87.2256506 C26.5263018,89.8429368 22.4117858,92.3179696 18.0599288,92.3179696 L17.9521288,92.3179696 C8.13689751,92.3179696 2.70839971,85.2908312 2.70839971,80.4337101 C2.70839971,78.2759108 3.57714054,76.3153462 5.22131634,74.764087 M17.9521288,93 L18.0599288,93 C22.8615562,93 27.2351545,90.2474423 27.2351545,87.2256506 C27.2351545,80.6671626 19.8001281,78.6297986 17.0915409,78.6297986 C14.2081186,78.6297986 11.1435198,80.0676042 11.1435198,82.7324536 C11.1435198,84.7973082 12.831178,85.9161348 13.7343423,86.0562063 C14.2656421,86.1378056 14.5469184,85.9060985 14.6352419,85.6469008 C15.00303,84.3984754 16.6526411,82.5513643 19.0278637,82.5513643 C20.452816,82.5513643 22.1160154,83.3922296 22.1160154,85.7629725 C22.1160154,88.4278219 19.7955987,90.0187898 15.9084591,90.0187898 C11.0542904,90.0187898 6.79619217,85.7839178 6.79619217,80.9560328 C6.79619217,77.2190474 10.9446787,74.4010357 16.4461,74.4010357 C21.0343923,74.4010357 24.713632,76.9965039 27.6704308,79.0818674 C27.9562365,79.2834656 28.2338894,79.4793912 28.5369069,79.6866621 C29.1044419,79.9929867 29.7535064,80.0004048 30.2730297,79.707171 C30.7214413,79.4540823 31,79.0116135 31,78.5529993 C31,77.4237001 27.4856308,74.9072131 25.6580139,73.9729667 C22.4747446,72.2205457 17.988817,71.11001 13.6568894,71.0022291 C10.3635554,70.9398296 6.93479212,72.1913096 4.72534595,74.2766731 C2.94257021,75.9592766 2,78.0882761 2,80.4337101 C2,86.3773671 8.55179146,93 17.9521288,93" id="Fill-13"></path>
          <path d="M40.5858285,80.1137438 C37.8582851,80.9933391 32,85.8297359 32,93.1947396 L32,93.3049185 C32,96.3830429 32.8076727,99.2408094 34.0198197,101 C37.2522116,99.900965 42,94.1845138 42,84.8408798 C42,83.5214869 42,81.9821951 41.7979755,80.7734403 C41.6967506,80.2234637 41.3935012,79.783666 40.5858285,80.1137438" id="Fill-15"></path>
          <path d="M22.4222985,144.572966 C17.6869025,145.591971 8.2165347,150.573984 5.79856845,156.575002 C5.19407689,158.047004 5.49653478,158.5 6.80605439,158.5 L6.90701509,158.5 C14.0599531,158.5 21.9187676,151.140466 23.4297844,146.044967 C23.6312816,145.138975 23.4297844,144.233455 22.4222985,144.572966" id="Fill-17"></path>
          <path d="M19.9026408,66 L20,65.8991425 C17.7562196,61.4529734 12.0974729,56.6025303 7.31660217,55.1875715 C6.43913698,54.8845771 5.56085019,54.7837196 6.24400778,56.1978343 C8.58514735,61.3516939 13.8536357,65.4948686 19.9026408,66" id="Fill-19"></path>
          <path d="M5.50451067,124 C7.04577366,124 10.0179777,123.032063 10.8991629,122.161525 C11.2296653,121.677758 10.6789825,121.387175 10.2386216,121.387175 C9.35789991,121.387175 6.93591522,121.193992 5.94487153,120.322646 C4.29375009,119.161121 3.8529257,118 2.53230668,118 C1.10090213,118 0,118.77435 0,120.322646 C0,121.387175 1.32108256,124 5.39465223,124 L5.50451067,124 Z" id="Fill-21"></path>
          <path d="M100.750486,97.3047031 C99.3647743,97.5656437 98.5118903,97.0437625 97.7658413,97.0437625 C96.8061224,97.0437625 96.8061224,97.6958417 97.4457853,98.4781188 C98.0854483,99.1307427 100.6441,102 104.268857,102 L104.375243,102 C106.721123,102 108,100.434901 108,98.8698021 C108,97.1739604 107.04073,96 104.801685,96 C103.202752,96 102.349868,96.9130198 100.750486,97.3047031" id="Fill-23"></path>
          <path d="M43.3505712,107.341686 C40.0640308,108.890828 34.9744019,110.328624 32.11196,110.328624 C27.2348268,110.328624 23.7357907,109.111672 19.8131024,107.009958 C13.5578722,103.469523 11.3311317,99.3760545 9.31688683,96.5 C7.51469126,96.721306 5.5,99.5973605 5.5,103.248217 C5.5,109.77559 12.391378,116.523807 23.7357907,116.523807 C28.931221,116.523807 34.4445019,113.979481 37.7314888,112.873413 C38.8975366,112.319917 39.3220815,113.315563 39.2153873,113.979481 C39.2153873,114.864705 39.1095858,115.307317 38.0493395,115.749467 C27.4468761,119.62163 14.8297214,127.808567 9.95258822,133.561138 C8.68073903,135.109818 8.15039265,136.105926 10.0592825,136.105926 C21.4036951,136.105926 35.292699,128.804213 40.9122278,116.081657 C41.5483756,117.076841 42.0782756,117.519915 42.0782756,119.17948 C42.0782756,121.945112 34.7627991,130.463316 34.7627991,146.284156 C34.7627991,151.262387 35.9288468,155.5767 36.9890932,157.457108 C37.5189931,158.232372 37.9435381,158.785406 39.1095858,158.342332 C45.4710639,156.129734 49.5,149.049789 49.5,140.309355 L49.5,140.199395 C49.5,133.561138 48.5460015,129.799397 46.1072117,124.378555 C43.5626205,118.073412 43.2447698,113.315563 43.3505712,107.341686" id="Fill-25"></path>
          <path d="M106.5,55.4561184 C106.5,54.3862881 105.910714,54.2790817 105.125,54.8142202 C100.607143,58.3439903 95.6964286,67.1148123 95.5,71.5 L95.5984211,71.5 C101,68.5053684 106.5,63.6918019 106.5,55.4561184" id="Fill-27"></path>
          <polygon id="Fill-29" points="91.5 83.5 90.1413853 83.5 90.1413853 87.8917612 89.0803494 87.8917612 89.0803494 83.8055906 87.8928543 83.8055906 87.8928543 87.8917612 86.8581446 87.8917612 86.8581446 83.5563262 85.5 83.5563262 85.5 89.5 91.5 89.5"></polygon>
          <polygon id="Fill-31" points="91.5 42.5 90.0158662 42.5 90.0158662 46.6602589 85.5 46.6602589 85.5 48.5 91.5 48.5"></polygon>
          <polygon id="Fill-33" points="91.5 36.5 90.1413853 36.5 90.1413853 40.8913409 89.0803494 40.8913409 89.0803494 36.8055906 87.8928543 36.8055906 87.8928543 40.8913409 86.8581446 40.8913409 86.8581446 36.5563262 85.5 36.5563262 85.5 42.5 91.5 42.5"></polygon>
        </g>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
