{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg width="246px" height="139px" viewBox="0 0 246 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-35" transform="translate(123.000000, 69.500000) rotate(-270.000000) translate(-123.000000, -69.500000) translate(54.000000, -53.000000)" fill="#FEFEFE">
          <path d="M100.720986,213.326131 L101.910308,213.151738 C101.405095,220.56959 96.9211188,227.941048 87.9222466,227.941048 C85.030659,227.941048 82.7309717,227.336821 82.2174761,226.934934 C82.160053,226.868978 82.1219549,226.818672 82.0976605,226.780664 C82.1534272,226.775633 82.2384577,226.776192 82.3643469,226.789048 C89.9370266,227.244594 95.4192822,223.216786 100.720986,213.326131 M82.4079664,226.231773 C82.1103598,226.203266 81.6984591,226.197677 81.546619,226.501188 C81.3831838,226.827616 81.6901769,227.175843 81.8414648,227.340734 C82.54269,227.898009 85.0671006,228.5 87.9222466,228.5 C92.3902104,228.5 96.1398325,226.72924 98.7669422,223.377205 C100.9562,220.584681 102.275277,216.842498 102.481779,212.840402 L102.5,212.5 L100.367061,212.813013 L100.300803,212.9371 C95.0267066,222.829432 89.8437139,226.687878 82.4079664,226.231773" id="Fill-1"></path>
          <path d="M26.8848304,36.7912149 C28.6784945,38.694328 30.8491492,39.6592086 33.3359351,39.6592086 C39.7667533,39.6592086 44.1131344,37.6145278 46.6049919,33.4130224 C47.4378652,34.0609026 48.2713019,35.2756084 48.2713019,36.9288963 C48.2713019,41.5845285 42.0078473,43.7535667 37.7747324,43.7535667 C31.9671604,43.7535667 28.1454105,40.9805065 25.9623585,38.654356 C22.6545331,35.1301546 21.1099421,30.5317047 21.2665989,28.5580853 C21.331403,27.4460854 20.9391975,27.1862671 20.5999622,27.1646156 C20.0618067,27.1285297 19.5856376,27.8213784 19.521397,28.7263009 C18.4986197,33.9770723 20.0871648,39.7330458 23.7697267,44.1238632 C27.339586,48.379775 32.4106456,50.8208452 37.6823162,50.8208452 C44.5216818,50.8208452 49.055713,47.9439687 51.1638177,42.2629428 C51.1745244,42.3445524 51.1733974,42.4439273 51.1480393,42.5532952 L51.1362055,42.6038154 L51.1378961,42.655446 C51.2404555,46.1557752 50.2154241,49.0221035 48.0926681,51.175597 C45.5805241,53.722149 41.5164633,55.1827939 36.9424227,55.1827939 C24.3523999,55.1827939 16.8283651,43.8584933 16.8283651,32.9105961 C16.8283651,30.5139393 17.3090423,24.5730951 21.7405139,21.1887958 C22.112433,20.9273121 22.2944479,20.8495887 22.3755939,20.8268268 C22.4071506,20.9239811 22.4544858,21.1943475 22.382356,21.8860858 L22.3817925,21.8971892 C22.0318505,26.5539317 23.4665564,33.1648627 26.8848304,36.7912149 M23.2084671,21.9638093 C23.2907401,21.1615926 23.2980658,20.3815827 22.7999197,20.096782 C22.3254412,19.8253052 21.7562923,20.1745054 21.2457489,20.5331434 C16.5111069,24.1489474 16,30.3940232 16,32.9105961 C16,47.3632639 26.6475911,56 36.9424227,56 C41.7390512,56 46.0200647,54.4488628 48.6866115,51.7446434 C50.9632068,49.4368134 52.0665666,46.3878351 51.9685152,42.6804285 C52.0969964,42.0247761 51.8214382,41.3946613 51.3390704,41.2603108 C51.0437893,41.1787012 50.6250986,41.2925105 50.4227972,41.8809877 C48.4651506,47.2711061 44.178502,50.0036391 37.6823162,50.0036391 C32.6585917,50.0036391 27.8208266,47.6708265 24.4087513,43.6036716 C20.8817191,39.39828 19.3591051,33.8943524 20.341873,28.832893 C20.3570878,28.6252605 20.3976608,28.4526035 20.444996,28.3176979 C20.444996,28.3726594 20.4433054,28.434283 20.4393608,28.5031237 C20.2776324,30.5367012 21.7275531,35.3455595 25.3532002,39.208968 C27.6483915,41.6550347 31.6668076,44.5702177 37.7747324,44.5702177 C45.5867227,44.5702177 49.1002306,40.1016769 49.1002306,36.9288963 C49.1002306,35.0946239 48.15071,33.3447369 46.6810663,32.4714589 L46.3091473,32.2499471 L46.1023377,32.6274608 C43.8094005,36.8089802 39.6337641,38.8420025 33.3359351,38.8420025 C31.089206,38.8420025 29.1231068,37.9648383 27.4922982,36.2354925 C24.2368796,32.7817973 22.8731765,26.4428982 23.2084671,21.9638093" id="Fill-3"></path>
          <path d="M135.498695,107.060906 C130.42315,113.771898 121.574265,115.465021 115.25581,115.031726 L115.25581,114.735528 L108.049079,111.755498 L108.049079,113.979519 L111.359929,115.28166 L111.28087,115.440196 L111.589763,115.657972 C111.929149,115.897187 112.269099,116.164611 112.607356,116.444448 L109.620646,117.425003 C107.148379,115.515233 104.445149,113.952438 102.291939,113.013068 L102.291939,110.282408 C102.429161,110.316823 102.559043,110.347854 102.702477,110.383397 C105.128438,110.989897 108.450582,111.820943 114.928848,111.820943 C123.731428,111.820943 128.444433,109.868296 132.317727,104.616288 L132.59669,104.237719 L132.094105,103.915005 C129.182499,102.048678 125.559934,99.7259239 117.749536,99.7259239 C114.699578,99.6915085 112.05056,99.9132336 109.722292,100.288981 L115.25581,97.3382887 L115.25581,96.1467279 C125.308641,95.8866382 133.102098,99.7044848 136.167867,103.537564 C136.563159,104.069028 136.616241,104.385536 136.616241,104.625315 C136.616241,105.379068 136.067915,106.203343 135.5834,106.931143 L135.498695,107.060906 Z M119.181056,127.726475 L119.181056,127.861315 C119.181056,129.692099 119.179362,130.156988 115.25581,130.241052 L115.25581,127.935788 L113.624385,127.935788 L113.624385,130.256849 C113.566785,130.256849 113.512009,130.257413 113.453845,130.257413 C112.706744,130.257413 111.963031,130.215099 111.221012,130.154167 L109.701963,128.022108 L108.049079,128.022108 L108.049079,129.71918 C106.084479,129.342304 104.157715,128.783195 102.291939,128.079091 L102.291939,126.393303 L98.4299393,126.393303 C94.7051626,124.537131 91.3344544,122.204222 88.5544248,119.830128 L93.1494077,119.830128 C98.0843414,123.385628 103.569295,125.488913 108.049079,126.488087 L108.049079,126.761153 L108.487288,126.584562 C111.935925,127.309541 114.737978,127.371602 116.135052,126.930973 L116.501544,126.815879 L116.437732,126.436746 C116.265498,125.41839 115.849877,124.396649 115.25581,123.391834 L115.25581,120.942138 L112.660438,120.104886 C112.247641,119.684004 111.815079,119.271584 111.365011,118.870447 L114.264193,117.976777 C116.962905,120.764984 119.181056,124.539952 119.181056,127.726475 L119.181056,127.726475 Z M113.624385,133.526871 L111.889055,131.091844 C112.41084,131.122875 112.932625,131.139236 113.453845,131.139236 C113.513703,131.139236 113.565091,131.138672 113.624385,131.138672 L113.624385,133.526871 Z M112.246511,136.336517 C111.409058,136.336517 110.552969,136.277842 109.679939,136.165005 L109.679939,131.227813 L113.348246,136.315643 C112.981189,136.328055 112.613568,136.336517 112.246511,136.336517 L112.246511,136.336517 Z M133.994328,130.8972 C135.263779,129.800987 135.952151,129.681944 136.156008,129.784061 C136.309043,129.860791 136.382454,130.198738 136.349137,130.676603 C136.226032,133.160714 132.812406,141.529285 122.912044,146.516125 L121.802969,147.074669 L123.01595,147.340965 C128.095447,148.455797 136.616241,151.98873 136.616241,163.121248 C136.616241,168.142503 131.930341,173.757846 125.658192,173.757846 C121.578218,173.757846 118.083275,172.479965 115.25581,170.812231 L115.25581,167.827123 C117.979934,169.411357 121.033844,170.72309 123.512323,170.72309 C128.799066,170.72309 132.940029,165.959667 132.940029,159.878871 C132.940029,154.642096 127.024772,149.711111 122.439953,149.711111 C118.112075,149.711111 116.49872,153.213577 116.49872,155.421237 C116.49872,157.699984 118.980587,160.590873 121.769652,160.590873 C124.189401,160.590873 125.304688,159.180408 125.54864,157.841595 C125.622616,157.671775 125.71918,157.560066 125.816309,157.532985 C125.912873,157.50534 126.048966,157.551603 126.234188,157.689265 C127.072207,158.196468 127.496863,159.024129 127.496863,160.14968 C127.496863,160.819933 127.221288,164.16612 121.769652,164.16612 C119.772864,164.16612 117.18201,162.937323 115.25581,160.937284 L115.25581,159.205233 L113.904477,159.218209 C113.447069,158.491537 113.085659,157.703934 112.851872,156.866682 L115.25581,154.96199 L115.25581,151.443162 L113.166976,151.443162 C113.487162,150.634119 113.891489,150.001666 114.282263,149.559909 C114.591156,149.448764 114.814778,149.277816 114.931671,149.038037 C114.978541,148.94551 115.0192,148.854112 115.055906,148.759329 L115.516703,148.29444 L115.168846,148.375682 C115.268234,147.916999 115.300422,147.264236 115.307763,146.034875 C122.244002,144.433151 126.539692,141.252834 130.675572,136.808177 L130.883383,136.584759 L130.258257,135.323239 L129.840377,135.599126 C125.622616,138.387333 118.675648,140.119385 111.710609,140.119385 C106.31036,140.119385 101.448273,138.596647 97.1141828,136.440328 L102.291939,136.440328 L102.291939,135.010116 C105.823022,136.478692 109.14799,137.218904 112.246511,137.218904 C121.889933,137.218904 131.53392,133.099782 133.994328,130.8972 L133.994328,130.8972 Z M110.922849,168.822347 L109.679939,168.822347 L109.679939,167.629094 C110.065066,168.001456 110.477299,168.381718 110.922849,168.766493 L110.922849,168.822347 Z M109.679939,163.915057 C110.040219,164.222539 110.45697,164.559922 110.922849,164.91818 L110.922849,167.594114 C110.471087,167.182258 110.057725,166.778301 109.679939,166.390141 L109.679939,163.915057 Z M108.049079,164.565 C107.534635,163.935368 107.197508,163.46258 107.054073,163.253831 C107.150637,163.141558 107.466871,162.949171 107.910727,162.862286 C108.311665,162.782736 108.538676,162.84931 108.56917,162.879776 C108.604746,162.918141 108.646534,162.961019 108.687757,163.003333 L108.049079,163.003333 L108.049079,164.565 Z M112.367922,168.822347 C112.361146,168.817269 112.355499,168.812192 112.349287,168.807114 L112.349287,165.962488 C112.756438,166.247966 113.181094,166.536265 113.624385,166.823436 L113.624385,168.822347 L112.367922,168.822347 Z M112.12623,157.441587 C112.333476,158.058807 112.603403,158.656844 112.928107,159.228364 L109.831844,159.259394 L112.12623,157.441587 Z M112.650274,153.470846 L113.527256,153.461819 L112.58025,154.215572 C112.594368,153.959995 112.616956,153.711754 112.650274,153.470846 L112.650274,153.470846 Z M106.184996,166.401425 C105.342461,165.043993 103.991128,164.841451 103.260968,164.841451 C102.147375,164.841451 101.02757,165.767844 100.357268,167.560827 L96.415646,167.560827 C99.9659296,164.776005 102.08921,161.235738 102.489584,158.735266 C102.917629,156.148473 102.730712,154.555776 101.917541,153.864084 C101.44432,153.461255 100.811289,153.39186 100.035388,153.65195 C97.6675911,154.446324 92.5039529,154.95804 86.436791,153.751247 L86.436791,153.053348 L102.291939,153.053348 L102.291939,150.698436 C102.704171,150.709156 103.111886,150.726645 103.529201,150.728338 C106.761558,150.728338 109.879844,150.412394 113.023542,149.764144 C112.72425,150.236932 112.448675,150.802246 112.222794,151.443162 L108.049079,151.443162 L108.049079,153.515981 L111.752397,153.479309 C111.702703,153.884959 111.67108,154.304149 111.67108,154.745906 C111.67108,154.809095 111.675033,154.87172 111.676727,154.934345 L108.049079,157.823541 L108.049079,161.309646 L114.441509,161.309646 C116.477261,163.561313 119.305855,165.048507 121.769652,165.048507 C128.061565,165.048507 128.380622,160.96775 128.380622,160.14968 C128.380622,158.336386 127.462416,157.400402 126.729432,156.959772 C126.356164,156.677679 125.948449,156.578947 125.578004,156.683321 C125.3109,156.757794 124.944408,156.969928 124.711186,157.554424 L124.686339,157.645823 C124.583563,158.265863 124.093966,159.707922 121.769652,159.707922 C119.509713,159.707922 117.382479,157.293206 117.382479,155.421237 C117.382479,153.554346 118.755835,150.593498 122.439953,150.593498 C126.549857,150.593498 132.056269,155.184279 132.056269,159.878871 C132.056269,165.464876 128.303822,169.840139 123.512323,169.840139 C121.115162,169.840139 118.000828,168.444342 115.25581,166.801997 L115.25581,162.927168 L113.624385,162.927168 L113.624385,165.770101 C113.179964,165.473903 112.75192,165.177706 112.349287,164.88715 L112.349287,163.337895 L110.922849,163.337895 L110.922849,163.805041 C110.164454,163.196849 109.566999,162.660308 109.207283,162.269891 C108.647099,161.705705 107.381601,161.963538 106.719205,162.39514 C106.000904,162.865107 106.142644,163.40052 106.203632,163.553978 L106.24542,163.634657 C106.328431,163.76047 106.945086,164.673887 108.049079,165.925252 L108.049079,169.35776 C107.374824,168.340532 106.754781,167.346437 106.184996,166.401425 L106.184996,166.401425 Z M109.409447,172.813963 C108.684369,172.980398 108.334818,173.383791 108.134914,174.174215 C108.08409,174.388042 108.050773,174.645875 108.02875,175.057731 C106.040433,172.403236 105.001945,170.378372 104.729759,169.81475 C104.545666,169.44408 104.172397,169.264669 103.791788,169.354375 C103.323085,169.463827 102.819371,170.012215 102.821629,170.999541 C103.368826,176.661147 105.350931,181.531201 108.049079,185.452858 L108.049079,185.87374 L108.335948,185.87092 C108.96672,186.754999 109.635328,187.584917 110.329912,188.365186 L108.049079,190.181301 L108.049079,190.39287 C104.90764,186.777002 102.520078,182.328396 101.372603,177.60898 L102.291939,177.60898 L102.291939,167.560827 L101.311615,167.560827 C101.859941,166.313412 102.633019,165.724402 103.260968,165.724402 C103.808164,165.724402 104.817287,165.872219 105.431119,166.861237 C106.20702,168.148145 107.075532,169.525887 108.049079,170.931274 L108.049079,170.980923 L108.083526,170.980923 C108.504794,171.588551 108.945826,172.200129 109.409447,172.813963 L109.409447,172.813963 Z M111.193342,175.034035 L111.193342,177.628726 L112.53338,177.628726 L112.53338,176.537026 C112.89366,176.921237 113.26467,177.301498 113.645844,177.676682 C113.645279,178.138186 113.64302,178.199118 113.635114,178.363297 C113.624385,178.935381 113.559444,179.237785 113.397375,179.486027 C113.221752,179.74386 112.908907,179.852183 112.216017,179.878136 C111.275223,178.937074 110.430429,178.014065 109.680504,177.128858 L109.679939,177.100084 L109.691233,176.3232 L109.691233,175.77199 C109.713257,175.113585 109.929538,174.865343 110.490852,174.865343 L110.490852,174.190577 C110.720121,174.47267 110.953908,174.753634 111.193342,175.034035 L111.193342,175.034035 Z M112.53338,174.854624 L112.630509,174.854624 L112.706179,174.854624 C112.92246,174.854624 113.019024,174.865343 113.105988,174.887347 C113.536856,175.053781 113.638503,175.301459 113.645844,176.417983 C113.26467,176.024746 112.892531,175.628123 112.53338,175.226987 L112.53338,174.854624 Z M118.977199,181.997219 C123.882203,185.244109 130.534397,188.449814 134.771923,189.612601 C135.765799,189.946599 136.616241,191.912787 136.616241,192.436916 C136.616241,194.848811 132.7757,199.155807 125.121725,199.155807 L124.98789,199.155807 C120.177756,199.155807 115.406586,197.054779 111.374611,193.66797 L115.25581,193.66797 L115.25581,192.755681 C118.660401,195.117928 122.234966,196.390732 125.256124,196.390732 L125.390523,196.390732 C128.627397,196.390732 131.440179,195.210455 133.750941,192.882623 L134.282891,192.346646 L133.554425,192.146925 C125.025725,189.80386 118.715177,185.763724 114.199817,181.748412 C114.712567,181.487759 115.020329,181.045437 115.180705,180.317073 C115.236046,180.057547 115.269928,179.730883 115.289128,179.194907 C116.429826,180.189567 117.652972,181.134578 118.977199,181.997219 L118.977199,181.997219 Z M111.88849,189.987221 C112.476345,190.553099 113.077753,191.083998 113.688761,191.578789 L109.831844,191.617154 L111.88849,189.987221 Z M109.692363,178.483468 C110.094995,178.937074 110.521346,179.399142 110.970849,179.866288 C110.767556,179.856697 110.595886,179.845413 110.512875,179.831308 C110.05829,179.777711 109.853303,179.604506 109.756174,179.205062 C109.70648,179.007597 109.695186,178.957949 109.692363,178.483468 L109.692363,178.483468 Z M111.087177,187.763199 C110.576687,187.149365 110.089348,186.512963 109.624034,185.858507 L113.527256,185.820707 L111.087177,187.763199 Z M115.25581,187.320313 L115.25581,183.80205 L108.272701,183.80205 C105.717988,179.594915 104.085998,174.916684 103.702565,170.957227 C103.702565,170.519983 103.863505,170.301643 103.952163,170.235633 C104.284773,170.918862 105.550836,173.360659 107.997126,176.460297 C107.995997,176.689921 107.994867,176.937598 107.994867,177.219127 C107.994867,178.589535 108.02762,179.464023 108.091996,179.961071 C108.221878,180.889157 108.513264,181.396925 109.075708,181.720203 C109.58281,182.001168 110.198901,182.087488 111.744491,182.087488 C112.397852,182.087488 112.851872,182.074512 113.204247,182.036147 C117.701536,186.131573 124.016038,190.300908 132.570713,192.785583 C130.541738,194.592671 128.129329,195.508345 125.390523,195.508345 L125.256124,195.508345 C121.594029,195.508345 118.209203,194.082647 115.25581,191.818004 L115.25581,191.562992 L114.94353,191.566377 C114.123017,190.914178 113.336952,190.200483 112.589286,189.432626 L115.25581,187.320313 Z M99.3814627,183.813897 L96.6257153,183.813897 C96.4179048,182.150677 95.8464261,180.056419 94.5730223,177.60898 L97.3095698,177.60898 C98.183729,179.413247 99.0053709,181.64968 99.3814627,183.813897 L99.3814627,183.813897 Z M100.899947,209.310027 L101.174957,209.513134 C101.31218,209.602839 101.599049,209.790713 101.853165,209.649667 C102.082999,209.524982 102.115187,209.248531 102.115187,208.96813 C102.115187,208.091949 102.302668,207.89392 102.33655,207.89392 C102.592925,207.89392 103.135039,208.060919 103.882705,208.526372 C104.663688,209.035832 105.07705,209.530059 105.07705,209.954891 C105.07705,224.27506 97.9589775,237.615802 91.2751606,241.114884 C91.0481503,241.281883 90.7386934,241.664965 90.8736573,241.98373 C90.9707861,242.216175 91.2215139,242.29911 91.6094644,242.238178 C99.8541186,241.026871 108.727286,232.588341 108.727286,216.923153 C108.727286,211.862404 107.522776,209.157132 106.943956,207.856684 C106.838922,207.62029 106.752522,207.427338 106.69097,207.258647 C106.413701,206.579367 106.506877,206.356513 106.542453,206.304044 C106.584241,206.241983 106.675158,206.228443 106.744617,206.228443 C107.135955,206.228443 108.31223,206.600241 108.887662,206.953986 L108.049079,206.953986 L108.049079,209.14472 L109.882103,209.14472 C110.408405,211.060132 110.807085,213.907578 110.807085,217.231198 C110.807085,220.144655 110.259324,230.211425 103.203933,237.446547 C98.8032075,242.015889 93.5989108,244.193083 87.7197947,243.911554 C87.5628074,243.904784 87.4340553,243.898578 87.3346677,243.896885 C86.8004593,243.705062 86.2363217,243.157237 85.7529365,242.366249 C97.1107946,238.582817 99.9896471,226.332647 100.283292,224.935722 L99.7790132,224.710612 C90.5698474,237.233284 78.1351019,241.676813 70.2851747,241.676813 C51.6392681,241.676813 51.4235519,224.069132 51.4235519,223.89085 C51.4235519,212.316574 59.4886307,206.251575 67.4706982,206.229571 C67.9021308,206.744109 68.3578456,207.236643 68.8372779,207.703225 C68.9084304,207.77262 68.9835358,207.836937 69.0558177,207.905204 C68.5718678,207.856119 68.0805767,207.822833 67.5768623,207.822833 C60.5666474,207.822833 53.3153047,213.786843 53.3153047,223.767293 C53.3153047,225.50555 53.6631613,229.818188 56.8972116,232.322045 C57.150763,232.503149 57.4319847,232.683688 57.6934419,232.683688 C57.7804061,232.683688 57.8651114,232.663378 57.9458639,232.61655 C58.2858147,232.419085 58.2801677,231.878595 58.2242621,231.332463 C57.9978165,228.227183 58.9227989,223.842894 61.1307851,221.471056 C62.2415546,220.277238 63.583852,219.671867 65.1209718,219.671867 C69.4996737,219.671867 72.2621976,221.03494 73.8139996,223.961373 L73.9534811,224.224848 L74.2087265,224.070825 C75.2093791,223.46771 75.856528,222.259788 75.856528,220.992626 C75.856528,219.750289 75.1258031,218.420502 73.9015285,217.435434 C72.8918407,216.622442 71.0729344,215.654298 68.1438234,215.654298 C64.8583852,215.654298 61.9400035,216.928795 59.7037823,219.341254 C57.2224802,222.017188 56.2291688,225.380865 56.3381563,226.806563 C56.3409798,226.852826 56.3421092,226.894576 56.3421092,226.931248 C56.3093565,226.836465 56.279992,226.710087 56.2675685,226.551551 C55.6029139,223.088013 56.6397074,219.287656 59.0413864,216.383791 C61.3651365,213.574709 64.65961,211.963958 68.0805767,211.963958 C72.5016314,211.963958 75.4211425,213.830285 76.7527106,217.498622 C76.9288977,218.075785 77.3117659,218.005826 77.387436,217.985515 C77.7121398,217.899759 77.8967975,217.471541 77.8092686,217.020757 C77.8550095,215.274601 77.5161881,213.74735 76.818216,212.445773 C77.4258358,212.636467 78.0424907,212.798389 78.6670515,212.931537 C79.1284133,214.140023 79.3847882,215.473759 79.3847882,216.923153 C79.3847882,221.391506 76.4918181,225.243768 74.0037396,227.193595 C73.7693881,227.397266 73.6812945,227.39106 73.6801651,227.388803 C73.6011068,227.375262 73.4288726,227.072295 73.3628024,226.956072 C71.2440393,223.309738 68.8152545,222.807048 66.5061866,222.807048 C62.739622,222.807048 59.6755471,226.585402 59.6755471,231.229217 C59.6755471,235.099533 61.6034409,239.712882 70.7883245,239.712882 C79.8173502,239.712882 87.6458187,235.75681 94.0540608,227.954681 L94.7413036,227.117994 L93.7327452,227.512924 C91.4637712,228.402081 88.9994102,228.912105 86.9715641,228.912105 C81.0772011,228.912105 78.4383471,226.328133 78.4383471,223.767293 C78.4383471,223.517923 78.4902997,223.335691 78.5761344,223.279272 C78.6602751,223.225674 78.8313799,223.249934 79.0657314,223.353745 C79.6270455,223.560237 81.3059055,223.864897 83.1310235,223.864897 C89.5217599,223.864897 94.0958488,218.375932 95.3014883,214.477971 L95.4810636,213.899116 L94.922573,214.134381 C89.1620445,216.561509 85.9099237,213.749042 85.7687481,213.623793 C85.6518547,213.525625 85.5338319,213.403196 85.4242797,213.267227 C86.4012147,213.166802 87.3544323,213.007138 88.2794147,212.780899 C88.6154126,212.80798 88.969481,212.827162 89.3647726,212.827162 C93.8863442,212.827162 96.5545628,210.555749 97.1904176,208.312546 C97.3632165,207.763593 97.6478265,207.461753 97.9917302,207.461753 C98.4084806,207.461753 100.283857,208.853036 100.899947,209.310027 L100.899947,209.310027 Z M67.2578054,177.60898 L71.3761796,177.60898 C70.0287998,179.642306 69.4979796,182.033891 69.4319094,183.813897 L65.7427091,183.813897 C66.475128,181.733744 66.9844895,179.627637 67.2578054,177.60898 L67.2578054,177.60898 Z M61.5334178,190.371995 C57.8272764,196.036423 52.8799192,199.155807 47.6027758,199.155807 L47.4683767,199.155807 C42.6672774,199.155807 39.1926639,189.01005 39.1926639,182.169859 C39.1926639,175.461124 41.0832873,167.652225 44.3805843,160.744332 L44.5946065,160.294676 L43.4589901,159.91385 L43.2652972,160.108494 C36.9479721,166.472512 21.6168683,171.59645 13.1350392,171.59645 C7.73196717,171.59645 4.99316083,170.699394 4.99316083,168.930671 C4.99316083,166.223142 14.4411957,155.437034 31.9554387,147.718406 L31.7527106,146.874383 C22.4289102,147.386664 14.383596,144.922864 9.11831141,139.942794 C5.36699378,136.394064 3.38375916,131.889039 3.38375916,126.91574 C3.38375916,120.025336 9.20358147,116.104808 10.74296,115.440196 C11.7582948,115.05655 12.2840327,115.000696 13.0362162,116.082804 C18.5618286,124.363926 30.2042968,133.166356 40.8969355,133.166356 C47.8873858,133.166356 53.6264557,131.39312 56.6826247,129.724822 C56.6910953,129.719744 56.6990011,129.715231 56.7063422,129.711281 C56.8125063,129.890692 56.8989057,130.410308 56.9463407,130.701992 L56.9909522,130.970544 L57.1643158,131.075483 C57.6499598,131.36886 57.8809231,132.124305 57.8899583,132.562677 C56.7102952,141.490356 59.8438284,152.008476 65.5072282,158.139485 C69.1619817,162.396833 73.7163061,165.362759 78.5349112,166.739937 L78.5349112,167.560827 L71.6771659,167.560827 C69.6453669,166.359111 67.93206,164.97742 66.7049619,163.634093 L66.5733862,163.490789 L65.3220058,163.490789 L65.4067112,164.004199 C65.4580991,164.314501 65.5343339,164.690249 65.6229922,165.130314 C65.7545678,165.780256 65.9177668,166.594377 66.0736246,167.560827 L63.6030519,167.560827 L63.6030519,177.60898 L66.3616228,177.60898 C66.0736246,179.643435 65.5343339,181.752926 64.7844092,183.813897 L64.5269049,183.813897 C64.0779666,184.89657 63.699616,185.979807 63.3969355,187.074892 C62.8361861,188.221318 62.2150136,189.329944 61.5334178,190.371995 L61.5334178,190.371995 Z M97.0656184,158.820458 C97.1147475,158.80861 97.1548414,158.800147 97.1864647,158.794505 L97.1864647,158.798454 C97.1864647,160.962108 93.0680906,165.842881 86.436791,166.62315 L86.436791,159.248675 C90.2745081,159.727669 94.0241316,159.620473 97.0656184,158.820458 L97.0656184,158.820458 Z M74.2358322,154.628556 C73.3260968,154.132072 72.4762198,153.602866 71.6715189,153.053348 L78.5349112,153.053348 L78.5349112,156.498268 C77.0254618,155.964548 75.5753062,155.341123 74.2358322,154.628556 L74.2358322,154.628556 Z M59.8466519,132.724599 C59.8466519,131.583815 60.3684369,131.102 61.398454,130.747127 C61.6226408,134.914204 63.4268648,139.255052 66.3079761,143.004632 L63.6030519,143.004632 L63.6030519,144.617075 C60.787446,140.019524 59.8466519,135.439462 59.8466519,132.724599 L59.8466519,132.724599 Z M86.436791,167.560827 L86.436791,167.51005 C93.359477,166.728089 98.0702239,161.652107 98.0702239,158.798454 C98.0702239,158.656844 98.0702239,158.281096 97.7788375,158.054857 C97.5010039,157.83821 97.1362062,157.892936 96.8453845,157.966844 C93.8710973,158.747678 90.1965792,158.845282 86.436791,158.36516 L86.436791,154.640404 C92.621411,155.837042 97.887825,155.303886 100.31661,154.488073 C101.015147,154.253936 101.262486,154.464942 101.345497,154.535465 C101.593966,154.747035 102.11914,155.566797 101.617684,158.593655 C101.272651,160.752795 99.0494177,164.688556 94.964361,167.560827 L86.436791,167.560827 Z M91.729746,183.813897 C91.3209015,181.765338 90.1762499,179.497875 88.4443078,177.60898 L93.5797109,177.60898 C94.9203142,180.068267 95.5149458,182.160832 95.734615,183.813897 L91.729746,183.813897 Z M92.0934143,198.125039 C90.589612,198.789651 88.9265636,199.155807 87.1669511,199.155807 L87.0331167,199.155807 C79.0177317,199.155807 74.6678295,195.081256 72.4299142,191.093589 C72.7094418,188.967172 73.5655306,186.953592 74.9484866,185.343406 C75.2963432,191.029836 79.6078456,196.660977 86.6304839,196.660977 C89.4635955,196.660977 91.8042867,195.454747 93.5175936,193.632426 C93.3639946,195.322728 92.8619742,196.831361 92.0934143,198.125039 L92.0934143,198.125039 Z M96.6324917,208.201401 C96.0785187,210.048546 93.8304387,212.008528 90.1045327,212.239281 C92.5090352,211.389616 94.6995156,210.05306 96.6324917,208.201401 L96.6324917,208.201401 Z M83.0502711,202.935289 C77.0463558,202.935289 72.3260089,198.782316 72.3260089,192.630996 C72.3260089,192.623662 72.3265736,192.616892 72.3265736,192.609557 C74.843452,196.446022 79.333965,200.038758 87.0331167,200.038758 L87.1669511,200.038758 C88.5719305,200.038758 89.9193103,199.821547 91.18142,199.417025 C89.3003965,201.637661 86.4379204,202.935289 83.0502711,202.935289 L83.0502711,202.935289 Z M79.138578,177.60898 C77.0350617,178.537066 75.2291437,180.78309 74.9597806,183.813897 L70.3162333,183.813897 C70.3862564,181.058413 71.2045101,179.04709 72.3802204,177.60898 L79.138578,177.60898 Z M93.5610757,192.207857 C91.9646622,194.311706 89.5957359,195.77859 86.6304839,195.77859 C79.8551852,195.77859 75.8068342,190.096108 75.8068342,184.601501 C75.8068342,184.551853 75.8130459,184.503897 75.8136106,184.453684 C76.0592561,184.229702 76.3139369,184.014183 76.584994,183.813897 L75.8503162,183.813897 C76.2072081,180.361643 78.8630032,178.018015 81.2658117,178.018015 C84.1028762,178.018015 86.5915194,180.400008 86.5915194,183.115999 C86.5915194,185.303348 85.1995282,186.186864 84.6184495,186.186864 C84.1232055,186.186864 83.7239609,185.92226 83.3377045,185.666684 C83.006789,185.44778 82.6939439,185.240724 82.3387461,185.240724 C82.2173351,185.240724 81.6119742,185.290372 81.6119742,186.264157 C81.6119742,187.055146 82.0033129,188.374777 82.8769074,189.539821 C83.6036793,190.507964 84.890636,191.662289 86.8987175,191.662289 C89.3947018,191.662289 91.4050422,189.485659 91.8178396,186.536659 C92.8800447,188.239937 93.5091231,190.217408 93.5610757,192.207857 L93.5610757,192.207857 Z M90.8341281,183.813897 L89.4641602,183.813897 C90.0322508,184.288942 90.5506475,184.826611 91.016527,185.407723 L91.016527,185.412236 C91.016527,188.422169 89.2077854,190.779902 86.8987175,190.779902 C84.9471062,190.779902 83.8047134,189.40893 83.2976107,188.591424 C82.6578029,187.561221 82.4680629,186.582358 82.4934746,186.180658 C82.6024621,186.238769 82.7385554,186.329039 82.8503664,186.402383 C83.2755873,186.683912 83.8577954,187.069251 84.6184495,187.069251 C85.582961,187.069251 87.4747139,185.875433 87.4747139,183.115999 C87.4747139,180.71426 85.8252184,178.536502 83.5969029,177.60898 L87.2403624,177.60898 C89.1292917,179.42453 90.388578,181.733179 90.8341281,183.813897 L90.8341281,183.813897 Z M66.9692425,167.560827 C66.8043495,166.515391 66.628727,165.647673 66.4886809,164.954852 C66.4649634,164.838066 66.4423753,164.726357 66.4209166,164.619161 C67.3955928,165.618335 68.6266439,166.624843 70.0361409,167.560827 L66.9692425,167.560827 Z M77.2513427,217.10877 C77.2637662,217.16406 77.2677191,217.214837 77.266025,217.258843 C75.8305517,213.371038 72.7405005,211.399772 68.0805767,211.399772 C64.490764,211.399772 61.0376092,213.08556 58.6060009,216.024404 C56.0987225,219.05634 55.0167528,223.031594 55.7085132,226.624895 C55.7553835,227.268067 56.0710521,227.731264 56.4448851,227.709825 C56.6357544,227.696848 56.9491642,227.558623 56.9017292,226.768198 C56.7955652,225.38425 57.8543821,222.166133 60.1182738,219.724336 C61.6011821,218.124869 64.1971188,216.218484 68.1438234,216.218484 C73.0194634,216.218484 75.2918256,219.067059 75.2918256,220.992626 C75.2918256,222.13341 74.7254292,222.971227 74.1590327,223.41919 C72.4903373,220.51871 69.5301677,219.107681 65.1209718,219.107681 C63.420653,219.107681 61.9388741,219.77342 60.7168582,221.086845 C58.3998845,223.577162 57.425773,228.146505 57.6618186,231.381547 C57.7188535,231.940656 57.6652068,232.100884 57.6827126,232.11781 C57.6482657,232.113296 57.5319371,232.081702 57.2337742,231.869568 C54.2069697,229.524811 53.880007,225.422615 53.880007,223.767293 C53.880007,216.207201 59.0029866,208.387019 67.5768623,208.387019 C68.3392104,208.387019 69.0795352,208.448515 69.789366,208.563609 C71.6387662,210.143894 73.7439765,211.355765 75.9993977,212.17045 C76.8758157,213.5008 77.2987777,215.129605 77.2440016,217.038247 L77.2428722,217.07379 L77.2513427,217.10877 Z M86.9715641,229.476291 C88.7995056,229.476291 90.8849513,229.098851 92.9376443,228.403774 C86.7710948,235.535085 79.324365,239.148696 70.7883245,239.148696 C63.8870972,239.148696 60.2402495,236.410701 60.2402495,231.229217 C60.2402495,226.896269 63.050773,223.371234 66.5061866,223.371234 C68.4995859,223.371234 70.8007479,223.670253 72.8732055,227.237037 C73.0454397,227.541133 73.2413914,227.886415 73.5847304,227.94509 C73.8941873,228.000381 74.168068,227.798402 74.3628903,227.628018 C75.5549769,226.69429 76.83911,225.334037 77.8753388,223.678716 C77.8742094,223.708053 77.8736447,223.737391 77.8736447,223.767293 C77.8736447,226.609098 80.6869918,229.476291 86.9715641,229.476291 L86.9715641,229.476291 Z M85.3983034,214.050318 C85.5406084,214.176131 88.8373406,217.023014 94.5622929,214.884749 C93.1748193,218.475793 88.8559758,223.300711 83.1310235,223.300711 C81.3115526,223.300711 79.7128802,222.990409 79.2780594,222.831308 C78.9437556,222.683492 78.6568869,222.648512 78.4231001,222.730883 C79.3350944,221.011244 79.9494905,219.034337 79.9494905,216.923153 C79.9494905,215.532998 79.7253037,214.243833 79.3221062,213.062428 C80.527181,213.279075 81.7571027,213.393605 82.9988831,213.393605 C83.6002911,213.393605 84.1915345,213.367088 84.7760014,213.32421 C85.0035764,213.690367 85.2768924,213.9482 85.3983034,214.050318 L85.3983034,214.050318 Z M75.9231628,141.551853 C73.7033179,139.971004 71.788977,138.233311 70.2309633,136.440328 L75.0021333,136.440328 C77.8183039,138.934594 81.5007278,141.200365 85.5157615,143.004632 L78.1351019,143.004632 C77.3789655,142.540307 76.6369466,142.060184 75.9231628,141.551853 L75.9231628,141.551853 Z M70.4675735,126.393303 C70.6398078,123.954892 71.8053534,122.763895 74.0240689,122.763895 L74.1579033,122.763895 C75.8983159,122.763895 78.1819722,124.262937 80.9772488,126.393303 L70.4675735,126.393303 Z M110.869202,142.646938 C110.847744,143.014223 110.814991,143.985751 110.814991,144.179831 L110.814991,145.911882 C110.403888,145.961531 109.984314,146.00723 109.556834,146.048415 C109.54667,145.655178 109.539893,145.195366 109.539893,144.806078 C109.539893,143.392227 109.626293,143.176144 110.253112,143.176144 L110.253112,141.039008 C109.172837,141.039008 108.729545,141.200929 108.394677,141.697413 C108.059808,142.215335 107.994867,142.79814 107.994867,145.324 C107.994867,145.638816 107.997691,145.917524 108.002773,146.177614 C106.485418,146.28086 104.865287,146.333893 103.127133,146.333893 C102.850994,146.333893 102.570902,146.32261 102.291939,146.314711 L102.291939,143.004632 L87.7474651,143.004632 C83.4636332,141.253963 79.5146697,138.950955 76.4703594,136.440328 L95.1981478,136.440328 C99.9902118,139.05138 105.470083,140.991616 111.667127,141.000643 C111.153812,141.283864 110.908732,141.808557 110.869202,142.646938 L110.869202,142.646938 Z M112.435687,145.6879 L112.435687,144.644156 C112.446416,143.510707 112.446416,143.510707 112.522086,143.273748 C112.597756,143.046381 112.814037,142.905899 113.105988,142.905899 C113.675773,142.905899 113.768384,143.190249 113.774596,145.451506 C113.338081,145.53557 112.89366,145.615684 112.435687,145.6879 L112.435687,145.6879 Z M108.199854,148.32547 C108.346112,148.935355 108.603052,149.308846 109.049167,149.516466 C107.229131,149.735371 105.399496,149.845951 103.532025,149.845951 C103.116969,149.843694 102.705301,149.829026 102.291939,149.817178 L102.291939,147.197098 C102.570902,147.204996 102.852123,147.215716 103.127133,147.215716 C104.875452,147.215716 106.503489,147.161554 108.033267,147.058872 C108.064891,147.607261 108.117973,148.007833 108.199854,148.32547 L108.199854,148.32547 Z M110.188736,147.570025 C109.814338,147.570025 109.655657,147.404718 109.598622,146.934187 C110.006337,146.895823 110.406711,146.852944 110.800309,146.806681 C110.791838,146.979322 110.780544,147.02897 110.76078,147.1057 C110.685674,147.418823 110.490852,147.570025 110.188736,147.570025 L110.188736,147.570025 Z M113.667302,147.213459 C113.570174,147.472985 113.451586,147.527147 112.954648,147.548586 L112.954648,148.874423 C112.661568,148.935919 112.367922,148.991773 112.075407,149.047628 C112.090654,149.02224 112.108724,148.999672 112.122277,148.973155 C112.360017,148.509394 112.435687,147.958185 112.435687,146.630655 L112.435687,146.582699 C112.887449,146.513304 113.331305,146.439396 113.763302,146.358717 C113.745796,146.775087 113.711914,147.102315 113.667302,147.213459 L113.667302,147.213459 Z M115.308892,145.12315 C115.302116,143.687861 115.238869,142.694894 115.126493,142.183177 C114.987012,141.533799 114.710872,141.138304 114.21337,140.928427 C119.950745,140.596686 125.477487,139.148985 129.320287,136.953737 C125.558804,140.833644 121.537559,143.638777 115.308892,145.12315 L115.308892,145.12315 Z M65.8963081,121.615212 C65.3457233,121.028459 64.8115149,120.432114 64.2931182,119.830128 L80.1335835,119.830128 C82.6657088,121.435801 85.2639042,123.665464 87.5554663,125.633909 C87.8700055,125.895127 88.1805918,126.140548 88.4934369,126.393303 L82.4257103,126.393303 C79.0770254,123.793534 76.359113,121.881508 74.1579033,121.881508 L74.0240689,121.881508 C71.3406034,121.881508 69.7820249,123.47759 69.5815556,126.393303 L65.757956,126.393303 C65.8048263,125.638987 66.0465189,124.636428 66.3729169,123.869135 C66.7343264,123.139643 66.5485393,122.271925 65.8963081,121.615212 L65.8963081,121.615212 Z M56.1201812,105.805028 L54.7807073,105.805028 L54.8066836,106.270481 C55.2584454,114.368807 53.3508809,120.732825 49.1359427,125.184817 C44.8521107,129.710717 39.606026,130.662499 38.7510667,130.662499 C38.6059382,130.662499 38.3738455,130.55079 38.1829761,130.30142 C38.0107419,130.077438 37.7549317,129.582647 37.9627422,128.810276 C38.2129053,128.055395 37.8633546,127.293744 37.3342285,126.140548 C36.471928,124.262373 35.1691597,121.423953 35.1691597,116.108193 C35.1691597,108.935132 40.6083727,102.278866 45.6618939,99.1295793 C48.3018773,97.4844129 50.7103328,96.9100716 52.1023241,97.5910441 L52.7381789,97.9024747 L52.7381789,97.1949855 C52.7381789,96.714299 52.4755923,96.1027214 52.1966294,95.4544717 C51.9481603,94.8744885 51.6658092,94.217776 51.6658092,93.8172039 C51.6658092,92.8044901 53.4711625,90.2058494 54.1742169,90.2058494 C54.4797209,90.2058494 54.8055542,90.2656531 54.8055542,90.9804767 C54.8055542,91.0983916 54.8016012,91.2332321 54.7970836,91.381613 C54.7750602,92.0817678 54.7417428,93.1396165 55.1020229,94.1066313 L55.2584454,94.5269499 L55.6763252,94.363336 C60.4627422,92.4879817 65.6133922,86.698305 65.6133922,78.4245174 C65.6207334,78.0374858 65.6184746,77.6702007 65.6122628,77.3136351 C66.4734339,78.7263569 67.4870746,80.0324475 68.6390674,81.1974915 C67.609615,86.9832189 64.4517995,91.4165925 58.7579058,95.2062298 L58.5608247,95.3376852 L58.5608247,95.9571614 L58.7742822,96.0857958 C59.3028436,96.4056893 60.3582723,96.5608404 61.3436778,96.5608404 C61.9004743,96.5608404 62.4341181,96.5111921 62.8373155,96.4135879 C63.9876142,96.2753623 65.0724074,96.0338907 66.0939539,95.707227 C65.4439815,96.6121813 64.9284083,97.6378715 64.5370696,98.7577807 C61.6892757,99.0979849 59.0600216,98.7888109 57.1592335,98.0028998 L56.8859176,97.8894984 L56.2212629,98.5591872 L56.3014507,98.8130709 C58.7138591,106.477538 61.2521961,111.276504 63.6030519,114.529036 L63.6030519,119.010365 C59.9567689,114.605201 57.262574,109.948974 56.2094042,106.128871 L56.1201812,105.805028 Z M69.2201461,47.1110662 C66.0866128,47.1110662 64.3089298,47.7519815 62.9897852,48.39064 L62.7780218,48.4109507 C62.7723748,48.4115149 62.7672924,48.4120791 62.7622101,48.4126433 C62.7706807,48.2958568 62.7785865,48.1531177 62.7785865,47.9799126 C62.7785865,47.1844103 63.3975003,46.3832662 63.9509085,45.9166844 C63.9960847,45.8726779 68.4792566,41.6243573 76.8052279,44.9428994 C74.9942275,45.4805686 73.3119792,46.279456 71.7822006,47.2932982 C70.9774997,47.1776401 70.1264933,47.1110662 69.2201461,47.1110662 L69.2201461,47.1110662 Z M60.0465566,30.8675871 C57.5082196,30.8675871 54.9201887,31.1976359 54.0691823,31.6173903 C53.7168081,31.7432038 53.4446215,31.7657712 53.3226458,31.6794508 C53.2074465,31.598208 53.1413764,31.3544796 53.1413764,31.0103262 C53.1413764,27.2421279 57.0242697,23.4400785 65.699227,23.4400785 C68.6819847,23.4400785 72.3079385,24.1898817 75.6475881,25.498229 L77.1316258,26.0793406 L76.120244,24.8482867 C66.6902796,13.3671017 55.172046,7.54583056 41.8845999,7.54583056 C28.3678848,7.54583056 25.5313849,14.2855965 25.5313849,19.9393044 C25.5313849,26.8229377 30.0405331,32.4236121 35.5830865,32.4236121 C38.9487125,32.4236121 42.4995608,31.6839643 45.674882,26.3146061 C45.769752,26.1470429 46.0227387,25.7007718 46.1396321,25.6810252 C46.143585,25.6782043 46.259349,25.6595862 46.6382642,25.9873782 C49.3691647,28.0511706 54.534497,33.861158 54.534497,41.083303 C54.534497,50.4961821 47.5141176,56.8207072 37.0654302,56.8207072 C25.2992922,56.8207072 13.3885905,47.8614335 13.3885905,30.7378243 C13.3885905,29.9045216 13.5252485,22.3946418 18.2631011,15.442742 C23.1404352,8.28491422 30.8384575,4.6555057 41.1431458,4.6555057 C59.6885353,4.6555057 76.1140322,18.1045715 84.5456029,29.6218644 L85.2876217,29.292944 C84.8624009,27.2387428 80.6790859,9.22484809 63.9057324,3.6399709 C64.6161279,2.47718356 65.4462403,1.67039759 66.2334354,1.38830459 C66.3791286,1.38548366 66.5688686,1.37702087 66.7992671,1.36573715 C75.4431658,0.955573929 83.1095648,4.1556369 89.5861359,10.8824265 C99.967059,21.5274879 100.774019,36.272489 100.774019,40.5382993 C100.774019,45.3829644 100.207622,49.5348092 99.4526152,52.364202 C98.6671142,51.3018397 97.781661,50.3246696 96.8030318,49.4451036 C97.312958,47.3192508 97.7127673,44.5818203 97.7127673,41.083303 C97.7127673,18.0295348 84.6557198,5.61180096 72.5304312,3.83066577 C72.4513729,3.81768949 72.3141502,3.79568624 72.1611159,3.79568624 C71.8900587,3.79568624 71.5704372,3.8656453 71.4366028,4.18328202 C71.2412157,4.64817128 71.7189539,5.16158054 72.031799,5.39120424 L72.0826222,5.42336284 C83.038977,11.257046 90.7415169,30.2046686 92.1193906,46.3223341 C90.6308353,45.6075105 89.0265159,45.0591217 87.3222443,44.6940933 C86.5073788,40.2923142 84.748331,36.2623336 82.2049117,33.0769395 C78.2548188,28.1290283 72.6111836,25.513462 65.8844494,25.513462 C61.779628,25.513462 57.837441,26.2604443 56.6978717,27.2652595 C56.1529339,27.7989795 56.1704397,28.1944739 56.2822508,28.4325604 C56.4533556,28.7992813 56.8932587,28.9510473 57.5692074,28.8839092 C67.567827,28.2847436 74.8620871,32.7756642 81.972819,44.168272 C80.5763101,44.1863259 79.2300597,44.347119 77.9436678,44.641624 C76.1501732,38.9083659 69.4302153,30.8675871 60.0465566,30.8675871 L60.0465566,30.8675871 Z M52.3118286,31.1051094 C50.6566861,28.4681041 48.6514281,26.4680647 47.1611786,25.343642 C46.856804,25.0790388 46.4490889,24.7862263 45.9995859,24.8629556 C45.4936126,24.949276 45.2050497,25.4570434 44.9548866,25.8993652 C41.996411,30.903695 38.7025023,31.5931303 35.5830865,31.5931303 C30.4990714,31.5931303 26.3614973,26.3653829 26.3614973,19.9393044 C26.3614973,12.3746985 31.7295578,8.37574816 41.8845999,8.37574816 C54.4458388,8.37574816 65.4038877,13.6937654 74.4769601,24.1876249 C71.4563673,23.1647557 68.3877748,22.6095967 65.699227,22.6095967 C56.4505321,22.6095967 52.3112639,26.8291438 52.3112639,31.0103262 C52.3112639,31.0424848 52.3112639,31.073515 52.3118286,31.1051094 L52.3118286,31.1051094 Z M108.049079,65.5672827 L108.049079,69.4923247 L108.664604,69.4923247 C108.144514,69.6108037 107.670728,69.7919074 107.221225,70.0508688 C105.56213,70.8785297 103.952163,71.8782672 102.401491,73.0021257 C102.951511,71.3501891 103.317438,69.5882363 103.478378,67.7348853 C105.025098,66.7853602 106.560524,66.0451482 108.049079,65.5672827 L108.049079,65.5672827 Z M110.922849,64.9782725 L110.922849,67.3331848 L109.679939,67.3331848 L109.679939,65.1480925 C110.099513,65.0679781 110.514569,65.0104311 110.922849,64.9782725 L110.922849,64.9782725 Z M113.624385,66.2127115 L113.624385,67.3331848 L112.349287,67.3331848 L112.349287,65.0730557 C112.795967,65.2541594 113.231917,65.634985 113.624385,66.2127115 L113.624385,66.2127115 Z M112.349287,84.1549545 L112.349287,81.6116041 L110.922849,81.6116041 L110.922849,86.922851 C110.890661,86.980398 110.857344,87.037945 110.825156,87.095492 L109.679939,87.095492 L109.679939,82.3083738 C110.410664,80.3856279 110.953343,78.4380578 111.241906,76.5040282 L113.602926,79.7785638 L114.067676,79.7785638 C113.606315,81.2561669 113.020718,82.7253072 112.349287,84.1549545 L112.349287,84.1549545 Z M113.624385,87.095492 L112.349287,87.095492 L112.349287,86.1211427 C112.803308,85.2506037 113.231352,84.3608824 113.624385,83.4581848 L113.624385,87.095492 Z M99.2374636,108.912 C98.0160124,108.912 97.3999222,109.146137 97.1667001,109.781975 L87.4120319,109.781975 L87.4120319,109.679857 L92.1080966,106.686287 C92.1154377,106.686287 92.1222141,106.686851 92.1289906,106.686851 C94.1404603,106.686851 96.0717423,105.837751 98.5174681,104.761848 C102.584454,102.973378 108.164843,100.526504 117.746147,100.607747 C125.052831,100.607747 128.431445,102.620198 131.323286,104.4696 C128.251305,108.474192 124.321542,110.938556 114.928848,110.938556 C108.559005,110.938556 105.298414,110.123308 102.917064,109.527527 C101.541449,109.183938 100.454962,108.912 99.2374636,108.912 L99.2374636,108.912 Z M63.6075695,104.467907 C63.3890297,104.667629 63.2546306,104.957621 63.2546306,105.300646 C63.2546306,105.599664 63.3743475,106.067374 63.6030519,106.622533 L63.6030519,112.984295 C61.5560059,109.906096 59.3802078,105.538732 57.2862915,98.9964314 C59.1644915,99.6661202 61.6141703,99.9267741 64.2541537,99.662735 C63.8441798,101.136953 63.6324164,102.753346 63.6075695,104.467907 L63.6075695,104.467907 Z M76.3766188,85.9998427 C77.5591055,86.3823609 78.7963683,86.6565552 80.0855838,86.7992943 C79.4593289,88.6633648 78.5862991,90.2284168 77.5963759,91.5395851 C76.917039,91.4346465 76.2190669,91.3776637 75.5075419,91.3776637 C74.5153599,91.3776637 73.5915069,91.4634199 72.7309005,91.6236488 C74.3465139,89.9762257 75.5679651,88.0376826 76.3766188,85.9998427 L76.3766188,85.9998427 Z M75.5448123,85.7081586 C74.5859477,88.1104626 73.0172046,90.3649498 70.8781121,92.1206966 C69.4748268,92.6228222 68.2866931,93.3664193 67.3029816,94.3103025 C65.9160727,94.9151099 64.3829058,95.3421987 62.7063046,95.5407921 L62.6498344,95.5509475 C61.8699804,95.7478484 60.6332823,95.7027135 59.842699,95.5362787 C65.2051124,91.8120869 68.2731402,87.4751891 69.4002861,81.9264198 C71.1796632,83.5478904 73.2470384,84.8432615 75.5448123,85.7081586 L75.5448123,85.7081586 Z M80.7293444,76.3059989 C79.0250728,76.0019027 77.4184946,75.2176842 76.0615149,74.073515 C75.3691898,72.7516272 74.4396898,71.5640156 73.3080263,70.6116697 C72.6044072,69.2423903 72.1763628,67.7027267 72.0973045,66.0744859 C75.2489082,67.0595546 79.4785288,69.8432483 80.7293444,76.3059989 L80.7293444,76.3059989 Z M80.3176764,54.8409785 C80.8603554,55.7199803 81.5814803,55.8362026 81.9146547,55.8362026 C82.3573813,55.8362026 83.0999649,55.4536845 84.1429701,54.7653776 C89.8362991,55.5868324 93.8259211,60.1161176 93.8259211,65.5385092 C93.8259211,68.695694 92.4661179,71.5453975 90.2146496,73.5454369 C90.4258483,72.6489453 90.5591181,71.7056263 90.5591181,70.7160441 C90.5591181,68.1783355 88.7232708,65.9520575 86.6304839,65.9520575 C84.7562368,65.9520575 83.7747842,67.3969379 83.7747842,68.8248926 C83.7747842,69.4415479 84.0170415,69.9160283 84.2965691,70.4655455 C84.72179,71.2994124 85.2503514,72.3369505 85.2503514,74.4989112 C85.2503514,75.1076679 85.2079987,75.644773 85.1402344,76.1277162 C84.2321931,76.3353366 83.2795402,76.457765 82.2805818,76.457765 C82.067689,76.457765 81.8576197,76.4374543 81.646421,76.4216571 C80.363982,69.1741238 75.5561063,66.1619347 72.0893987,65.1599404 C72.2644564,60.0771887 75.9158217,55.8367668 80.3176764,54.8409785 L80.3176764,54.8409785 Z M82.7718728,54.6418208 C82.3867458,54.8624176 82.0755948,55.0057208 81.9146547,55.0057208 C81.6622327,55.0057208 81.4318342,54.8951404 81.2324942,54.6852632 C81.5797862,54.6435134 81.9287722,54.6192534 82.2805818,54.6192534 C82.447169,54.6192534 82.6075444,54.6356148 82.7718728,54.6418208 L82.7718728,54.6418208 Z M82.9514481,44.177299 C75.6227412,32.3040047 67.8552605,27.4379004 57.5037019,28.0562483 C57.3162208,28.0748664 57.1874686,28.0686604 57.1044574,28.0568125 C57.1360807,28.0105492 57.1857745,27.949053 57.2631387,27.873452 C58.0983335,27.1377535 61.6311113,26.3439438 65.8844494,26.3439438 C77.9007504,26.3439438 84.5631086,34.9252128 86.4452615,44.5225808 C85.3198098,44.3268083 84.1531347,44.2111501 82.9514481,44.177299 L82.9514481,44.177299 Z M93.0144438,46.7787606 C91.6738405,26.7264619 81.7542792,9.65701456 72.5021961,4.70628244 C72.4818668,4.69048523 72.4626669,4.67412384 72.443467,4.65719826 C84.2220284,6.41125252 96.8820902,18.5485859 96.8820902,41.083303 C96.8820902,44.2777241 96.542704,46.8233313 96.0926363,48.8346544 C95.1422422,48.060027 94.1116605,47.374541 93.0144438,46.7787606 L93.0144438,46.7787606 Z M90.4331894,85.4740214 C87.9191346,89.061116 85.9697822,92.6640077 84.7573662,95.7506693 C84.205652,94.9692717 83.5500326,94.2871709 82.8063196,93.7105728 C83.6663613,91.4086939 84.8302128,88.9979271 86.2238982,86.5905455 C87.6989007,86.3490739 89.1055742,85.973326 90.4331894,85.4740214 L90.4331894,85.4740214 Z M80.6350392,109.353194 C80.6350392,108.559948 80.7270856,107.915084 80.9004493,107.429319 C80.9326373,107.889695 80.9461901,108.352892 80.9461901,108.80819 L80.9461901,109.781975 L80.6768271,109.781975 C80.6514155,109.631337 80.6350392,109.486342 80.6350392,109.353194 L80.6350392,109.353194 Z M89.0310335,74.4661884 C88.1354156,75.0664823 87.1370219,75.5460404 86.0550522,75.884552 C86.1007931,75.4585916 86.1335458,75.0072428 86.1335458,74.4989112 C86.1335458,72.1253807 85.5270555,70.9343841 85.0843289,70.0655376 C84.8364246,69.5803377 84.6585433,69.2299782 84.6585433,68.8248926 C84.6585433,67.8336178 85.2684218,66.8338802 86.6304839,66.8338802 C88.068216,66.8338802 89.6753589,68.4942796 89.6753589,70.7160441 C89.6753589,72.065577 89.4212428,73.3248401 89.0310335,74.4661884 L89.0310335,74.4661884 Z M82.2291939,86.9160808 C83.1982231,86.9160808 84.1424054,86.8562771 85.0645643,86.7513385 C83.830125,88.9426369 82.8063196,91.1012125 82.0309833,93.1650049 C80.9902369,92.5043431 79.8190443,92.0213999 78.5620169,91.7268948 C79.534999,90.3705917 80.3814878,88.7626616 80.9908016,86.8737669 C81.3996461,86.8997194 81.8113141,86.9160808 82.2291939,86.9160808 L82.2291939,86.9160808 Z M73.3532025,104.453803 C72.8144765,104.453803 72.3197972,104.6287 71.8200356,104.854375 C72.4129731,103.125709 73.6395066,101.835979 76.1230675,101.835979 C79.1577778,101.835979 80.3199352,103.758161 80.7344268,106.058912 C80.0844544,106.676131 79.75128,107.779679 79.75128,109.353194 C79.75128,109.488598 79.7699152,109.634723 79.7896798,109.781975 L76.5336061,109.781975 C76.7634399,109.256154 76.8792039,108.695917 76.8792039,108.137373 C76.8792039,105.865396 75.5284359,104.453803 73.3532025,104.453803 L73.3532025,104.453803 Z M71.7099187,105.882886 C72.316409,105.589509 72.8404528,105.336189 73.3532025,105.336189 C75.7385052,105.336189 75.9960094,107.295607 75.9960094,108.137373 C75.9960094,108.702687 75.841281,109.270258 75.5374711,109.781975 L71.2999448,109.781975 L71.2999448,108.80819 C71.2999448,107.862614 71.3552856,106.88488 71.5286492,105.96977 C71.5890724,105.940997 71.6506249,105.911659 71.7099187,105.882886 L71.7099187,105.882886 Z M110.488028,75.4580274 C110.346288,76.812638 110.06789,78.1779681 109.679939,79.5404773 L109.679939,74.337554 L110.488028,75.4580274 Z M110.562569,72.3392072 L109.701963,71.131285 L108.049079,71.131285 L108.049079,79.6380814 L109.653398,79.6380814 C109.495846,80.1853419 109.316836,80.7320381 109.124837,81.2770418 L108.049079,81.2770418 L108.049079,83.968209 C106.542453,87.320038 104.499925,90.5545163 102.291939,93.4538681 L102.291939,87.6867589 L86.436791,99.8365043 C86.2295452,98.6708961 85.8495006,97.6260236 85.3418331,96.6922958 C86.6333074,93.2310147 88.9881162,88.9505355 92.0792968,84.7749949 C96.4924455,82.6671961 99.8812243,79.108875 101.800648,74.5829749 C103.66473,73.1177839 105.619729,71.8353891 107.639105,70.8283171 C108.36023,70.4130762 109.137825,70.2218172 110.151466,70.212226 C110.3045,70.4237957 110.487464,71.1956022 110.562569,72.3392072 L110.562569,72.3392072 Z M110.657439,69.4923247 L114.83793,69.4923247 C114.927718,69.9690618 114.999435,70.4892413 115.052517,71.0449645 L113.624385,71.0449645 L113.624385,76.6371761 L111.476257,73.621602 C111.476822,73.5538997 111.481904,73.4856331 111.481904,73.4179308 C111.481904,72.1174821 111.362188,70.0723079 110.657439,69.4923247 L110.657439,69.4923247 Z M89.9001104,126.393303 C89.3122553,125.930671 88.7215766,125.454498 88.125251,124.960271 C86.1459693,123.25925 83.9413713,121.370355 81.7198323,119.830128 L87.2827151,119.830128 C89.946416,122.16755 93.1680429,124.476199 96.71155,126.393303 L89.9001104,126.393303 Z M102.291939,134.051 L102.291939,128.945117 C104.172962,129.650349 106.100856,130.210586 108.049079,130.589155 L108.049079,135.891375 C106.201938,135.516755 104.28195,134.902357 102.291939,134.051 L102.291939,134.051 Z M115.485079,126.182862 C114.421745,126.379763 112.498933,126.332371 110.092737,125.937441 L114.643108,124.103837 C115.0288,124.797221 115.320186,125.493427 115.485079,126.182862 L115.485079,126.182862 Z M113.535727,122.441745 C113.535727,122.442309 113.536292,122.442873 113.536856,122.443437 L108.049079,124.537696 L108.049079,125.539126 C104.045339,124.642634 99.1499347,122.866577 94.6080338,119.830128 L102.291939,119.830128 L102.291939,113.970492 C104.192162,114.832568 106.470171,116.162355 108.604746,117.758437 L108.049079,117.941233 L108.049079,120.586137 L113.535727,122.441745 Z M110.373394,119.175672 C110.488593,119.274969 110.601533,119.376522 110.715039,119.477511 L110.069584,119.269327 L110.373394,119.175672 Z M108.486723,90.8219405 L108.049079,90.5799047 L108.049079,91.4459302 C106.467912,93.662617 104.856817,95.5430489 103.488543,96.8796055 L103.228215,97.1340534 L103.880446,98.1202505 L104.197809,98.0209538 C107.175484,97.0883543 110.051513,96.5399655 112.788626,96.2917237 L108.049079,98.7628584 L108.049079,100.59872 C103.792917,101.473772 100.689313,102.841923 98.1611409,103.954498 C96.5342335,104.67045 95.1461952,105.274129 93.8394739,105.582739 L102.291939,100.195327 L102.291939,94.8823871 C104.428208,92.1805003 106.448148,89.1542067 108.049079,85.9863023 L108.049079,89.2546318 L109.526905,89.2546318 C109.184695,89.7917368 108.837403,90.3141731 108.486723,90.8219405 L108.486723,90.8219405 Z M112.570086,95.4307759 C110.035137,95.6671698 107.386683,96.1551907 104.653524,96.9602841 C105.708952,95.8708409 106.875627,94.5009973 108.049079,92.9342528 L108.049079,93.0200091 L112.570086,95.4307759 Z M113.289517,202.658274 C113.063071,202.928519 112.673426,203.014839 111.614609,203.014839 C110.577251,203.014839 110.220359,202.928519 109.993914,202.636835 C109.788362,202.356434 109.734151,201.913548 109.734151,200.305054 C109.734151,197.605988 109.756174,197.574394 111.571692,197.574394 C112.53338,197.574394 112.900437,197.627992 113.159635,197.833355 C113.505798,198.081597 113.570174,198.470321 113.570174,200.359216 C113.570174,202.011153 113.527256,202.367154 113.289517,202.658274 L113.289517,202.658274 Z M133.303132,64.9427288 C135.734176,64.9427288 136.616241,68.7182615 136.616241,71.2565343 C136.616241,85.151307 119.53456,92.8360845 117.746147,92.8360845 L117.611184,92.8360845 C116.822294,92.8360845 115.773078,92.6013831 115.773078,90.574827 C115.773078,80.3856279 128.219682,64.9427288 133.303132,64.9427288 L133.303132,64.9427288 Z M136.319207,107.419728 C136.872616,106.588118 137.5,105.645363 137.5,104.625315 C137.5,104.087646 137.307437,103.590034 136.866969,102.998767 C133.674706,99.0065867 125.611886,95.0228694 115.25581,95.2722396 L115.25581,94.563622 L109.258107,91.2484651 C109.698574,90.6075498 110.134525,89.9412461 110.56031,89.2546318 L114.957083,89.2546318 C114.917553,89.7009029 114.889883,90.1432247 114.889883,90.574827 C114.889883,92.6019473 115.856653,93.7179072 117.611184,93.7179072 L117.746147,93.7179072 C120.395731,93.7179072 137.5,85.2116749 137.5,71.2565343 C137.5,67.7907397 136.186502,64.0603419 133.303132,64.0603419 C128.363681,64.0603419 117.385867,76.7906347 115.25581,87.2297682 L115.25581,81.2014408 L114.515485,81.2014408 C114.683767,80.728653 114.840754,80.2541726 114.985318,79.7785638 L115.25581,79.7785638 L115.25581,78.823961 C115.751054,76.9604547 116.041311,75.0941274 116.041311,73.2825262 C116.041311,70.921972 115.742019,69.0477461 115.25581,67.6192271 L115.25581,61.4391337 L113.624385,61.4391337 L113.624385,64.8778474 C113.220058,64.5077414 112.78919,64.2707833 112.349287,64.1534326 L112.349287,61.849297 L110.922849,61.849297 L110.922849,64.1026558 C110.516263,64.1336861 110.102337,64.185027 109.679939,64.2623205 L109.679939,61.5147347 L108.049079,61.5147347 L108.049079,64.6628925 C106.607394,65.1035218 105.098509,65.7856227 103.548966,66.6883203 C103.565907,66.3086231 103.574942,65.9249766 103.574942,65.5385092 C103.574942,60.8495594 102.312268,56.6531439 100.068141,53.2443321 C100.925359,50.3940645 101.604696,45.991157 101.604696,40.5382993 C101.604696,36.1935029 100.78136,21.1726149 90.183591,10.3047001 C83.534221,3.40019185 75.6532351,0.112115864 66.7591733,0.536383733 C66.5061866,0.548795825 66.3057173,0.558386987 66.1622829,0.558386987 L66.0329661,0.579261869 C64.5297284,1.07010369 63.4404176,2.73219563 62.9242797,3.67889974 L62.6837165,4.12234993 L63.1648429,4.27355178 C77.3089424,8.71313139 82.4686276,22.2022544 83.9792064,27.4892414 C77.6850341,19.3717332 70.1400462,13.1510184 61.5249473,8.98281229 C54.7513427,5.70545584 47.3226835,3.8255881 41.1431458,3.8255881 C30.5465064,3.8255881 22.6175208,7.57686079 17.5758583,14.975596 C13.8719757,20.4109638 12.5579134,26.8641233 12.5579134,30.7378243 C12.5579134,48.4064372 24.8864948,57.6506248 37.0654302,57.6506248 C48.0110556,57.6506248 55.3651742,50.9926658 55.3651742,41.083303 C55.3651742,37.8764698 54.4288977,34.9630133 53.1182236,32.4969563 C53.447445,32.6086651 53.8613719,32.5725572 54.3916273,32.3812981 C55.0624937,32.0523777 57.4156084,31.6975047 60.0465566,31.6975047 C68.4662684,31.6975047 74.8180404,38.7881943 76.8645216,44.0706678 C68.1963407,40.7385853 63.4189589,45.2752049 63.3929826,45.3022859 C62.6938811,45.8890393 61.9479093,46.9000606 61.9479093,47.9799126 C61.9479093,48.1852763 61.9343565,48.3409916 61.9253213,48.4583423 C61.9061214,48.6998139 61.8874862,48.9271809 62.0744027,49.109413 C62.2675309,49.2984153 62.5035764,49.2741553 62.8627271,49.236919 L63.1411254,49.2098381 L63.2873833,49.1692167 C64.5274696,48.5615884 66.2023768,47.9409838 69.2201461,47.9409838 C69.7532251,47.9409838 70.2614572,47.9725782 70.7578305,48.0165847 C65.5145693,52.0008662 62.3200482,58.5995856 62.3200482,65.5385092 C62.3200482,66.2990319 62.3618362,67.0550412 62.4369416,67.8048443 C62.3635303,67.9684583 62.3160953,68.1298155 62.3160953,68.2844024 C62.3160953,68.625735 62.4448474,68.9422433 62.6419285,69.3162986 C63.0084203,71.4878505 63.6809808,73.5809806 64.6291161,75.5189595 C64.7093038,76.3663668 64.7499624,77.3209696 64.7301978,78.4166188 C64.7301978,86.028052 60.1826498,91.4115148 55.7977362,93.356264 C55.6401842,92.6735989 55.6622076,91.9582111 55.6797134,91.4092581 C55.6847957,91.2507218 55.6893133,91.1062902 55.6893133,90.9804767 C55.6893133,89.9429387 55.1229169,89.3234625 54.1742169,89.3234625 C52.7443906,89.3234625 50.78205,92.6459538 50.78205,93.8172039 C50.78205,94.3988797 51.0886834,95.112575 51.3857168,95.8025744 C51.4873632,96.0395326 51.5957861,96.2917237 51.6821855,96.5236041 C50.0089725,96.168167 47.7049869,96.8169809 45.1943203,98.3809044 C39.9403298,101.654876 34.2859653,108.598877 34.2859653,116.108193 C34.2859653,121.616341 35.6915094,124.678742 36.5312218,126.508397 C36.9733837,127.471463 37.2653348,128.107865 37.1173828,128.556957 C36.8881136,129.404928 37.0208187,130.236538 37.4816158,130.837961 C37.8204372,131.280847 38.2953519,131.544886 38.7510667,131.544886 C39.8584479,131.544886 45.2999197,130.521452 49.7780092,125.791317 C53.9206656,121.414926 55.9247942,115.300842 55.7440894,107.604781 C57.3004091,112.128989 60.7072583,117.379304 65.2604533,122.227918 C65.6478391,122.617207 65.7698148,123.0962 65.5704749,123.500722 C65.1864773,124.402855 64.9199378,125.527278 64.8741969,126.393303 L63.6030519,126.393303 L63.6030519,136.440328 L69.0202414,136.440328 C70.897312,138.749541 73.3808729,140.998386 76.4014657,143.004632 L67.4210044,143.004632 C64.2682713,139.115698 62.3403775,134.506298 62.2607544,130.149654 L62.2500251,129.582083 L61.7016991,129.73272 C60.3769074,130.09662 58.9634575,130.657985 58.9634575,132.724599 C58.9634575,135.77346 60.1035915,141.085835 63.6030519,146.227826 L63.6030519,153.053348 L70.1541637,153.053348 C71.271145,153.887215 72.4858197,154.678204 73.8168231,155.404876 C75.2805316,156.184017 76.875251,156.856526 78.5349112,157.426354 L78.5349112,165.824263 C73.9698574,164.46401 69.6544022,161.614871 66.1673652,157.553296 C60.7394463,151.676735 57.6285012,141.202622 58.7697646,132.648434 L58.7737175,132.589758 C58.7737175,132.003569 58.5100015,130.993676 57.7984766,130.442466 C57.6866655,129.771085 57.5522663,129.103653 57.0632341,128.878543 C56.8853529,128.796172 56.5950959,128.745959 56.2421569,128.96035 C53.2989283,130.567151 47.7213633,132.283405 40.8969355,132.283405 C30.5114948,132.283405 19.1694483,123.684082 13.7663764,115.586321 C12.6318894,113.954695 11.5425786,114.195038 10.4114798,114.622127 C8.35935147,115.508463 2.5,119.668206 2.5,126.91574 C2.5,132.137845 4.57866931,136.864031 8.5112564,140.583145 C13.4874134,145.290149 20.826285,147.823344 29.3662785,147.82278 C29.4436427,147.82278 29.5221363,147.82278 29.6000653,147.822216 C13.7336236,155.288653 4.10940167,165.577713 4.10940167,168.930671 C4.10940167,172.110987 9.2600517,172.478837 13.1350392,172.478837 C21.4243048,172.478837 36.1455301,167.663509 43.0422397,161.533628 C40.0261645,168.259289 38.3094694,175.711622 38.3094694,182.169859 C38.3094694,185.745106 39.2225931,190.10175 40.6919486,193.539336 C42.4837491,197.730109 44.8905105,200.038758 47.4683767,200.038758 L47.6027758,200.038758 C54.0889469,200.038758 59.3203494,195.692269 62.7864923,190.045896 C62.654352,191.008397 62.5769878,191.985567 62.5769878,192.989818 C62.5769878,197.520796 64.2225304,202.083933 67.029101,205.676105 C58.913199,205.915884 50.8588495,212.158602 50.8588495,223.89085 C50.8588495,224.07421 51.0813422,242.240999 70.2851747,242.240999 C78.0289379,242.240999 90.1508383,238.00227 99.3916273,226.157749 C98.356528,229.751614 94.8305266,238.929227 85.2503514,241.936339 L84.9222593,242.039021 L85.0865877,242.340296 C85.4372678,242.984032 86.1781573,244.114097 87.1991391,244.446967 L87.286668,244.460507 C87.3843615,244.460507 87.5204548,244.467277 87.692689,244.475176 C88.0377221,244.492101 88.3799317,244.5 88.7204472,244.5 C94.3448825,244.5 99.3498394,242.262438 103.609389,237.83922 C110.812167,230.452897 111.371787,220.198252 111.371787,217.231198 C111.371787,213.853417 110.982143,211.070851 110.467134,209.14472 L112.197947,209.14472 C113.051777,209.156004 113.127447,209.166724 113.299681,209.317925 C113.505798,209.501286 113.592197,209.878726 113.592197,210.646019 C113.592197,211.358022 113.527256,211.800344 113.397375,212.016427 C113.268058,212.211071 113.029754,212.275388 112.425522,212.275388 L112.197947,212.275388 L112.197947,214.359491 L112.630509,214.359491 L113.094694,214.369647 C114.110594,214.369647 114.672473,214.078527 115.007341,213.387399 C115.25581,212.890915 115.310022,212.458749 115.310022,210.904981 C115.310022,209.728089 115.298728,209.393526 115.25581,209.079839 C115.147952,208.195195 114.856001,207.665989 114.315581,207.331427 C113.786455,206.996864 113.537986,206.964141 111.76595,206.953986 L109.644363,206.953986 C109.595234,206.867101 109.546105,206.78473 109.496976,206.713079 L109.447282,206.657224 C108.87298,206.16469 107.298589,205.664257 106.744617,205.664257 C106.452665,205.664257 106.214361,205.779915 106.07375,205.989792 C105.859728,206.306865 105.890787,206.792065 106.164102,207.460061 C106.224526,207.628188 106.316007,207.83468 106.428383,208.085743 C107.034309,209.447688 108.162584,211.982576 108.162584,216.923153 C108.162584,232.253779 99.5395794,240.502742 91.523065,241.680198 C91.5106415,241.682455 91.4976533,241.684148 91.4863593,241.68584 C91.5151591,241.648604 91.5473472,241.61306 91.5733235,241.592185 C94.9626669,239.820077 98.430504,235.629304 101.087428,230.094639 C104.024445,223.978299 105.641753,216.826677 105.641753,209.954891 C105.641753,209.312284 105.167403,208.690551 104.186515,208.050764 C103.450708,207.59208 102.777018,207.329734 102.33655,207.329734 C101.977964,207.329734 101.550484,207.614084 101.550484,208.96813 C101.550484,209.013265 101.549355,209.050501 101.547096,209.080967 C101.532414,209.07194 101.514908,209.061785 101.496273,209.049373 L101.23651,208.85755 C99.6056495,207.647371 98.49488,206.897567 97.9917302,206.897567 C97.9578481,206.897567 97.9160601,206.899824 97.8714486,206.904902 C101.356227,202.948266 103.318567,197.939422 103.318567,192.682337 C103.318567,189.555054 102.548313,187.145416 101.522814,183.813897 L100.277081,183.813897 C99.9224475,181.701585 99.14937,179.477564 98.2859402,177.60898 L100.471903,177.60898 C101.711989,182.853089 104.448537,187.779561 108.049079,191.675265 L108.049079,193.66797 L110.065066,193.66797 C110.747791,194.282369 111.451975,194.861223 112.176488,195.399457 C112.043783,195.396636 111.913337,195.393251 111.76595,195.393251 C110.890661,195.393251 110.307324,195.41469 110.015372,195.458132 C108.859427,195.609334 108.286819,196.148696 108.081267,197.260706 C107.994867,197.76791 107.973409,198.404876 107.973409,200.477695 C107.973409,202.377873 108.016326,203.036279 108.189125,203.641086 C108.427429,204.450693 108.837403,204.871576 109.604834,205.076375 C110.091043,205.206138 110.393723,205.228141 111.60388,205.228141 C113.181094,205.228141 113.710785,205.16326 114.239911,204.882859 C114.770166,204.612614 115.072282,204.148289 115.212893,203.349402 C115.298728,202.917799 115.33148,202.043875 115.33148,200.327057 C115.33148,199.624646 115.321316,198.664401 115.298728,198.275677 C115.284045,197.917419 115.252987,197.614451 115.204987,197.348719 C118.301815,199.053125 121.635252,200.038758 124.98789,200.038758 L125.121725,200.038758 C132.790947,200.038758 137.5,195.611027 137.5,192.436916 C137.5,191.590073 136.466595,189.251522 135.029427,188.769143 C130.847806,187.62046 124.301777,184.463276 119.462843,181.259827 C117.955087,180.277015 116.577214,179.18588 115.308892,178.032119 C115.309457,177.886559 115.310022,177.739307 115.310022,177.574564 C115.310022,175.448147 115.298728,174.789742 115.277269,174.563504 C115.180705,173.656293 114.856001,173.14909 114.186264,172.900283 C113.797184,172.760365 113.375916,172.716923 112.187218,172.716923 L111.193342,172.716923 L111.193342,173.654036 C110.953908,173.360659 110.719556,173.066154 110.490852,172.771085 L110.490852,172.716923 C110.475605,172.716923 110.464311,172.718051 110.450193,172.718051 C110.00182,172.138068 109.570952,171.558085 109.160978,170.980923 L113.866642,170.980923 C116.961776,172.996759 120.929375,174.640233 125.658192,174.640233 C132.435749,174.640233 137.5,168.558872 137.5,163.121248 C137.5,158.236525 135.758458,149.764144 124.349777,146.754776 C133.8012,141.538876 137.105838,133.250984 137.230637,130.729637 C137.309695,129.616498 136.904804,129.171919 136.5513,128.995329 C135.836952,128.637071 134.780394,129.052312 133.41099,130.234846 C131.347568,132.081991 123.513452,135.485725 115.25581,136.199984 L115.25581,131.124567 C119.283832,131.042196 120.064815,130.53725 120.064815,127.861315 L120.064815,127.726475 C120.064815,124.44122 117.895229,120.598549 115.198211,117.689042 L115.25581,117.671552 L115.25581,115.912984 C121.377748,116.329354 130.627573,114.964588 136.219255,107.570366 L136.319207,107.419728 Z" id="Fill-5"></path>
          <path d="M51.3905866,87.1893037 C54.8337895,87.1893037 57.239084,84.2481625 57.239084,80.0374802 C57.239084,75.7146476 54.318913,68.8572187 46.4837642,68.8572187 C40.1856334,68.8572187 36.1155533,72.7712635 36.1155533,78.8285002 C36.1155533,86.5220095 39.9371661,89.0936154 41.9852547,90.4719424 C42.2853728,90.6799812 42.5142672,91.6091463 42.3283245,92.2388701 C42.2146928,92.6235456 42.0325559,92.6235456 41.9640507,92.6235456 L41.8351956,92.6235456 C40.0187199,92.6235456 33.3503347,87.8459436 33.3503347,79.5002804 C33.3503347,71.6508822 38.1609235,66.3770152 45.3213502,66.3770152 C55.2768987,66.3770152 60.6491217,72.8615445 60.6491217,78.9630805 C60.6491217,84.7601286 56.2800109,89.1323073 50.4864264,89.1323073 C44.3285682,89.1323073 42.389218,82.4616086 42.389218,80.5746801 C42.389218,76.758206 45.0696207,75.37315 46.8708731,75.37315 C50.1928326,75.37315 51.7401807,78.4769091 51.7401807,80.5746801 C51.7401807,81.6468368 51.5439078,82.3842249 51.3949362,82.5378707 C51.2160614,82.3685238 50.9289919,81.5744998 50.7381559,81.050758 C50.2352406,80.0055174 49.2745365,79.3303727 48.2915409,79.3303727 C46.8784848,79.3303727 45.9291981,80.4776701 45.9291981,82.1857189 C45.9291981,84.2633028 47.6233431,87.1893037 51.3905866,87.1893037 M48.2915409,80.2068271 C49.0972928,80.2068271 49.7029659,80.8713176 49.959045,81.3989846 C50.3842123,82.5776841 50.6919421,83.4294655 51.3905866,83.4294655 C52.4344757,83.4294655 52.5905154,81.6406685 52.5905154,80.5746801 C52.5905154,78.1236357 50.7724086,74.4966956 46.8708731,74.4966956 C44.7276383,74.4966956 41.5388834,76.1150241 41.5388834,80.5746801 C41.5388834,83.3509603 44.1132661,90.0087617 50.4864264,90.0087617 C56.6616828,90.0087617 61.5,85.1571406 61.5,78.9630805 C61.5,73.8394949 58.6467032,70.6740532 56.2522826,68.9211443 C53.283723,66.7471111 49.2995463,65.5 45.3213502,65.5 C37.6520276,65.5 32.5,71.1260189 32.5,79.5002804 C32.5,87.9205235 39.1428317,93.5 41.8351956,93.5 L41.9640507,93.5 C42.52351,93.5 42.9524832,93.1338293 43.1416881,92.4945727 C43.4048351,91.6018565 43.1694164,90.2358661 42.4544611,89.7407226 C40.5363149,88.4498728 36.9664317,86.0470531 36.9664317,78.8285002 C36.9664317,73.3039773 40.702141,69.7336731 46.4837642,69.7336731 C53.6996475,69.7336731 56.3882056,76.0539022 56.3882056,80.0374802 C56.3882056,83.1608656 54.843576,86.3128492 51.3905866,86.3128492 C47.6266053,86.3128492 46.7800765,83.2561933 46.7800765,82.1857189 C46.7800765,80.9649631 47.3591087,80.2068271 48.2915409,80.2068271" id="Fill-7"></path>
          <path d="M7.68204292,66.9237351 C8.15627991,66.9237351 19.3983219,67.1240846 29.0372306,84.6236349 C29.2232387,85.2506874 29.1662632,85.8080016 28.4194377,87.1389367 C27.8915768,87.9273325 27.442476,88.0762649 25.5918905,88.0762649 L25.4589477,88.0762649 C14.9693171,88.0762649 3.87418243,75.9530539 3.87418243,69.4337179 C3.87418243,67.5832926 5.84095327,66.9237351 7.68204292,66.9237351 M10.0755712,81.7702803 C14.8838539,86.3653159 20.4903517,89 25.4589477,89 L25.5918905,89 C27.4352144,89 28.3278301,88.8752987 29.1511815,87.6424699 C29.991849,86.1466454 30.1694784,85.3009225 29.8533204,84.2897191 L29.8164539,84.2022509 C21.9158556,69.8332348 12.1858979,66 7.68204292,66 C4.83773815,66 3,67.3474831 3,69.4337179 C3,72.8195647 5.77783339,77.6616389 10.0755712,81.7702803" id="Fill-9"></path>
          <path d="M26.5545246,194.143947 C23.5048249,196.92853 17.145995,201.598682 8.81137391,201.598682 L8.67887509,201.598682 C4.66995074,201.598682 2.37126324,200.054059 2.37126324,197.360472 C2.37126324,191.572455 19.3149673,177.401318 30.4949727,177.401318 C31.9730582,177.401318 32.4401444,178.550282 32.8159289,179.47291 L32.8816216,179.633016 C33.2412612,180.38229 33.6292935,181.837645 33.6292935,182.880064 C33.6292935,185.267261 31.1992206,189.902857 26.5545246,194.143947 L26.5545246,194.143947 Z M33.6181591,179.124477 C33.2195492,178.143106 32.551488,176.5 30.4949727,176.5 C19.4107227,176.5 1.5,190.540403 1.5,197.360472 C1.5,200.578724 4.18337945,202.5 8.67887509,202.5 L8.81137391,202.5 C23.3817903,202.5 34.5,188.569598 34.5,182.880064 C34.5,181.691361 34.0735542,180.092026 33.6721607,179.256363 L33.6181591,179.124477 Z" id="Fill-11"></path>
          <path d="M6.99887546,92.7906562 C9.51447849,90.3570379 13.3840315,88.8686542 17.1596851,88.8686542 C17.2563958,88.8686542 17.3536688,88.8692096 17.4498173,88.8714311 C22.6868147,89.0052745 28.1009277,90.375365 31.9446162,92.5446286 C34.7486646,94.0141298 38.1206073,96.9064813 38.1206073,97.6129082 C38.1206073,97.8900364 37.9412426,98.1654984 37.6527973,98.3326639 C37.2743885,98.5520339 36.8077031,98.5392604 36.4135507,98.3243334 C36.0818105,98.0883024 35.7388249,97.8406087 35.3857183,97.5851399 C31.8113579,95.0004617 26.9162215,91.4605522 20.9330897,91.4605522 C13.6021929,91.4605522 8.07393871,95.4203192 8.07393871,100.671314 C8.07393871,107.278516 13.7708743,113.074326 20.2656733,113.074326 C25.6415519,113.074326 28.850998,110.724569 28.850998,106.789238 C28.850998,103.3654 26.4838347,101.833142 24.1380377,101.833142 C20.7419173,101.833142 18.4427889,104.43948 17.8658982,106.31551 C17.7247681,106.325506 17.3300534,106.258307 16.8195108,105.916756 C16.34158,105.597975 15.2305313,104.667736 15.2305313,102.932214 C15.2305313,100.10484 18.5816699,98.5792468 21.7343267,98.5792468 C23.5380939,98.5792468 26.4602193,99.2873398 28.9224065,100.869581 C30.9865055,102.195242 33.4464436,104.62164 33.4464436,108.650828 C33.4464436,111.98192 28.3387686,115.131961 22.9364633,115.131961 L22.8026427,115.131961 C10.6182176,115.131961 3.87939275,106.188331 3.87939275,100.00654 C3.87939275,97.2602501 4.95782963,94.7649861 6.99887546,92.7906562 M22.8026427,116 L22.9364633,116 C28.8971043,116 34.3263987,112.496745 34.3263987,108.650828 C34.3263987,100.303661 25.0967107,97.7106528 21.7343267,97.7106528 C18.1549058,97.7106528 14.3505763,99.5405872 14.3505763,102.932214 C14.3505763,105.56021 16.4456002,106.984172 17.5667697,107.162444 C18.2263143,107.266298 18.575485,106.971398 18.6851279,106.64151 C19.1416924,105.052605 21.1894855,102.701736 24.1380377,102.701736 C25.9069441,102.701736 27.9716053,103.771929 27.9716053,106.789238 C27.9716053,110.180864 25.091088,112.205732 20.2656733,112.205732 C14.2398088,112.205732 8.95389373,106.815895 8.95389373,100.671314 C8.95389373,95.9151512 14.1037391,92.3285909 20.9330897,92.3285909 C26.6289008,92.3285909 31.1962328,95.631914 34.8667416,98.2860131 C35.221535,98.5425926 35.5662075,98.7919524 35.9423672,99.0557518 C36.6468934,99.4456194 37.4526286,99.4550607 38.0975541,99.081854 C38.654203,98.7597411 39,98.196599 39,97.6129082 C39,96.1756183 34.6373348,92.9728166 32.368569,91.7837758 C28.4169244,89.5534218 22.8481867,88.1400127 17.4706213,88.002837 C13.3823447,87.9234196 9.12594883,89.5162122 6.38318808,92.1703113 C4.17008715,94.3118066 3,97.0214423 3,100.00654 C3,107.571195 11.1332584,116 22.8026427,116" id="Fill-13"></path>
          <path d="M50.6615771,100.640826 C47.1157707,101.729848 39.5,107.717768 39.5,116.836344 L39.5,116.972756 C39.5,120.783767 40.5499745,124.321955 42.1257656,126.5 C46.3278751,125.13929 52.5,118.061779 52.5,106.49347 C52.5,104.859936 52.5,102.954146 52.2373682,101.457593 C52.1057758,100.776669 51.7115515,100.232158 50.6615771,100.640826" id="Fill-15"></path>
          <path d="M28.122937,180.593814 C22.0721532,181.903963 9.97112767,188.309408 6.88150414,196.025003 C6.10909825,197.917576 6.49557221,198.5 8.16884728,198.5 L8.29785261,198.5 C17.4377179,198.5 27.4795364,189.037742 29.4102801,182.486387 C29.6677487,181.321539 29.4102801,180.1573 28.122937,180.593814" id="Fill-17"></path>
          <path d="M24.8748239,83 L25,82.8716359 C22.1151395,77.2128752 14.839608,71.039584 8.69277422,69.2387274 C7.56460469,68.8530981 6.43537882,68.7247341 7.31372429,70.5245164 C10.3237609,77.083974 17.0975316,82.3571055 24.8748239,83" id="Fill-19"></path>
          <path d="M7.00574086,155 C8.9673483,155 12.7501534,153.709417 13.8716619,152.5487 C14.2923013,151.903678 13.5914322,151.516233 13.030973,151.516233 C11.9100544,151.516233 8.82752846,151.258656 7.56620013,150.096861 C5.46477285,148.548161 4.90372362,147 3.22293577,147 C1.40114817,147 0,148.032467 0,150.096861 C0,151.516233 1.68137781,155 6.86592102,155 L7.00574086,155 Z" id="Fill-21"></path>
          <path d="M126.273346,122.022154 C124.509713,122.326584 123.424224,121.717723 122.474707,121.717723 C121.253247,121.717723 121.253247,122.478482 122.067363,123.391139 C122.88148,124.152533 126.137946,127.5 130.751273,127.5 L130.886673,127.5 C133.872338,127.5 135.5,125.674051 135.5,123.848102 C135.5,121.86962 134.279111,120.5 131.429417,120.5 C129.394412,120.5 128.308923,121.56519 126.273346,122.022154" id="Fill-23"></path>
          <path d="M54.313214,134.464674 C50.2050385,136.388609 43.8430024,138.174259 40.26495,138.174259 C34.1685335,138.174259 29.7947383,136.662883 24.891378,134.052689 C17.0723403,129.655698 14.2889146,124.571874 11.7711085,121 C9.51836408,121.274848 7,124.846722 7,129.38085 C7,137.487426 15.6142225,145.868277 29.7947383,145.868277 C36.2890262,145.868277 43.1806274,142.708387 47.289361,141.334722 C48.7469207,140.647316 49.2776019,141.883844 49.1442341,142.708387 C49.1442341,143.807779 49.0119823,144.357474 47.6866744,144.906596 C34.4335951,149.715572 18.6621517,159.88322 12.5657353,167.027542 C10.9759238,168.950903 10.3129908,170.188005 12.6991031,170.188005 C26.8796189,170.188005 44.2408738,161.119749 51.2652848,145.319155 C52.0604696,146.555109 52.7228445,147.105379 52.7228445,149.166451 C52.7228445,152.601188 43.5784988,163.180247 43.5784988,182.82871 C43.5784988,189.011352 45.0360585,194.36945 46.3613664,196.704795 C47.0237414,197.667623 47.5544226,198.354456 49.0119823,197.804187 C56.9638299,195.056282 62,186.263447 62,175.408393 L62,175.271829 C62,167.027542 60.8075019,162.355703 57.7590146,155.623366 C54.5782756,147.792785 54.1809622,141.883844 54.313214,134.464674" id="Fill-25"></path>
          <path d="M133.5,69.6810875 C133.5,68.3595324 132.75,68.227101 131.75,68.8881544 C126,73.2484586 119.75,84.0830035 119.5,89.5 L119.625263,89.5 C126.5,85.8007492 133.5,79.8545789 133.5,69.6810875" id="Fill-27"></path>
          <polygon id="Fill-29" points="115 104 113.188514 104 113.188514 109.855682 111.773799 109.855682 111.773799 104.407454 110.190472 104.407454 110.190472 109.855682 108.81086 109.855682 108.81086 104.075102 107 104.075102 107 112 115 112"></polygon>
          <polygon id="Fill-31" points="115 53 113.021155 53 113.021155 58.5470119 107 58.5470119 107 61 115 61"></polygon>
          <polygon id="Fill-33" points="115 45 113.188514 45 113.188514 50.8551212 111.773799 50.8551212 111.773799 45.4074541 110.190472 45.4074541 110.190472 50.8551212 108.81086 50.8551212 108.81086 45.0751016 107 45.0751016 107 53 115 53"></polygon>
        </g>
      </g>
    </svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
