// Non-modular or client styles for .l-footer region.

#footer-wrapper{
  max-width: 100vw;
  padding: 30px 0;
  background-image: url('../images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  z-index: 4;
  padding-top: 75px;
  padding-bottom: 75px;
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
  }
}
footer#footer {
  @include flex-grid-row();
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 4;
  @include breakpoint(largemin){
    margin-bottom: -50px;

  }
  @include breakpoint(mediumplus) {
    flex-direction: row;
  }

  .region {
    @include grid-col-gutter();
    width: 100%;
    margin-bottom: 30px;
    z-index: 4;
    @include breakpoint(mediumplus){
      width: auto;
      margin-bottom: 0;
      @include flex-grid-column(1 of 3);
    }
  }

  .paragraph--type--branch {
  @include breakpoint(largemin){
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .base-contact-fields{
      margin-right: 70px;
      margin-bottom: 20px;
    }
  }
  }

  .block-social {
    .linkicon {
      justify-content: center;
      @include breakpoint(mediumplus){
        justify-content: flex-start;
      }
      a{
        color: white;
        font-size: 24px;
        &:hover{
          color: #D0E7EC;
        }
      }
      li{
        margin-right: 10px;
        &:last-of-type{
          margin-right: 0px;
        }
      }
    }
  }
}



.block-base-footer {
  ul.menu {
    justify-content: center;
    flex-direction: column;
    @include breakpoint(mediumplus){
      flex-direction: row;
      justify-content: flex-start;
      min-width: 375px;
    }
    @include breakpoint(xlarge){
      flex-direction: row;
    }
    &>li {
    margin-bottom: 10px;
      @include breakpoint(mediumplus){
        flex-direction: row;
        justify-content: flex-start;

      }
      a {
        font-family: $pt;
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 0.2px;
        line-height: 21px;
        @include breakpoint(mediumplus){
          padding-left: 0;
          display: inline-block;
          &::after{
            content: "/";
            margin-left: 7px;
            margin-right: 7px;
            display: inline-block;
          }
        }
        @include breakpoint(xlarge){
          padding-left: 1rem;
        }
        @include breakpoint(xlarge){
          &:first-of-type{
            padding-left: 0;
          }
        }
        &:hover{
          color: #D0E7EC;
        }
      }

    }
    li:last-of-type{
      a{
        &::after{
          display: none;
        }
      }
    }
  }
}

.region-footer_middle {
  text-align: center;


    .field-item,span,a,p{
      font-family: $pt;
      font-weight: 300;
      font-size: 17px;
      color: #FFFFFF;
      letter-spacing: 0.26px;
      line-height: 21px;
      @include breakpoint(mediumplus){
        text-align: left;
      }

  }
}

.paragraph--type--branch{
  .base-contact-fields{
    @include breakpoint(mediumplus){
      align-self: flex-start;
    }
    p{
      margin-bottom: 10px;
      @include breakpoint(largemin){
        margin-bottom: 5px;
      }
    }
  }
  .field-name-field-extra-contact-fields{
    @include breakpoint(mediumplus){
      align-self: flex-start;
    }
    p{
      margin-bottom: 10px;
      @include breakpoint(largemin){
        margin-bottom: 5px;
      }
    }
    a{
      transition: 0.3s ease;
      &:hover{
        color: #D0E7EC;
      }
    }
  }
}
.block-sitebranding{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.region-footer_first{
  @include breakpoint(largemin) {
    margin-bottom: 130px!important;
  }

}
.region-footer_last{
  @include breakpoint(largemin){
    margin-top: -35Px;
  }
}
