// Non-modular or client styles for .l-header region.
#header-wrapper {
  header#header {
    max-width: $global-width;
    margin: 0 auto;
  }
}

.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  @include breakpoint(large){
    padding: 30px 0;
  }
}

.block-system-branding-block,
.block-base-main-menu,
.block-nav-toggle {

}

.block-system-branding-block{
  transition: 0.3s ease;
  svg{
    @include breakpoint(mediumplus down){
      width: 150px;
    }
    @include breakpoint(largemin){
      width: 200px;
    }
    @include breakpoint(large){
      width: 246px;
    }
  }
}

.block-base-main-menu,.block-rightmenu {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 13;
}


.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a {
        font-family: $ptbold;
        font-weight: 700;
        font-size: 15px;
        text-transform: lowercase;
        color: #FFFFFF;
        letter-spacing: 1.27px;
        transition: color .25s ease-out;
        background: transparent;
        padding-left: 0px;
        padding-right:0px;

        text-align: center;
        &>span {
          position: relative;
          &:after {
            content: '';
            display: none;
            background-color: $body-font-color;
            height: 2px; width: 100%;
            position: absolute;
            bottom: -3px; left: 0;
          }
        }
        &.is-active {
          &>span {
            &:after {
              display: none;
            }
          }
        }
        &:hover, &:focus {
          color: black;
        }
      }
    }
  }
}


.region-header{
  display: flex;
  @include wrapper-padding;
  @include breakpoint(largemin){
    justify-content: center;
  }
  .block-rightmenu,.block-base-main-menu{
    @include breakpoint(largemin) {
      position: relative;
      margin-right: 60px;
      &::after {
        content: "";
        opacity: 0.75;
        background: #A4D6E0;
        border-radius: 26.5px;
        width: 50vw;
        position: absolute;
        top: 0;
        right: -40px;
        z-index: -1;
        height: 100%;
      }
    }
    ul.menu{
      flex-wrap: nowrap;
      li{
        a{
          @include breakpoint(largemin){
          padding-left: 10px;
          padding-right: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
          @include breakpoint(xlarge){
            @include wrapper-padding;
          }
        }
      }
    }
  }
  .block-rightmenu{
    @include breakpoint(largemin) {
      margin-right: 0;
      margin-left: 60px;
      &::after{
        right: auto;
        left: -40px;
      }
    }
    @include breakpoint(largemin){
      li:last-of-type{
        a {
          padding-left: 0px!important;
          padding-right: 0px!important;
        }
      }
    }
    @include breakpoint(xlarge){
      li:last-of-type{
        a{
          padding-left: 0px!important;
          padding-right: 0px!important;
        }
      }
    }
  }
}
.node--type-page {
  .region-header {
    .block-system-branding-block {
      > a {
        display: block;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='245px' height='137px' viewBox='0 0 245 137' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELogo blauw%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0.3497625 12.947812 0.3497625 12.947812 8.7006375 0 8.7006375'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(-0.500000, -1.000000)'%3E%3Cg id='Group-36' transform='translate(123.000000, 69.500000) rotate(-270.000000) translate(-123.000000, -69.500000) translate(54.000000, -53.000000)'%3E%3Cpath d='M101.370843,213.326131 L102.625894,213.151738 C102.092759,220.56959 97.3609721,227.941048 87.864769,227.941048 C84.8133753,227.941048 82.3865937,227.336821 81.8447193,226.934934 C81.7841226,226.868978 81.743919,226.818672 81.718282,226.780664 C81.7771307,226.775633 81.8668604,226.776192 81.9997071,226.789048 C89.9908977,227.244594 95.7761352,223.216786 101.370843,213.326131 M82.0457373,226.231773 C81.7316832,226.203266 81.2970183,226.197677 81.1367867,226.501188 C80.9643191,226.827616 81.2882784,227.175843 81.4479274,227.340734 C82.1879065,227.898009 84.8518309,228.5 87.864769,228.5 C92.5796589,228.5 96.5365073,226.72924 99.3088066,223.377205 C101.619056,220.584681 103.011032,216.842498 103.228947,212.840402 L103.248175,212.5 L100.997357,212.813013 L100.927438,212.9371 C95.3618635,222.829432 89.8924281,226.687878 82.0457373,226.231773' id='Fill-1' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M27.5847197,34.2912149 C29.3914762,36.194328 31.5779751,37.1592086 34.0829127,37.1592086 C40.5606712,37.1592086 44.9387777,35.1145278 47.448824,30.9130224 C48.2877766,31.5609026 49.1272968,32.7756084 49.1272968,34.4288963 C49.1272968,39.0845285 42.8181235,41.2535667 38.5541101,41.2535667 C32.7041469,41.2535667 28.8545011,38.4805065 26.6555144,36.154356 C23.3235443,32.6301546 21.7676789,28.0317047 21.9254792,26.0580853 C21.9907563,24.9460854 21.595688,24.6862671 21.2539766,24.6646156 C20.7118928,24.6285297 20.2322481,25.3213784 20.1675386,26.2263009 C19.1372958,31.4770723 20.7374361,37.2330458 24.446878,41.6238632 C28.0427946,45.879775 33.1508693,48.3208452 38.4610192,48.3208452 C45.3503073,48.3208452 49.9174335,45.4439687 52.0409258,39.7629428 C52.0517108,39.8445524 52.0505755,39.9439273 52.0250323,40.0532952 L52.0131121,40.1038154 L52.014815,40.155446 C52.1181231,43.6557752 51.0856097,46.5221035 48.9473591,48.675597 C46.4168782,51.222149 42.3231529,52.6827939 37.7157251,52.6827939 C25.0338043,52.6827939 17.4548495,41.3584933 17.4548495,30.4105961 C17.4548495,28.0139393 17.9390353,22.0730951 22.4028535,18.6887958 C22.7774872,18.4273121 22.9608307,18.3495887 23.042569,18.3268268 C23.0743561,18.4239811 23.1220368,18.6943475 23.0493805,19.3860858 L23.0488129,19.3971892 C22.6963166,24.0539317 24.1414947,30.6648627 27.5847197,34.2912149 M23.8815216,19.4638093 C23.9643951,18.6615926 23.9717743,17.8815827 23.4699921,17.596782 C22.9920502,17.3253052 22.418747,17.6745054 21.904477,18.0331434 C17.1352756,21.6489474 16.620438,27.8940232 16.620438,30.4105961 C16.620438,44.8632639 27.3457487,53.5 37.7157251,53.5 C42.5473655,53.5 46.8596273,51.9488628 49.5456379,49.2446434 C51.8388507,46.9368134 52.9502642,43.8878351 52.8514971,40.1804285 C52.980916,39.5247761 52.7033465,38.8946613 52.2174578,38.7603108 C51.9200213,38.6787012 51.4982745,38.7925105 51.2944964,39.3809877 C49.3225605,44.7711061 45.0046225,47.5036391 38.4610192,47.5036391 C33.4006252,47.5036391 28.527548,45.1708265 25.090567,41.1036716 C21.53779,36.89828 20.0040621,31.3943524 20.9940034,26.332893 C21.0093294,26.1252605 21.0501985,25.9526035 21.0978792,25.8176979 C21.0978792,25.8726594 21.0961763,25.934283 21.0922029,26.0031237 C20.929294,28.0367012 22.389798,32.8455595 26.0419097,36.708968 C28.3538542,39.1550347 32.4016018,42.0702177 38.5541101,42.0702177 C46.4231221,42.0702177 49.962276,37.6016769 49.962276,34.4288963 C49.962276,32.5946239 49.0058247,30.8447369 47.5254536,29.9714589 L47.1508199,29.7499471 L46.9425008,30.1274608 C44.6328268,34.3089802 40.4267113,36.3420025 34.0829127,36.3420025 C31.8197842,36.3420025 29.8393338,35.4648383 28.1966215,33.7354925 C24.9174408,30.2817973 23.5437836,23.9428982 23.8815216,19.4638093' id='Fill-3' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M135.49537,107.060906 C130.420649,113.771898 121.573198,115.465021 115.255769,115.031726 L115.255769,114.735528 L108.050206,111.755498 L108.050206,113.979519 L111.360519,115.28166 L111.281474,115.440196 L111.590316,115.657972 C111.930211,115.897187 112.269542,116.164611 112.608309,116.444448 L109.621518,117.425003 C107.150217,115.515233 104.446861,113.952438 102.294,113.013068 L102.294,110.282408 C102.4312,110.316823 102.561061,110.347854 102.704472,110.383397 C105.13004,110.989897 108.451645,111.820943 114.928859,111.820943 C123.730011,111.820943 128.442253,109.868296 132.314918,104.616288 L132.593835,104.237719 L132.091332,103.915005 C129.180199,102.048678 125.558221,99.7259239 117.74909,99.7259239 C114.700192,99.6915085 112.051603,99.9132336 109.723148,100.288981 L115.255769,97.3382887 L115.255769,96.1467279 C125.306969,95.8866382 133.099162,99.7044848 136.164434,103.537564 C136.559661,104.069028 136.612735,104.385536 136.612735,104.625315 C136.612735,105.379068 136.064498,106.203343 135.580062,106.931143 L135.49537,107.060906 Z M119.180378,127.726475 L119.180378,127.861315 C119.180378,129.692099 119.178684,130.156988 115.255769,130.241052 L115.255769,127.935788 L113.624608,127.935788 L113.624608,130.256849 C113.567018,130.256849 113.512251,130.257413 113.454096,130.257413 C112.707116,130.257413 111.963523,130.215099 111.22219,130.154167 L109.702822,128.022108 L108.050206,128.022108 L108.050206,129.71918 C106.085926,129.342304 104.159474,128.783195 102.294,128.079091 L102.294,126.393303 L98.432627,126.393303 C94.7084546,124.537131 91.3388577,122.204222 88.5587144,119.830128 L93.152952,119.830128 C98.0876499,123.385628 103.571149,125.488913 108.050206,126.488087 L108.050206,126.761153 L108.488344,126.584562 C111.936422,127.309541 114.738021,127.371602 116.134868,126.930973 L116.5013,126.815879 L116.437499,126.436746 C116.265293,125.41839 115.849739,124.396649 115.255769,123.391834 L115.255769,120.942138 L112.660818,120.104886 C112.248087,119.684004 111.815595,119.271584 111.365601,118.870447 L114.264877,117.976777 C116.963152,120.764984 119.180378,124.539952 119.180378,127.726475 L119.180378,127.726475 Z M113.624608,133.526871 L111.889559,131.091844 C112.41126,131.122875 112.93296,131.139236 113.454096,131.139236 C113.513945,131.139236 113.565889,131.138672 113.624608,131.138672 L113.624608,133.526871 Z M112.246958,136.336517 C111.40964,136.336517 110.55369,136.277842 109.680802,136.165005 L109.680802,131.227813 L113.348514,136.315643 C112.981517,136.328055 112.61452,136.336517 112.246958,136.336517 L112.246958,136.336517 Z M133.991247,130.8972 C135.260492,129.800987 135.948752,129.681944 136.152577,129.784061 C136.305586,129.860791 136.378986,130.198738 136.345674,130.676603 C136.222589,133.160714 132.809517,141.529285 122.910761,146.516125 L121.801866,147.074669 L123.014649,147.340965 C128.093323,148.455797 136.612735,151.98873 136.612735,163.121248 C136.612735,168.142503 131.927595,173.757846 125.656463,173.757846 C121.577151,173.757846 118.082775,172.479965 115.255769,170.812231 L115.255769,167.827123 C117.979451,169.411357 121.03343,170.72309 123.510942,170.72309 C128.796828,170.72309 132.937119,165.959667 132.937119,159.878871 C132.937119,154.642096 127.022821,149.711111 122.438747,149.711111 C118.11157,149.711111 116.498477,153.213577 116.498477,155.421237 C116.498477,157.699984 118.979941,160.590873 121.768554,160.590873 C124.187911,160.590873 125.303017,159.180408 125.546929,157.841595 C125.620893,157.671775 125.717441,157.560066 125.814554,157.532985 C125.911103,157.50534 126.047174,157.551603 126.232366,157.689265 C127.070248,158.196468 127.494836,159.024129 127.494836,160.14968 C127.494836,160.819933 127.219306,164.16612 121.768554,164.16612 C119.77209,164.16612 117.181656,162.937323 115.255769,160.937284 L115.255769,159.205233 L113.904655,159.218209 C113.447885,158.491537 113.08597,157.703934 112.852221,156.866682 L115.255769,154.96199 L115.255769,151.443162 L113.167274,151.443162 C113.487408,150.634119 113.891669,150.001666 114.282944,149.559909 C114.591786,149.448764 114.814808,149.277816 114.931682,149.038037 C114.979109,148.94551 115.019761,148.854112 115.056461,148.759329 L115.516619,148.29444 L115.168819,148.375682 C115.26819,147.916999 115.300373,147.264236 115.308277,146.034875 C122.242827,144.433151 126.53782,141.252834 130.67303,136.808177 L130.880806,136.584759 L130.255782,135.323239 L129.83797,135.599126 C125.620893,138.387333 118.675051,140.119385 111.711142,140.119385 C106.31177,140.119385 101.450471,138.596647 97.1176486,136.440328 L102.294,136.440328 L102.294,135.010116 C105.824511,136.478692 109.148939,137.218904 112.246958,137.218904 C121.888816,137.218904 131.531238,133.099782 133.991247,130.8972 L133.991247,130.8972 Z M110.92351,168.822347 L109.680802,168.822347 L109.680802,167.629094 C110.065867,168.001456 110.478033,168.381718 110.92351,168.766493 L110.92351,168.822347 Z M109.680802,163.915057 C110.041024,164.222539 110.457707,164.559922 110.92351,164.91818 L110.92351,167.594114 C110.471822,167.182258 110.058527,166.778301 109.680802,166.390141 L109.680802,163.915057 Z M108.050206,164.565 C107.535846,163.935368 107.199338,163.46258 107.055362,163.253831 C107.151911,163.141558 107.468093,162.949171 107.911877,162.862286 C108.31275,162.782736 108.539724,162.84931 108.570213,162.879776 C108.605783,162.918141 108.648129,162.961019 108.688781,163.003333 L108.050206,163.003333 L108.050206,164.565 Z M112.368349,168.822347 C112.361574,168.817269 112.356493,168.812192 112.349717,168.807114 L112.349717,165.962488 C112.756802,166.247966 113.181389,166.536265 113.624608,166.823436 L113.624608,168.822347 L112.368349,168.822347 Z M112.126696,157.441587 C112.333908,158.058807 112.604357,158.656844 112.929008,159.228364 L109.832682,159.259394 L112.126696,157.441587 Z M112.650655,153.470846 L113.527495,153.461819 L112.580643,154.215572 C112.594758,153.959995 112.617343,153.711754 112.650655,153.470846 L112.650655,153.470846 Z M106.186426,166.401425 C105.344027,165.043993 103.992914,164.841451 103.262872,164.841451 C102.14946,164.841451 101.029836,165.767844 100.359643,167.560827 L96.4186605,167.560827 C99.9683682,164.776005 102.091305,161.235738 102.491614,158.735266 C102.919589,156.148473 102.732702,154.555776 101.919663,153.864084 C101.446519,153.461255 100.813591,153.39186 100.037815,153.65195 C97.6704025,154.446324 92.5076019,154.95804 86.4414241,153.751247 L86.4414241,153.053348 L102.294,153.053348 L102.294,150.698436 C102.706166,150.709156 103.113815,150.726645 103.531062,150.728338 C106.762894,150.728338 109.880674,150.412394 113.023862,149.764144 C112.724619,150.236932 112.449089,150.802246 112.223244,151.443162 L108.050206,151.443162 L108.050206,153.515981 L111.752924,153.479309 C111.703802,153.884959 111.67162,154.304149 111.67162,154.745906 C111.67162,154.809095 111.675572,154.87172 111.677266,154.934345 L108.050206,157.823541 L108.050206,161.309646 L114.4416,161.309646 C116.477022,163.561313 119.305157,165.048507 121.768554,165.048507 C128.059446,165.048507 128.378452,160.96775 128.378452,160.14968 C128.378452,158.336386 127.460394,157.400402 126.72753,156.959772 C126.354322,156.677679 125.946673,156.578947 125.576288,156.683321 C125.309228,156.757794 124.942795,156.969928 124.709611,157.554424 L124.684768,157.645823 C124.582009,158.265863 124.092491,159.707922 121.768554,159.707922 C119.508981,159.707922 117.382093,157.293206 117.382093,155.421237 C117.382093,153.554346 118.755226,150.593498 122.438747,150.593498 C126.547983,150.593498 132.053503,155.184279 132.053503,159.878871 C132.053503,165.464876 128.301664,169.840139 123.510942,169.840139 C121.114734,169.840139 118.000341,168.444342 115.255769,166.801997 L115.255769,162.927168 L113.624608,162.927168 L113.624608,165.770101 C113.18026,165.473903 112.752285,165.177706 112.349717,164.88715 L112.349717,163.337895 L110.92351,163.337895 L110.92351,163.805041 C110.165238,163.196849 109.56788,162.660308 109.208223,162.269891 C108.648129,161.705705 107.382836,161.963538 106.720548,162.39514 C106.002363,162.865107 106.144081,163.40052 106.205058,163.553978 L106.24684,163.634657 C106.330402,163.76047 106.946392,164.673887 108.050206,165.925252 L108.050206,169.35776 C107.376061,168.340532 106.756119,167.346437 106.186426,166.401425 L106.186426,166.401425 Z M109.410354,172.813963 C108.685958,172.980398 108.335899,173.383791 108.136027,174.174215 C108.085212,174.388042 108.0519,174.645875 108.02988,175.057731 C106.041886,172.403236 105.003567,170.378372 104.731424,169.81475 C104.547361,169.44408 104.174154,169.264669 103.793606,169.354375 C103.324979,169.463827 102.821346,170.012215 102.823605,170.999541 C103.370713,176.661147 105.352496,181.531201 108.050206,185.452858 L108.050206,185.87374 L108.337029,185.87092 C108.967699,186.754999 109.636198,187.584917 110.331234,188.365186 L108.050206,190.181301 L108.050206,190.39287 C104.909277,186.777002 102.522103,182.328396 101.375378,177.60898 L102.294,177.60898 L102.294,167.560827 L101.313836,167.560827 C101.862073,166.313412 102.635589,165.724402 103.262872,165.724402 C103.80998,165.724402 104.818939,165.872219 105.432671,166.861237 C106.208446,168.148145 107.076817,169.525887 108.050206,170.931274 L108.050206,170.980923 L108.084648,170.980923 C108.505847,171.588551 108.946808,172.200129 109.410354,172.813963 L109.410354,172.813963 Z M111.193959,175.034035 L111.193959,177.628726 L112.53378,177.628726 L112.53378,176.537026 C112.894567,176.921237 113.264951,177.301498 113.646063,177.676682 C113.645499,178.138186 113.64324,178.199118 113.635336,178.363297 C113.624608,178.935381 113.559678,179.237785 113.397635,179.486027 C113.222041,179.74386 112.909246,179.852183 112.216469,179.878136 C111.275828,178.937074 110.43117,178.014065 109.681367,177.128858 L109.680802,177.100084 L109.692094,176.3232 L109.692094,175.77199 C109.714114,175.113585 109.93036,174.865343 110.491583,174.865343 L110.491583,174.190577 C110.720815,174.47267 110.954564,174.753634 111.193959,175.034035 L111.193959,175.034035 Z M112.53378,174.854624 L112.630893,174.854624 L112.706551,174.854624 C112.922797,174.854624 113.019346,174.865343 113.106296,174.887347 C113.537658,175.053781 113.638724,175.301459 113.646063,176.417983 C113.264951,176.024746 112.892873,175.628123 112.53378,175.226987 L112.53378,174.854624 Z M118.976553,181.997219 C123.880762,185.244109 130.531877,188.449814 134.768716,189.612601 C135.762431,189.946599 136.612735,191.912787 136.612735,192.436916 C136.612735,194.848811 132.772817,199.155807 125.120083,199.155807 L124.98627,199.155807 C120.176916,199.155807 115.40652,197.054779 111.375199,193.66797 L115.255769,193.66797 L115.255769,192.755681 C118.660371,195.117928 122.234357,196.390732 125.25446,196.390732 L125.388838,196.390732 C128.625186,196.390732 131.437513,195.210455 133.7479,192.882623 L134.279763,192.346646 L133.551415,192.146925 C125.024099,189.80386 118.714574,185.763724 114.199947,181.748412 C114.712613,181.487759 115.020326,181.045437 115.180675,180.317073 C115.236007,180.057547 115.269884,179.730883 115.289081,179.194907 C116.429594,180.189567 117.652541,181.134578 118.976553,181.997219 L118.976553,181.997219 Z M111.888995,189.987221 C112.476755,190.553099 113.078065,191.083998 113.688974,191.578789 L109.832682,191.617154 L111.888995,189.987221 Z M109.693224,178.483468 C110.096356,178.937074 110.522072,179.399142 110.971502,179.866288 C110.768807,179.856697 110.597165,179.845413 110.513603,179.831308 C110.059091,179.777711 109.854138,179.604506 109.757025,179.205062 C109.707339,179.007597 109.696047,178.957949 109.693224,178.483468 L109.693224,178.483468 Z M111.087812,187.763199 C110.577404,187.149365 110.090145,186.512963 109.624906,185.858507 L113.527495,185.820707 L111.087812,187.763199 Z M115.255769,187.320313 L115.255769,183.80205 L108.273792,183.80205 C105.719493,179.594915 104.087768,174.916684 103.704398,170.957227 C103.704398,170.519983 103.865312,170.301643 103.953955,170.235633 C104.287076,170.918862 105.552368,173.360659 107.998262,176.460297 C107.997133,176.689921 107.996004,176.937598 107.996004,177.219127 C107.996004,178.589535 108.028751,179.464023 108.093117,179.961071 C108.222977,180.889157 108.514316,181.396925 109.076669,181.720203 C109.583689,182.001168 110.199679,182.087488 111.745019,182.087488 C112.398838,182.087488 112.852221,182.074512 113.204538,182.036147 C117.701098,186.131573 124.014575,190.300908 132.567863,192.785583 C130.539217,194.592671 128.1272,195.508345 125.388838,195.508345 L125.25446,195.508345 C121.593524,195.508345 118.208683,194.082647 115.255769,191.818004 L115.255769,191.562992 L114.943539,191.566377 C114.12316,190.914178 113.337221,190.200483 112.590241,189.432626 L115.255769,187.320313 Z M99.3839961,183.813897 L96.6286957,183.813897 C96.420919,182.150677 95.8500975,180.056419 94.5763357,177.60898 L97.3124393,177.60898 C98.1864567,179.413247 99.0079654,181.64968 99.3839961,183.813897 L99.3839961,183.813897 Z M100.902234,209.310027 L101.1772,209.513134 C101.3144,209.602839 101.601223,209.790713 101.855297,209.649667 C102.085094,209.524982 102.117277,209.248531 102.117277,208.96813 C102.117277,208.091949 102.304727,207.89392 102.338604,207.89392 C102.594937,207.89392 103.136964,208.060919 103.884508,208.526372 C104.665365,209.035832 105.07866,209.530059 105.07866,209.954891 C105.07866,224.27506 97.9617417,237.615802 91.2790089,241.114884 C91.0520354,241.281883 90.7426287,241.664965 90.8775707,241.98373 C90.9746837,242.216175 91.2253709,242.29911 91.6132585,242.238178 C99.8565753,241.026871 108.728304,232.588341 108.728304,216.923153 C108.728304,211.862404 107.523989,209.157132 106.945263,207.856684 C106.840246,207.62029 106.75386,207.427338 106.692318,207.258647 C106.415094,206.579367 106.508254,206.356513 106.543825,206.304044 C106.585606,206.241983 106.676508,206.228443 106.745956,206.228443 C107.137795,206.228443 108.313315,206.600241 108.888653,206.953986 L108.050206,206.953986 L108.050206,209.14472 L109.882933,209.14472 C110.409715,211.060132 110.807765,213.907578 110.807765,217.231198 C110.807765,220.144655 110.260093,230.211425 103.205846,237.446547 C98.8058347,242.015889 93.6023821,244.193083 87.7242197,243.911554 C87.5672579,243.904784 87.4385267,243.898578 87.3391552,243.896885 C86.8050334,243.705062 86.2409873,243.157237 85.7576805,242.366249 C97.1136963,238.582817 99.9920819,226.332647 100.285679,224.935722 L99.7814821,224.710612 C90.5738101,237.233284 78.1410816,241.676813 70.2924277,241.676813 C51.6495456,241.676813 51.4338643,224.069132 51.4338643,223.89085 C51.4338643,212.316574 59.4981995,206.251575 67.4784078,206.229571 C67.910335,206.744109 68.3654112,207.236643 68.8447658,207.703225 C68.9164713,207.77262 68.9909999,207.836937 69.0632701,207.905204 C68.5793987,207.856119 68.0881874,207.822833 67.5845546,207.822833 C60.5754768,207.822833 53.3253103,213.786843 53.3253103,223.767293 C53.3253103,225.50555 53.6731105,229.818188 56.9066362,232.322045 C57.1601465,232.503149 57.4413226,232.683688 57.7027374,232.683688 C57.7896874,232.683688 57.8743791,232.663378 57.9551184,232.61655 C58.2950141,232.419085 58.289368,231.878595 58.2334715,231.332463 C58.0070626,228.227183 58.931895,223.842894 61.139523,221.471056 C62.2501123,220.277238 63.592192,219.671867 65.1290625,219.671867 C69.5070542,219.671867 72.2691299,221.03494 73.8206802,223.961373 L73.9601391,224.224848 L74.2153431,224.070825 C75.2158334,223.46771 75.8628773,222.259788 75.8628773,220.992626 C75.8628773,219.750289 75.132271,218.420502 73.9081949,217.435434 C72.8986709,216.622442 71.0800597,215.654298 68.1514238,215.654298 C64.8665185,215.654298 61.9486102,216.928795 59.7127516,219.341254 C57.231852,222.017188 56.2387017,225.380865 56.3476716,226.806563 C56.3504947,226.852826 56.3516239,226.894576 56.3516239,226.931248 C56.3188765,226.836465 56.2895167,226.710087 56.2770953,226.551551 C55.6125484,223.088013 56.6491737,219.287656 59.0504632,216.383791 C61.3738364,213.574709 64.6677755,211.963958 68.0881874,211.963958 C72.5085249,211.963958 75.4275624,213.830285 76.7589145,217.498622 C76.9350731,218.075785 77.3178791,218.005826 77.393537,217.985515 C77.7181882,217.899759 77.9028159,217.471541 77.8153012,217.020757 C77.8610347,215.274601 77.5222682,213.74735 76.824974,212.445773 C77.4319305,212.636467 78.0484854,212.798389 78.6729449,212.931537 C79.1342319,214.140023 79.3905652,215.473759 79.3905652,216.923153 C79.3905652,221.391506 76.4980643,225.243768 74.0103894,227.193595 C73.776076,227.397266 73.6879967,227.39106 73.6868675,227.388803 C73.607822,227.375262 73.4356157,227.072295 73.3695562,226.956072 C71.2511367,223.309738 68.8227459,222.807048 66.5140526,222.807048 C62.748099,222.807048 59.6845211,226.585402 59.6845211,231.229217 C59.6845211,235.099533 61.6121022,239.712882 70.7954959,239.712882 C79.823057,239.712882 87.6502557,235.75681 94.0574584,227.954681 L94.7445897,227.117994 L93.7361949,227.512924 C91.4675889,228.402081 89.0036277,228.912105 86.9761105,228.912105 C81.0827036,228.912105 78.4442776,226.328133 78.4442776,223.767293 C78.4442776,223.517923 78.4962218,223.335691 78.5820426,223.279272 C78.6661696,223.225674 78.8372466,223.249934 79.0715601,223.353745 C79.6327832,223.560237 81.3113709,223.864897 83.1361928,223.864897 C89.5258926,223.864897 94.0992396,218.375932 95.3046835,214.477971 L95.4842297,213.899116 L94.9258297,214.134381 C89.1662355,216.561509 85.9146423,213.749042 85.7734896,213.623793 C85.6566152,213.525625 85.5386115,213.403196 85.4296417,213.267227 C86.4064182,213.166802 87.3589166,213.007138 88.283749,212.780899 C88.6196923,212.80798 88.9737033,212.827162 89.3689308,212.827162 C93.889769,212.827162 96.5575548,210.555749 97.1933064,208.312546 C97.3660773,207.763593 97.6506412,207.461753 97.9944891,207.461753 C98.4111718,207.461753 100.286244,208.853036 100.902234,209.310027 L100.902234,209.310027 Z M67.2655495,177.60898 L71.3832556,177.60898 C70.0360944,179.642306 69.5053603,182.033891 69.4393009,183.813897 L65.7506989,183.813897 C66.482999,181.733744 66.9928425,179.627637 67.2655495,177.60898 L67.2655495,177.60898 Z M61.5420904,190.371995 C57.8365501,196.036423 52.8899954,199.155807 47.6137081,199.155807 L47.4793307,199.155807 C42.6790102,199.155807 39.2049603,189.01005 39.2049603,182.169859 C39.2049603,175.461124 41.0952771,167.652225 44.3920392,160.744332 L44.6060266,160.294676 L43.4705944,159.91385 L43.276933,160.108494 C36.9606326,166.472512 21.6320156,171.59645 13.1515623,171.59645 C7.74936669,171.59645 5.0110046,170.699394 5.0110046,168.930671 C5.0110046,166.223142 14.4575069,155.437034 31.968909,147.718406 L31.7662138,146.874383 C22.4439258,147.386664 14.3999166,144.922864 9.13548606,139.942794 C5.38477691,136.394064 3.40186398,131.889039 3.40186398,126.91574 C3.40186398,120.025336 9.22074228,116.104808 10.7598712,115.440196 C11.7750413,115.05655 12.3006939,115.000696 13.0527554,116.082804 C18.5774715,124.363926 30.2180511,133.166356 40.9089555,133.166356 C47.8982719,133.166356 53.6364108,131.39312 56.6920842,129.724822 C56.7005533,129.719744 56.7084579,129.715231 56.7157978,129.711281 C56.8219446,129.890692 56.9083301,130.410308 56.9557574,130.701992 L57.0003616,130.970544 L57.1736971,131.075483 C57.6592624,131.36886 57.8901882,132.124305 57.8992219,132.562677 C56.7197501,141.490356 59.8527751,152.008476 65.5152562,158.139485 C69.1694169,162.396833 73.7230026,165.362759 78.540826,166.739937 L78.540826,167.560827 L71.6841932,167.560827 C69.6527237,166.359111 67.9396947,164.97742 66.7127956,163.634093 L66.5812413,163.490789 L65.3300639,163.490789 L65.4147555,164.004199 C65.4661351,164.314501 65.5423575,164.690249 65.6310014,165.130314 C65.7625557,165.780256 65.9257282,166.594377 66.0815608,167.560827 L63.6113888,167.560827 L63.6113888,177.60898 L66.3695123,177.60898 C66.0815608,179.643435 65.5423575,181.752926 64.7925545,183.813897 L64.535092,183.813897 C64.0862264,184.89657 63.7079372,185.979807 63.4058705,187.074892 C62.8446474,188.221318 62.2235756,189.329944 61.5420904,190.371995 L61.5420904,190.371995 Z M97.0685275,158.820458 C97.1176486,158.80861 97.157736,158.800147 97.1893542,158.794505 L97.1893542,158.798454 C97.1893542,160.962108 93.071648,165.842881 86.4414241,166.62315 L86.4414241,159.248675 C90.2785187,159.727669 94.027534,159.620473 97.0685275,158.820458 L97.0685275,158.820458 Z M74.2424444,154.628556 C73.3328565,154.132072 72.4831174,153.602866 71.6785471,153.053348 L78.540826,153.053348 L78.540826,156.498268 C77.0316215,155.964548 75.5817011,155.341123 74.2424444,154.628556 L74.2424444,154.628556 Z M59.8555981,132.724599 C59.8555981,131.583815 60.3772985,131.102 61.4071485,130.747127 C61.6312989,134.914204 63.4352302,139.255052 66.3158742,143.004632 L63.6113888,143.004632 L63.6113888,144.617075 C60.7962396,140.019524 59.8555981,135.439462 59.8555981,132.724599 L59.8555981,132.724599 Z M86.4414241,167.560827 L86.4414241,167.51005 C93.3629872,166.728089 98.07297,161.652107 98.07297,158.798454 C98.07297,158.656844 98.07297,158.281096 97.7816308,158.054857 C97.5038424,157.83821 97.1391038,157.892936 96.8483293,157.966844 C93.8745245,158.747678 90.2006024,158.845282 86.4414241,158.36516 L86.4414241,154.640404 C92.6250409,155.837042 97.8906007,155.303886 100.318992,154.488073 C101.017415,154.253936 101.264715,154.464942 101.347712,154.535465 C101.596141,154.747035 102.121229,155.566797 101.619855,158.593655 C101.274877,160.752795 99.052005,164.688556 94.9676109,167.560827 L86.4414241,167.560827 Z M91.7335206,183.813897 C91.325307,181.765338 90.1802764,179.497875 88.4486153,177.60898 L93.5831854,177.60898 C94.9241359,180.068267 95.5181064,182.160832 95.73774,183.813897 L91.7335206,183.813897 Z M92.0971299,198.125039 C90.5935715,198.789651 88.9307929,199.155807 87.1714658,199.155807 L87.0376531,199.155807 C79.0235682,199.155807 74.6743717,195.081256 72.4368193,191.093589 C72.7163016,188.967172 73.5722515,186.953592 74.9549832,185.343406 C75.3027834,191.029836 79.6135864,196.660977 86.6350856,196.660977 C89.4677377,196.660977 91.8080492,195.454747 93.5210782,193.632426 C93.3675041,195.322728 92.8655651,196.831361 92.0971299,198.125039 L92.0971299,198.125039 Z M96.635471,208.201401 C96.0815879,210.048546 93.8338725,212.008528 90.1085709,212.239281 C92.5126834,211.389616 94.7028085,210.05306 96.635471,208.201401 L96.635471,208.201401 Z M83.0554535,202.935289 C77.0525121,202.935289 72.3329309,198.782316 72.3329309,192.630996 C72.3329309,192.623662 72.3334955,192.616892 72.3334955,192.609557 C74.8505302,196.446022 79.3397502,200.038758 87.0376531,200.038758 L87.1714658,200.038758 C88.5762173,200.038758 89.9233785,199.821547 91.1852836,199.417025 C89.3045652,201.637661 86.4425533,202.935289 83.0554535,202.935289 L83.0554535,202.935289 Z M79.1443949,177.60898 C77.0412199,178.537066 75.2355947,180.78309 74.9662754,183.813897 L70.3234813,183.813897 C70.3940576,181.058413 71.211614,179.04709 72.3871335,177.60898 L79.1443949,177.60898 Z M93.5645532,192.207857 C91.9683987,194.311706 89.5998566,195.77859 86.6350856,195.77859 C79.8608859,195.77859 75.8131915,190.096108 75.8131915,184.601501 C75.8131915,184.551853 75.8194022,184.503897 75.8205315,184.453684 C76.0661371,184.229702 76.320212,184.014183 76.5912251,183.813897 L75.8566665,183.813897 C76.2135005,180.361643 78.8688649,178.018015 81.2712836,178.018015 C84.1078879,178.018015 86.5961275,180.400008 86.5961275,183.115999 C86.5961275,185.303348 85.204362,186.186864 84.6233775,186.186864 C84.1282139,186.186864 83.7290341,185.92226 83.3428404,185.666684 C83.0119785,185.44778 82.6991841,185.240724 82.344044,185.240724 C82.2226527,185.240724 81.6173899,185.290372 81.6173899,186.264157 C81.6173899,187.055146 82.0086652,188.374777 82.882118,189.539821 C83.608772,190.507964 84.8955199,191.662289 86.9032757,191.662289 C89.3988552,191.662289 91.4088694,189.485659 91.8215999,186.536659 C92.8836327,188.239937 93.512609,190.217408 93.5645532,192.207857 L93.5645532,192.207857 Z M90.8386126,183.813897 L89.4683023,183.813897 C90.0363007,184.288942 90.5546134,184.826611 91.0204172,185.407723 L91.0204172,185.412236 C91.0204172,188.422169 89.211969,190.779902 86.9032757,190.779902 C84.951981,190.779902 83.8097734,189.40893 83.302753,188.591424 C82.663049,187.561221 82.4733398,186.582358 82.4987473,186.180658 C82.6077172,186.238769 82.7437884,186.329039 82.8555813,186.402383 C83.2807332,186.683912 83.8628469,187.069251 84.6233775,187.069251 C85.5877327,187.069251 87.4791787,185.875433 87.4791787,183.115999 C87.4791787,180.71426 85.8299507,178.536502 83.6019967,177.60898 L87.2448652,177.60898 C89.1340527,179.42453 90.3925701,181.733179 90.8386126,183.813897 L90.8386126,183.813897 Z M66.9770334,167.560827 C66.8127317,166.515391 66.6365731,165.647673 66.4965497,164.954852 C66.472836,164.838066 66.4502516,164.726357 66.4287964,164.619161 C67.4033145,165.618335 68.6341659,166.624843 70.0434344,167.560827 L66.9770334,167.560827 Z M77.2574658,217.10877 C77.2698872,217.16406 77.2738395,217.214837 77.2721457,217.258843 C75.8369052,213.371038 72.7473552,211.399772 68.0881874,211.399772 C64.4989569,211.399772 61.0463622,213.08556 58.6151483,216.024404 C56.1082767,219.05634 55.0264825,223.031594 55.7181306,226.624895 C55.7649933,227.268067 56.0806107,227.731264 56.454383,227.709825 C56.6452215,227.696848 56.9585804,227.558623 56.9111531,226.768198 C56.8050063,225.38425 57.8636515,222.166133 60.1271759,219.724336 C61.6098437,218.124869 64.2053593,216.218484 68.1514238,216.218484 C73.0262729,216.218484 75.2982665,219.067059 75.2982665,220.992626 C75.2982665,222.13341 74.731962,222.971227 74.1656574,223.41919 C72.4972326,220.51871 69.5375431,219.107681 65.1290625,219.107681 C63.4290195,219.107681 61.9474809,219.77342 60.7256633,221.086845 C58.4090654,223.577162 57.4351119,228.146505 57.6711192,231.381547 C57.7281449,231.940656 57.6745069,232.100884 57.6920098,232.11781 C57.6575685,232.113296 57.5412587,232.081702 57.2431442,231.869568 C54.2168307,229.524811 53.8899211,225.422615 53.8899211,223.767293 C53.8899211,216.207201 59.0120697,208.387019 67.5845546,208.387019 C68.3467791,208.387019 69.0869838,208.448515 69.7966995,208.563609 C71.6463643,210.143894 73.7512331,211.355765 76.0057238,212.17045 C76.8819997,213.5008 77.3048931,215.129605 77.2501259,217.038247 L77.2489966,217.07379 L77.2574658,217.10877 Z M86.9761105,229.476291 C88.8037554,229.476291 90.8888629,229.098851 92.941223,228.403774 C86.7756737,235.535085 79.3301518,239.148696 70.7954959,239.148696 C63.895388,239.148696 60.2491318,236.410701 60.2491318,231.229217 C60.2491318,226.896269 63.0591995,223.371234 66.5140526,223.371234 C68.5071285,223.371234 70.8079173,223.670253 72.8800387,227.237037 C73.052245,227.541133 73.2481649,227.886415 73.5914483,227.94509 C73.9008549,228.000381 74.1746911,227.798402 74.3694819,227.628018 C75.5613751,226.69429 76.8453,225.334037 77.8813607,223.678716 C77.8802314,223.708053 77.8796668,223.737391 77.8796668,223.767293 C77.8796668,226.609098 80.6925575,229.476291 86.9761105,229.476291 L86.9761105,229.476291 Z M85.403105,214.050318 C85.5453869,214.176131 88.8415844,217.023014 94.5656081,214.884749 C93.1783595,218.475793 88.8602165,223.300711 83.1361928,223.300711 C81.317017,223.300711 79.718604,222.990409 79.2838537,222.831308 C78.9496042,222.683492 78.6627819,222.648512 78.4290331,222.730883 C79.3408794,221.011244 79.9551759,219.034337 79.9551759,216.923153 C79.9551759,215.532998 79.7310255,214.243833 79.3278934,213.062428 C80.5327727,213.279075 81.7624949,213.393605 83.0040739,213.393605 C83.6053844,213.393605 84.1965318,213.367088 84.7814685,213.32421 C85.008442,213.690367 85.2822783,213.9482 85.403105,214.050318 L85.403105,214.050318 Z M75.9295013,141.551853 C73.7100165,139.971004 71.7959861,138.233311 70.2382251,136.440328 L75.0086212,136.440328 C77.824335,138.934594 81.5061616,141.200365 85.520544,143.004632 L78.1410816,143.004632 C77.3850678,142.540307 76.6431693,142.060184 75.9295013,141.551853 L75.9295013,141.551853 Z M70.474797,126.393303 C70.6470032,123.954892 71.8123598,122.763895 74.0307154,122.763895 L74.1645282,122.763895 C75.9052231,122.763895 78.1879443,124.262937 80.9833321,126.393303 L70.474797,126.393303 Z M110.869872,142.646938 C110.848417,143.014223 110.81567,143.985751 110.81567,144.179831 L110.81567,145.911882 C110.405198,145.961531 109.985127,146.00723 109.557717,146.048415 C109.547554,145.655178 109.540779,145.195366 109.540779,144.806078 C109.540779,143.392227 109.627164,143.176144 110.253882,143.176144 L110.253882,141.039008 C109.173782,141.039008 108.730562,141.200929 108.395748,141.697413 C108.060934,142.215335 107.996004,142.79814 107.996004,145.324 C107.996004,145.638816 107.998827,145.917524 108.003908,146.177614 C106.486799,146.28086 104.866931,146.333893 103.129059,146.333893 C102.853529,146.333893 102.572918,146.32261 102.294,146.314711 L102.294,143.004632 L87.7518856,143.004632 C83.4687486,141.253963 79.5204256,138.950955 76.4766091,136.440328 L95.2013598,136.440328 C99.9926465,139.05138 105.471629,140.991616 111.667667,141.000643 C111.155001,141.283864 110.909395,141.808557 110.869872,142.646938 L110.869872,142.646938 Z M112.436103,145.6879 L112.436103,144.644156 C112.44683,143.510707 112.44683,143.510707 112.522488,143.273748 C112.598146,143.046381 112.814392,142.905899 113.106296,142.905899 C113.675988,142.905899 113.768584,143.190249 113.774795,145.451506 C113.338351,145.53557 112.894002,145.615684 112.436103,145.6879 L112.436103,145.6879 Z M108.200957,148.32547 C108.347756,148.935355 108.60409,149.308846 109.050132,149.516466 C107.230392,149.735371 105.401617,149.845951 103.533885,149.845951 C103.118896,149.843694 102.707295,149.829026 102.294,149.817178 L102.294,147.197098 C102.573482,147.204996 102.854094,147.215716 103.129059,147.215716 C104.877094,147.215716 106.504867,147.161554 108.034397,147.058872 C108.066015,147.607261 108.119089,148.007833 108.200957,148.32547 L108.200957,148.32547 Z M110.189516,147.570025 C109.81518,147.570025 109.657089,147.404718 109.599498,146.934187 C110.007147,146.895823 110.407456,146.852944 110.80099,146.806681 C110.792521,146.979322 110.781229,147.02897 110.761467,147.1057 C110.686374,147.418823 110.491583,147.570025 110.189516,147.570025 L110.189516,147.570025 Z M113.667519,147.213459 C113.570406,147.472985 113.451837,147.527147 112.95498,147.548586 L112.95498,148.874423 C112.661947,148.935919 112.368914,148.991773 112.075881,149.047628 C112.091125,149.02224 112.109193,148.999672 112.122744,148.973155 C112.360445,148.509394 112.436103,147.958185 112.436103,146.630655 L112.436103,146.582699 C112.887791,146.513304 113.331575,146.439396 113.763502,146.358717 C113.746,146.775087 113.712123,147.102315 113.667519,147.213459 L113.667519,147.213459 Z M115.308842,145.12315 C115.302067,143.687861 115.23883,142.694894 115.126473,142.183177 C114.987014,141.533799 114.710919,141.138304 114.213497,140.928427 C119.949942,140.596686 125.476352,139.148985 129.317964,136.953737 C125.557092,140.833644 121.536499,143.638777 115.308842,145.12315 L115.308842,145.12315 Z M65.904273,121.615212 C65.3537775,121.028459 64.8196558,120.432114 64.3019077,119.830128 L80.139239,119.830128 C82.6709536,121.435801 85.2687276,123.665464 87.559918,125.633909 C87.8744062,125.895127 88.1855067,126.140548 88.4977364,126.393303 L82.4315586,126.393303 C79.0828523,123.793534 76.3653808,121.881508 74.1645282,121.881508 L74.0307154,121.881508 C71.3476852,121.881508 69.7893595,123.47759 69.5894873,126.393303 L65.7659434,126.393303 C65.8128061,125.638987 66.0544595,124.636428 66.3808045,123.869135 C66.7421554,123.139643 66.5563984,122.271925 65.904273,121.615212 L65.904273,121.615212 Z M56.1297319,105.805028 L54.7904752,105.805028 L54.8164473,106.270481 C55.2681359,114.368807 53.3608808,120.732825 49.1466262,125.184817 C44.8634891,129.710717 39.6182554,130.662499 38.7634347,130.662499 C38.6183297,130.662499 38.3862747,130.55079 38.1954363,130.30142 C38.02323,130.077438 37.7674613,129.582647 37.9752381,128.810276 C38.2253607,128.055395 37.8758666,127.293744 37.3468263,126.140548 C36.4846657,124.262373 35.1821088,121.423953 35.1821088,116.108193 C35.1821088,108.935132 40.6204394,102.278866 45.6731409,99.1295793 C48.3126962,97.4844129 50.720761,96.9100716 52.1125264,97.5910441 L52.7482781,97.9024747 L52.7482781,97.1949855 C52.7482781,96.714299 52.4857341,96.1027214 52.2068164,95.4544717 C51.9583877,94.8744885 51.6760823,94.217776 51.6760823,93.8172039 C51.6760823,92.8044901 53.4811429,90.2058494 54.1840833,90.2058494 C54.4895377,90.2058494 54.8153181,90.2656531 54.8153181,90.9804767 C54.8153181,91.0983916 54.8113658,91.2332321 54.8068489,91.381613 C54.7848291,92.0817678 54.751517,93.1396165 55.1117387,94.1066313 L55.2681359,94.5269499 L55.6859478,94.363336 C60.4715885,92.4879817 65.621403,86.698305 65.621403,78.4245174 C65.628743,78.0374858 65.6270491,77.6702007 65.6202738,77.3136351 C66.4813052,78.7263569 67.4947815,80.0324475 68.6465874,81.1974915 C67.617302,86.9832189 64.4599987,91.4165925 58.7670286,95.2062298 L58.5699795,95.3376852 L58.5699795,95.9571614 L58.7834023,96.0857958 C59.311878,96.4056893 60.3671355,96.5608404 61.3523812,96.5608404 C61.9090874,96.5608404 62.4426446,96.5111921 62.8457766,96.4135879 C63.9958887,96.2753623 65.0805059,96.0338907 66.1018868,95.707227 C65.4520198,96.6121813 64.9365302,97.6378715 64.545255,98.7577807 C61.697923,99.0979849 59.0690954,98.7888109 57.1686156,98.0028998 L56.895344,97.8894984 L56.2307972,98.5591872 L56.3109719,98.8130709 C58.722989,106.477538 61.2609143,111.276504 63.6113888,114.529036 L63.6113888,119.010365 C59.9656972,114.605201 57.2719394,109.948974 56.2189404,106.128871 L56.1297319,105.805028 Z M69.2275718,47.1110662 C66.0945468,47.1110662 64.3171522,47.7519815 62.9982215,48.39064 L62.7864925,48.4109507 C62.7808464,48.4115149 62.7757649,48.4120791 62.7706834,48.4126433 C62.7791526,48.2958568 62.7870571,48.1531177 62.7870571,47.9799126 C62.7870571,47.1844103 63.4058705,46.3832662 63.959189,45.9166844 C64.0043579,45.8726779 68.4868025,41.6243573 76.8114233,44.9428994 C75.0007167,45.4805686 73.3187413,46.279456 71.7892108,47.2932982 C70.9846405,47.1776401 70.1337721,47.1110662 69.2275718,47.1110662 L69.2275718,47.1110662 Z M60.0554703,30.8675871 C57.5175451,30.8675871 54.929934,31.1976359 54.0790657,31.6173903 C53.7267486,31.7432038 53.4546062,31.7657712 53.3326503,31.6794508 C53.2174697,31.598208 53.1514102,31.3544796 53.1514102,31.0103262 C53.1514102,27.2421279 57.0336737,23.4400785 65.7072239,23.4400785 C68.6894978,23.4400785 72.3148634,24.1898817 75.6539713,25.498229 L77.1377683,26.0793406 L76.1265505,24.8482867 C66.6981157,13.3671017 55.1817504,7.54583056 41.8964597,7.54583056 C28.381937,7.54583056 25.5458972,14.2855965 25.5458972,19.9393044 C25.5458972,26.8229377 30.054314,32.4236121 35.5959684,32.4236121 C38.9610485,32.4236121 42.5113208,31.6839643 45.686127,26.3146061 C45.7809816,26.1470429 46.0339272,25.7007718 46.1508016,25.6810252 C46.1547539,25.6782043 46.2704991,25.6595862 46.6493529,25.9873782 C49.3798105,28.0511706 54.5443049,33.861158 54.5443049,41.083303 C54.5443049,50.4961821 47.5250642,56.8207072 37.0780716,56.8207072 C25.3138422,56.8207072 13.4050725,47.8614335 13.4050725,30.7378243 C13.4050725,29.9045216 13.5417083,22.3946418 18.2787924,15.442742 C23.1553354,8.28491422 30.852109,4.6555057 41.1551258,4.6555057 C59.6975071,4.6555057 76.1203398,18.1045715 84.5505427,29.6218644 L85.2924413,29.292944 C84.8672894,27.2387428 80.684653,9.22484809 63.9140202,3.6399709 C64.6243005,2.47718356 65.4542783,1.67039759 66.2413456,1.38830459 C66.3870152,1.38548366 66.5767244,1.37702087 66.8070856,1.36573715 C75.4495822,0.955573929 83.1147376,4.1556369 89.5902582,10.8824265 C99.9694975,21.5274879 100.776326,36.272489 100.776326,40.5382993 C100.776326,45.3829644 100.210586,49.5348092 99.4551371,52.364202 C98.6697635,51.3018397 97.7844539,50.3246696 96.8059835,49.4451036 C97.315827,47.3192508 97.7155714,44.5818203 97.7155714,41.083303 C97.7155714,18.0295348 84.6606418,5.61180096 72.53732,3.83066577 C72.4582745,3.81768949 72.3210741,3.79568624 72.1680646,3.79568624 C71.8970514,3.79568624 71.5774817,3.8656453 71.443669,4.18328202 C71.2483137,4.64817128 71.7259744,5.16158054 72.0387687,5.39120424 L72.0895837,5.42336284 C83.0441613,11.257046 90.7460164,30.2046686 92.123102,46.3223341 C90.6353527,45.6075105 89.030729,45.0591217 87.3267338,44.6940933 C86.5120005,40.2923142 84.753238,36.2623336 82.2102312,33.0769395 C78.2607791,28.1290283 72.6180593,25.513462 65.8924162,25.513462 C61.7882607,25.513462 57.8467131,26.2604443 56.7073287,27.2652595 C56.1624793,27.7989795 56.1799822,28.1944739 56.2917751,28.4325604 C56.4628522,28.7992813 56.902684,28.9510473 57.578523,28.8839092 C67.5760854,28.2847436 74.8691624,32.7756642 81.9781762,44.168272 C80.5824584,44.1863259 79.2358618,44.347119 77.9496786,44.641624 C76.1564749,38.9083659 69.437607,30.8675871 60.0554703,30.8675871 L60.0554703,30.8675871 Z M52.321997,31.1051094 C50.6671229,28.4681041 48.6621902,26.4680647 47.1721825,25.343642 C46.8678573,25.0790388 46.4602083,24.7862263 46.0107782,24.8629556 C45.5048869,24.949276 45.2163709,25.4570434 44.9662483,25.8993652 C42.0082526,30.903695 38.7148782,31.5931303 35.5959684,31.5931303 C30.5127779,31.5931303 26.375875,26.3653829 26.375875,19.9393044 C26.375875,12.3746985 31.7430647,8.37574816 41.8964597,8.37574816 C54.455661,8.37574816 65.4119324,13.6937654 74.4835332,24.1876249 C71.4634304,23.1647557 68.3953356,22.6095967 65.7072239,22.6095967 C56.4600292,22.6095967 52.3214324,26.8291438 52.3214324,31.0103262 C52.3214324,31.0424848 52.3214324,31.073515 52.321997,31.1051094 L52.321997,31.1051094 Z M108.050206,65.5672827 L108.050206,69.4923247 L108.665632,69.4923247 C108.145626,69.6108037 107.671917,69.7919074 107.222487,70.0508688 C105.563661,70.8785297 103.953955,71.8782672 102.403534,73.0021257 C102.953465,71.3501891 103.319333,69.5882363 103.480812,67.7348853 C105.02728,66.7853602 106.561892,66.0451482 108.050206,65.5672827 L108.050206,65.5672827 Z M110.92351,64.9782725 L110.92351,67.3331848 L109.680802,67.3331848 L109.680802,65.1480925 C110.100308,65.0679781 110.515297,65.0104311 110.92351,64.9782725 L110.92351,64.9782725 Z M113.624608,66.2127115 L113.624608,67.3331848 L112.349717,67.3331848 L112.349717,65.0730557 C112.796324,65.2541594 113.232204,65.634985 113.624608,66.2127115 L113.624608,66.2127115 Z M112.349717,84.1549545 L112.349717,81.6116041 L110.92351,81.6116041 L110.92351,86.922851 C110.891328,86.980398 110.858016,87.037945 110.825833,87.095492 L109.680802,87.095492 L109.680802,82.3083738 C110.411409,80.3856279 110.953999,78.4380578 111.24308,76.5040282 L113.603153,79.7785638 L114.067828,79.7785638 C113.606541,81.2561669 113.021039,82.7253072 112.349717,84.1549545 L112.349717,84.1549545 Z M113.624608,87.095492 L112.349717,87.095492 L112.349717,86.1211427 C112.803664,85.2506037 113.232204,84.3608824 113.624608,83.4581848 L113.624608,87.095492 Z M99.2400204,108.912 C98.0187674,108.912 97.402777,109.146137 97.1695928,109.781975 L87.4165069,109.781975 L87.4165069,109.679857 L92.1118098,106.686287 C92.1191497,106.686287 92.125925,106.686851 92.1327004,106.686851 C94.1438438,106.686851 96.0748126,105.837751 98.5201417,104.761848 C102.586468,102.973378 108.165952,100.526504 117.745702,100.607747 C125.0512,100.607747 128.429266,102.620198 131.320638,104.4696 C128.249156,108.474192 124.32003,110.938556 114.928859,110.938556 C108.56005,110.938556 105.299987,110.123308 102.919024,109.527527 C101.543632,109.183938 100.457321,108.912 99.2400204,108.912 L99.2400204,108.912 Z M63.6159057,104.467907 C63.3974013,104.667629 63.263024,104.957621 63.263024,105.300646 C63.263024,105.599664 63.3827214,106.067374 63.6113888,106.622533 L63.6113888,112.984295 C61.5652395,109.906096 59.3897943,105.538732 57.295653,98.9964314 C59.1735484,99.6661202 61.6228298,99.9267741 64.262385,99.662735 C63.8524776,101.136953 63.6407486,102.753346 63.6159057,104.467907 L63.6159057,104.467907 Z M76.3834484,85.9998427 C77.5651786,86.3823609 78.8022408,86.6565552 80.0912471,86.7992943 C79.4650938,88.6633648 78.5922056,90.2284168 77.602443,91.5395851 C76.9232162,91.4346465 76.2253574,91.3776637 75.5139478,91.3776637 C74.5219268,91.3776637 73.5982236,91.4634199 72.7377568,91.6236488 C74.3536728,89.9762257 75.5743612,88.0376826 76.3834484,85.9998427 L76.3834484,85.9998427 Z M75.5512121,85.7081586 C74.5925031,88.1104626 73.0245791,90.3649498 70.885269,92.1206966 C69.4822113,92.6228222 68.2942703,93.3664193 67.3107184,94.3103025 C65.924599,94.9151099 64.3911162,95.3421987 62.7147869,95.5407921 L62.6583259,95.5509475 C61.8785984,95.7478484 60.6421009,95.7027135 59.8516459,95.5362787 C65.2131895,91.8120869 68.2812842,87.4751891 69.4076827,81.9264198 C71.1867711,83.5478904 73.253811,84.8432615 75.5512121,85.7081586 L75.5512121,85.7081586 Z M80.7349033,76.3059989 C79.0309081,76.0019027 77.4245906,75.2176842 76.0683956,74.073515 C75.3756182,72.7516272 74.4468335,71.5640156 73.314789,70.6116697 C72.611284,69.2423903 72.1833091,67.7027267 72.1042636,66.0744859 C75.2553561,67.0595546 79.4848552,69.8432483 80.7349033,76.3059989 L80.7349033,76.3059989 Z M80.3233021,54.8409785 C80.865893,55.7199803 81.586901,55.8362026 81.9200213,55.8362026 C82.3626761,55.8362026 83.1051392,55.4536845 84.1479753,54.7653776 C89.8403808,55.5868324 93.8293557,60.1161176 93.8293557,65.5385092 C93.8293557,68.695694 92.4703376,71.5453975 90.21867,73.5454369 C90.4298344,72.6489453 90.5630825,71.7056263 90.5630825,70.7160441 C90.5630825,68.1783355 88.727533,65.9520575 86.6350856,65.9520575 C84.7611425,65.9520575 83.7798491,67.3969379 83.7798491,68.8248926 C83.7798491,69.4415479 84.0220671,69.9160283 84.3015494,70.4655455 C84.7267013,71.2994124 85.2551769,72.3369505 85.2551769,74.4989112 C85.2551769,75.1076679 85.2128311,75.644773 85.1450778,76.1277162 C84.2371838,76.3353366 83.2846855,76.457765 82.2858891,76.457765 C82.0730308,76.457765 81.8629956,76.4374543 81.6523958,76.4216571 C80.3701648,69.1741238 75.5625044,66.1619347 72.096359,65.1599404 C72.2713883,60.0771887 75.9221614,55.8367668 80.3233021,54.8409785 L80.3233021,54.8409785 Z M82.7771004,54.6418208 C82.3920359,54.8624176 82.0809354,55.0057208 81.9200213,55.0057208 C81.6676403,55.0057208 81.4372791,54.8951404 81.2379715,54.6852632 C81.5852071,54.6435134 81.9341366,54.6192534 82.2858891,54.6192534 C82.4524492,54.6192534 82.6127987,54.6356148 82.7771004,54.6418208 L82.7771004,54.6418208 Z M82.9566466,44.177299 C75.6291284,32.3040047 67.8629077,27.4379004 57.5130282,28.0562483 C57.3255774,28.0748664 57.1968462,28.0686604 57.1138484,28.0568125 C57.1454666,28.0105492 57.1951523,27.949053 57.272504,27.873452 C58.1075633,27.1377535 61.6397681,26.3439438 65.8924162,26.3439438 C77.9067681,26.3439438 84.5680457,34.9252128 86.4498933,44.5225808 C85.3246241,44.3268083 84.1581383,44.2111501 82.9566466,44.177299 L82.9566466,44.177299 Z M93.01801,46.7787606 C91.6776241,26.7264619 81.7596718,9.65701456 72.5090895,4.70628244 C72.4887635,4.69048523 72.4695667,4.67412384 72.4503699,4.65719826 C84.2270208,6.41125252 96.885029,18.5485859 96.885029,41.083303 C96.885029,44.2777241 96.5456979,46.8233313 96.0957032,48.8346544 C95.1454633,48.060027 94.1150487,47.374541 93.01801,46.7787606 L93.01801,46.7787606 Z M90.4371743,85.4740214 C87.9235273,89.061116 85.974491,92.6640077 84.7622718,95.7506693 C84.2106471,94.9692717 83.555134,94.2871709 82.8115417,93.7105728 C83.6714438,91.4086939 84.8351066,88.9979271 86.2285659,86.5905455 C87.7033291,86.3490739 89.1097745,85.973326 90.4371743,85.4740214 L90.4371743,85.4740214 Z M80.6406134,109.353194 C80.6406134,108.559948 80.7326449,107.915084 80.9059804,107.429319 C80.9381632,107.889695 80.9517139,108.352892 80.9517139,108.80819 L80.9517139,109.781975 L80.6823946,109.781975 C80.6569871,109.631337 80.6406134,109.486342 80.6406134,109.353194 L80.6406134,109.353194 Z M89.0352459,74.4661884 C88.1397732,75.0664823 87.1415414,75.5460404 86.0597472,75.884552 C86.1054807,75.4585916 86.1382281,75.0072428 86.1382281,74.4989112 C86.1382281,72.1253807 85.5318362,70.9343841 85.0891814,70.0655376 C84.8413173,69.5803377 84.6634649,69.2299782 84.6634649,68.8248926 C84.6634649,67.8336178 85.2732445,66.8338802 86.6350856,66.8338802 C88.0725845,66.8338802 89.6794667,68.4942796 89.6794667,70.7160441 C89.6794667,72.065577 89.4253919,73.3248401 89.0352459,74.4661884 L89.0352459,74.4661884 Z M82.2345095,86.9160808 C83.2039461,86.9160808 84.1474107,86.8562771 85.06942,86.7513385 C83.8351809,88.9426369 82.8115417,91.1012125 82.0363311,93.1650049 C80.9963181,92.5043431 79.8247508,92.0213999 78.5679273,91.7268948 C79.5407516,90.3705917 80.3871031,88.7626616 80.9968827,86.8737669 C81.4050963,86.8997194 81.8172621,86.9160808 82.2345095,86.9160808 L82.2345095,86.9160808 Z M73.3599579,104.453803 C72.8213192,104.453803 72.3267202,104.6287 71.8270397,104.854375 C72.419881,103.125709 73.6462155,101.835979 76.1293735,101.835979 C79.1635917,101.835979 80.3255606,103.758161 80.7399848,106.058912 C80.0906825,106.676131 79.7569975,107.779679 79.7569975,109.353194 C79.7569975,109.488598 79.7756297,109.634723 79.7959557,109.781975 L76.5398455,109.781975 C76.7696421,109.256154 76.8853873,108.695917 76.8853873,108.137373 C76.8853873,105.865396 75.5348384,104.453803 73.3599579,104.453803 L73.3599579,104.453803 Z M71.7169406,105.882886 C72.3233325,105.589509 72.8472913,105.336189 73.3599579,105.336189 C75.7448736,105.336189 76.0023361,107.295607 76.0023361,108.137373 C76.0023361,108.702687 75.8476328,109.270258 75.5438722,109.781975 L71.3070332,109.781975 L71.3070332,108.80819 C71.3070332,107.862614 71.362365,106.88488 71.5362652,105.96977 C71.5966785,105.940997 71.6582211,105.911659 71.7169406,105.882886 L71.7169406,105.882886 Z M110.48876,75.4580274 C110.347043,76.812638 110.06869,78.1779681 109.680802,79.5404773 L109.680802,74.337554 L110.48876,75.4580274 Z M110.563289,72.3392072 L109.702822,71.131285 L108.050206,71.131285 L108.050206,79.6380814 L109.654266,79.6380814 C109.496739,80.1853419 109.317758,80.7320381 109.12579,81.2770418 L108.050206,81.2770418 L108.050206,83.968209 C106.543825,87.320038 104.501628,90.5545163 102.294,93.4538681 L102.294,87.6867589 L86.4414241,99.8365043 C86.2347766,98.6708961 85.8542289,97.6260236 85.3466439,96.6922958 C86.6379086,93.2310147 88.9923354,88.9505355 92.0830146,84.7749949 C96.4960122,82.6671961 99.8836766,79.108875 101.802789,74.5829749 C103.666569,73.1177839 105.621251,71.8353891 107.640299,70.8283171 C108.361307,70.4130762 109.138776,70.2218172 110.152252,70.212226 C110.305262,70.4237957 110.488196,71.1956022 110.563289,72.3392072 L110.563289,72.3392072 Z M110.658143,69.4923247 L114.837957,69.4923247 C114.928294,69.9690618 114.999435,70.4892413 115.053073,71.0449645 L113.624608,71.0449645 L113.624608,76.6371761 L111.476829,73.621602 C111.477394,73.5538997 111.482475,73.4856331 111.482475,73.4179308 C111.482475,72.1174821 111.362778,70.0723079 110.658143,69.4923247 L110.658143,69.4923247 Z M89.9041818,126.393303 C89.3169866,125.930671 88.7258392,125.454498 88.1296102,124.960271 C86.1506496,123.25925 83.9464092,121.370355 81.7252306,119.830128 L87.2877756,119.830128 C89.9504799,122.16755 93.1715841,124.476199 96.7145165,126.393303 L89.9041818,126.393303 Z M102.294,134.051 L102.294,128.945117 C104.174718,129.650349 106.102299,130.210586 108.050206,130.589155 L108.050206,135.891375 C106.203365,135.516755 104.283688,134.902357 102.294,134.051 L102.294,134.051 Z M115.485001,126.182862 C114.421839,126.379763 112.499339,126.332371 110.093533,125.937441 L114.643166,124.103837 C115.02936,124.797221 115.320699,125.493427 115.485001,126.182862 L115.485001,126.182862 Z M113.535964,122.441745 C113.536529,122.442309 113.536529,122.442873 113.537094,122.443437 L108.050206,124.537696 L108.050206,125.539126 C104.047681,124.642634 99.1525057,122.866577 94.6113415,119.830128 L102.294,119.830128 L102.294,113.970492 C104.193915,114.832568 106.471555,116.162355 108.605783,117.758437 L108.050206,117.941233 L108.050206,120.586137 L113.535964,122.441745 Z M110.374144,119.175672 C110.489325,119.274969 110.602247,119.376522 110.715734,119.477511 L110.070384,119.269327 L110.374144,119.175672 Z M108.48778,90.8219405 L108.050206,90.5799047 L108.050206,91.4459302 C106.469296,93.662617 104.858462,95.5430489 103.49041,96.8796055 L103.230124,97.1340534 L103.88225,98.1202505 L104.199561,98.0209538 C107.176754,97.0883543 110.052881,96.5399655 112.788984,96.2917237 L108.050206,98.7628584 L108.050206,100.59872 C103.794735,101.473772 100.692199,102.841923 98.1638723,103.954498 C96.5372288,104.67045 95.1494156,105.274129 93.8429063,105.582739 L102.294,100.195327 L102.294,94.8823871 C104.429922,92.1805003 106.449535,89.1542067 108.050206,85.9863023 L108.050206,89.2546318 L109.527793,89.2546318 C109.185639,89.7917368 108.838403,90.3141731 108.48778,90.8219405 L108.48778,90.8219405 Z M112.57048,95.4307759 C110.035942,95.6671698 107.387918,96.1551907 104.655202,96.9602841 C105.710459,95.8708409 106.87751,94.5009973 108.050206,92.9342528 L108.050206,93.0200091 L112.57048,95.4307759 Z M113.289794,202.658274 C113.063385,202.928519 112.673804,203.014839 111.615159,203.014839 C110.577969,203.014839 110.221135,202.928519 109.994726,202.636835 C109.789207,202.356434 109.735005,201.913548 109.735005,200.305054 C109.735005,197.605988 109.757025,197.574394 111.572248,197.574394 C112.53378,197.574394 112.900777,197.627992 113.159934,197.833355 C113.50604,198.081597 113.570406,198.470321 113.570406,200.359216 C113.570406,202.011153 113.527495,202.367154 113.289794,202.658274 L113.289794,202.658274 Z M133.300163,64.9427288 C135.730813,64.9427288 136.612735,68.7182615 136.612735,71.2565343 C136.612735,85.151307 119.533824,92.8360845 117.745702,92.8360845 L117.61076,92.8360845 C116.821999,92.8360845 115.772952,92.6013831 115.772952,90.574827 C115.772952,80.3856279 128.217537,64.9427288 133.300163,64.9427288 L133.300163,64.9427288 Z M136.315749,107.419728 C136.869068,106.588118 137.49635,105.645363 137.49635,104.625315 C137.49635,104.087646 137.303818,103.590034 136.863422,102.998767 C133.671677,99.0065867 125.610165,95.0228694 115.255769,95.2722396 L115.255769,94.563622 L109.259603,91.2484651 C109.699999,90.6075498 110.135314,89.9412461 110.561595,89.2546318 L114.957654,89.2546318 C114.917567,89.7009029 114.889901,90.1432247 114.889901,90.574827 C114.889901,92.6019473 115.856514,93.7179072 117.61076,93.7179072 L117.745702,93.7179072 C120.394856,93.7179072 137.49635,85.2116749 137.49635,71.2565343 C137.49635,67.7907397 136.183066,64.0603419 133.300163,64.0603419 C128.361513,64.0603419 117.38548,76.7906347 115.255769,87.2297682 L115.255769,81.2014408 L114.515564,81.2014408 C114.683818,80.728653 114.84078,80.2541726 114.98532,79.7785638 L115.255769,79.7785638 L115.255769,78.823961 C115.750932,76.9604547 116.041142,75.0941274 116.041142,73.2825262 C116.041142,70.921972 115.741899,69.0477461 115.255769,67.6192271 L115.255769,61.4391337 L113.624608,61.4391337 L113.624608,64.8778474 C113.220912,64.5077414 112.789549,64.2707833 112.349717,64.1534326 L112.349717,61.849297 L110.92351,61.849297 L110.92351,64.1026558 C110.516991,64.1336861 110.103131,64.185027 109.680802,64.2623205 L109.680802,61.5147347 L108.050206,61.5147347 L108.050206,64.6628925 C106.608755,65.1035218 105.100115,65.7856227 103.551388,66.6883203 C103.567762,66.3086231 103.576795,65.9249766 103.576795,65.5385092 C103.576795,60.8495594 102.314326,56.6531439 100.071127,53.2443321 C100.927642,50.3940645 101.606869,45.991157 101.606869,40.5382993 C101.606869,36.1935029 100.783666,21.1726149 90.1876164,10.3047001 C83.5393249,3.40019185 75.6596174,0.112115864 66.7669982,0.536383733 C66.5140526,0.548795825 66.3136158,0.558386987 66.1702047,0.558386987 L66.0409088,0.579261869 C64.537915,1.07010369 63.4487809,2.73219563 62.9327267,3.67889974 L62.6922025,4.12234993 L63.1732509,4.27355178 C77.3150561,8.71313139 82.4739044,22.2022544 83.9842382,27.4892414 C77.6910868,19.3717332 70.1473227,13.1510184 61.5336213,8.98281229 C54.7611154,5.70545584 47.3336611,3.8255881 41.1551258,3.8255881 C30.5602052,3.8255881 22.6325058,7.57686079 17.5916611,14.975596 C13.8883793,20.4109638 12.5745301,26.8641233 12.5745301,30.7378243 C12.5745301,48.4064372 24.9011118,57.6506248 37.0780716,57.6506248 C48.0219216,57.6506248 55.3748473,50.9926658 55.3748473,41.083303 C55.3748473,37.8764698 54.4387227,34.9630133 53.1282612,32.4969563 C53.4574292,32.6086651 53.8712889,32.5725572 54.4014584,32.3812981 C55.0722159,32.0523777 57.4249489,31.6975047 60.0554703,31.6975047 C68.4738165,31.6975047 74.8245581,38.7881943 76.8707074,44.0706678 C68.2039326,40.7385853 63.4273257,45.2752049 63.4013536,45.3022859 C62.7023655,45.8890393 61.9565147,46.9000606 61.9565147,47.9799126 C61.9565147,48.1852763 61.9429641,48.3409916 61.9339303,48.4583423 C61.9147335,48.6998139 61.8961014,48.9271809 62.0829875,49.109413 C62.2760844,49.2984153 62.5120917,49.2741553 62.8711841,49.236919 L63.1495372,49.2098381 L63.2957714,49.1692167 C64.5356566,48.5615884 66.210292,47.9409838 69.2275718,47.9409838 C69.7605644,47.9409838 70.268714,47.9725782 70.7650069,48.0165847 C65.5225962,52.0008662 62.3285932,58.5995856 62.3285932,65.5385092 C62.3285932,66.2990319 62.3703744,67.0550412 62.4460322,67.8048443 C62.3720682,67.9684583 62.3246409,68.1298155 62.3246409,68.2844024 C62.3246409,68.625735 62.4533722,68.9422433 62.6504213,69.3162986 C63.0168537,71.4878505 63.6893051,73.5809806 64.6372865,75.5189595 C64.7174612,76.3663668 64.7581132,77.3209696 64.7383518,78.4166188 C64.7383518,86.028052 60.1915415,91.4115148 55.8073391,93.356264 C55.6498127,92.6735989 55.6718326,91.9582111 55.6893355,91.4092581 C55.694417,91.2507218 55.6989339,91.1062902 55.6989339,90.9804767 C55.6989339,89.9429387 55.1326293,89.3234625 54.1840833,89.3234625 C52.7544889,89.3234625 50.7924665,92.6459538 50.7924665,93.8172039 C50.7924665,94.3988797 51.0990502,95.112575 51.3960354,95.8025744 C51.4976653,96.0395326 51.6060706,96.2917237 51.6924561,96.5236041 C50.0195144,96.168167 47.7159026,96.8169809 45.2056432,98.3809044 C39.9525049,101.654876 34.2990576,108.598877 34.2990576,116.108193 C34.2990576,121.616341 35.7043737,124.678742 36.5439499,126.508397 C36.9860401,127.471463 37.2779438,128.107865 37.1300158,128.556957 C36.9007839,129.404928 37.0334674,130.236538 37.4941897,130.837961 C37.8329562,131.280847 38.3077938,131.544886 38.7634347,131.544886 C39.8706364,131.544886 45.3112255,130.521452 49.7885886,125.791317 C53.930573,121.414926 55.9343766,115.300842 55.7537011,107.604781 C57.3097683,112.128989 60.7160649,117.379304 65.2685213,122.227918 C65.6558443,122.617207 65.7778002,123.0962 65.5784926,123.500722 C65.1945573,124.402855 64.928061,125.527278 64.8823276,126.393303 L63.6113888,126.393303 L63.6113888,136.440328 L69.0276996,136.440328 C70.9044657,138.749541 73.3876238,140.998386 76.4077266,143.004632 L67.428722,143.004632 C64.2765002,139.115698 62.3489192,134.506298 62.2693091,130.149654 L62.2585815,129.582083 L61.7103444,129.73272 C60.3857676,130.09662 58.9725469,130.657985 58.9725469,132.724599 C58.9725469,135.77346 60.112496,141.085835 63.6113888,146.227826 L63.6113888,153.053348 L70.161438,153.053348 C71.278238,153.887215 72.4927158,154.678204 73.8235033,155.404876 C75.2869743,156.184017 76.881435,156.856526 78.540826,157.426354 L78.540826,165.824263 C73.9765128,164.46401 69.6617575,161.614871 66.1752862,157.553296 C60.7482477,151.676735 57.6378072,141.202622 58.7788855,132.648434 L58.7828377,132.589758 C58.7828377,132.003569 58.5191645,130.993676 57.807755,130.442466 C57.6959621,129.771085 57.5615847,129.103653 57.0726318,128.878543 C56.8947794,128.796172 56.6045695,128.745959 56.2516878,128.96035 C53.3089366,130.567151 47.7322763,132.283405 40.9089555,132.283405 C30.5251994,132.283405 19.1849926,123.684082 13.7827971,115.586321 C12.6484941,113.954695 11.55936,114.195038 10.4284447,114.622127 C8.37664922,115.508463 2.51824818,119.668206 2.51824818,126.91574 C2.51824818,132.137845 4.59658031,136.864031 8.52852951,140.583145 C13.5038794,145.290149 20.8415606,147.823344 29.3801688,147.82278 C29.4575205,147.82278 29.5360014,147.82278 29.6139176,147.822216 C13.7500496,155.288653 4.12738879,165.577713 4.12738879,168.930671 C4.12738879,172.110987 9.27720336,172.478837 13.1515623,172.478837 C21.4394833,172.478837 36.1583207,167.663509 43.0539117,161.533628 C40.0383257,168.259289 38.3219091,175.711622 38.3219091,182.169859 C38.3219091,185.745106 39.2348847,190.10175 40.7040018,193.539336 C42.4955117,197.730109 44.9018827,200.038758 47.4793307,200.038758 L47.6137081,200.038758 C54.098827,200.038758 59.3293809,195.692269 62.7949617,190.045896 C62.6628428,191.008397 62.5854911,191.985567 62.5854911,192.989818 C62.5854911,197.520796 64.2307668,202.083933 67.0368822,205.676105 C58.9228612,205.915884 50.8692536,212.158602 50.8692536,223.89085 C50.8692536,224.07421 51.0917102,242.240999 70.2924277,242.240999 C78.0349348,242.240999 90.154869,238.00227 99.3941591,226.157749 C98.3592276,229.751614 94.8337982,238.929227 85.2551769,241.936339 L84.9271381,242.039021 L85.0914398,242.340296 C85.4420631,242.984032 86.1828324,244.114097 87.2036486,244.446967 L87.2911633,244.460507 C87.3888409,244.460507 87.5249121,244.467277 87.6971184,244.475176 C88.0420956,244.492101 88.3842497,244.5 88.7247099,244.5 C94.3482329,244.5 99.3523779,242.262438 103.611237,237.83922 C110.812847,230.452897 111.372376,220.198252 111.372376,217.231198 C111.372376,213.853417 110.982795,211.070851 110.46787,209.14472 L112.198402,209.14472 C113.052093,209.156004 113.127751,209.166724 113.299957,209.317925 C113.50604,209.501286 113.592425,209.878726 113.592425,210.646019 C113.592425,211.358022 113.527495,211.800344 113.397635,212.016427 C113.268339,212.211071 113.030073,212.275388 112.42594,212.275388 L112.198402,212.275388 L112.198402,214.359491 L112.630893,214.359491 L113.095003,214.369647 C114.110738,214.369647 114.672526,214.078527 115.00734,213.387399 C115.255769,212.890915 115.309971,212.458749 115.309971,210.904981 C115.309971,209.728089 115.298679,209.393526 115.255769,209.079839 C115.147928,208.195195 114.856024,207.665989 114.315692,207.331427 C113.786652,206.996864 113.538223,206.964141 111.766474,206.953986 L109.645232,206.953986 C109.596111,206.867101 109.546989,206.78473 109.497868,206.713079 L109.448183,206.657224 C108.873973,206.16469 107.299839,205.664257 106.745956,205.664257 C106.454052,205.664257 106.215786,205.779915 106.075198,205.989792 C105.861211,206.306865 105.892264,206.792065 106.165536,207.460061 C106.225949,207.628188 106.317416,207.83468 106.429774,208.085743 C107.035601,209.447688 108.163693,211.982576 108.163693,216.923153 C108.163693,232.253779 99.5420871,240.502742 91.5268731,241.680198 C91.5144516,241.682455 91.5014656,241.684148 91.4901734,241.68584 C91.5189685,241.648604 91.5511513,241.61306 91.5771234,241.592185 C94.9659171,239.820077 98.4331916,235.629304 101.089685,230.094639 C104.026226,223.978299 105.643271,216.826677 105.643271,209.954891 C105.643271,209.312284 105.168998,208.690551 104.188269,208.050764 C103.452581,207.59208 102.779001,207.329734 102.338604,207.329734 C101.980076,207.329734 101.552666,207.614084 101.552666,208.96813 C101.552666,209.013265 101.551537,209.050501 101.549278,209.080967 C101.534598,209.07194 101.517096,209.061785 101.498463,209.049373 L101.238742,208.85755 C99.6081466,207.647371 98.4975573,206.897567 97.9944891,206.897567 C97.9606124,206.897567 97.9193959,206.899824 97.874227,206.904902 C101.35844,202.948266 103.320462,197.939422 103.320462,192.682337 C103.320462,189.555054 102.550333,187.145416 101.525,183.813897 L100.279469,183.813897 C99.9248932,181.701585 99.1525057,179.477564 98.2886513,177.60898 L100.474259,177.60898 C101.714145,182.853089 104.450248,187.779561 108.050206,191.675265 L108.050206,193.66797 L110.066431,193.66797 C110.748481,194.282369 111.452551,194.861223 112.176946,195.399457 C112.044263,195.396636 111.913838,195.393251 111.766474,195.393251 C110.891328,195.393251 110.308085,195.41469 110.016181,195.458132 C108.860423,195.609334 108.287908,196.148696 108.082389,197.260706 C107.996004,197.76791 107.974549,198.404876 107.974549,200.477695 C107.974549,202.377873 108.017459,203.036279 108.19023,203.641086 C108.428496,204.450693 108.838403,204.871576 109.605709,205.076375 C110.091839,205.206138 110.39447,205.228141 111.604431,205.228141 C113.181389,205.228141 113.710994,205.16326 114.240034,204.882859 C114.770203,204.612614 115.07227,204.148289 115.212858,203.349402 C115.298679,202.917799 115.331427,202.043875 115.331427,200.327057 C115.331427,199.624646 115.321264,198.664401 115.298679,198.275677 C115.283999,197.917419 115.252946,197.614451 115.204954,197.348719 C118.301279,199.053125 121.634176,200.038758 124.98627,200.038758 L125.120083,200.038758 C132.788061,200.038758 137.49635,195.611027 137.49635,192.436916 C137.49635,191.590073 136.463113,189.251522 135.026178,188.769143 C130.845236,187.62046 124.300268,184.463276 119.462119,181.259827 C117.955173,180.277015 116.576958,179.18588 115.308842,178.032119 C115.309407,177.886559 115.309971,177.739307 115.309971,177.574564 C115.309971,175.448147 115.298679,174.789742 115.277224,174.563504 C115.180675,173.656293 114.856024,173.14909 114.186396,172.900283 C113.797379,172.760365 113.37618,172.716923 112.187674,172.716923 L111.193959,172.716923 L111.193959,173.654036 C110.954564,173.360659 110.720251,173.066154 110.491583,172.771085 L110.491583,172.716923 C110.476903,172.716923 110.465611,172.718051 110.450931,172.718051 C110.00263,172.138068 109.571832,171.558085 109.16249,170.980923 L113.866826,170.980923 C116.961458,172.996759 120.928413,174.640233 125.656463,174.640233 C132.432921,174.640233 137.49635,168.558872 137.49635,163.121248 C137.49635,158.236525 135.755091,149.764144 124.34826,146.754776 C133.79815,141.538876 137.102252,133.250984 137.227031,130.729637 C137.306077,129.616498 136.901251,129.171919 136.547804,128.995329 C135.833572,128.637071 134.777185,129.052312 133.408004,130.234846 C131.344916,132.081991 123.512072,135.485725 115.255769,136.199984 L115.255769,131.124567 C119.283137,131.042196 120.063994,130.53725 120.063994,127.861315 L120.063994,127.726475 C120.063994,124.44122 117.894759,120.598549 115.198178,117.689042 L115.255769,117.671552 L115.255769,115.912984 C121.376714,116.329354 130.625038,114.964588 136.215813,107.570366 L136.315749,107.419728 Z' id='Fill-5' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M49.3999569,85.1893037 C52.9878904,85.1893037 55.4942884,82.2481625 55.4942884,78.0374802 C55.4942884,73.7146476 52.4513717,66.8572187 44.2868824,66.8572187 C37.7240177,66.8572187 33.482857,70.7712635 33.482857,76.8285002 C33.482857,84.5220095 37.4651063,87.0936154 39.5992838,88.4719424 C39.912017,88.6799812 40.1505327,89.6091463 39.9567741,90.2388701 C39.838366,90.6235456 39.6485732,90.6235456 39.5771885,90.6235456 L39.4429172,90.6235456 C37.5500882,90.6235456 30.6014059,85.8459436 30.6014059,77.5002804 C30.6014059,69.6508822 35.6142017,64.3770152 43.0756078,64.3770152 C53.4496251,64.3770152 59.0476626,70.8615445 59.0476626,76.9630805 C59.0476626,82.7601286 54.4949018,87.1323073 48.4577915,87.1323073 C42.0410955,87.1323073 40.0202272,80.4616086 40.0202272,78.5746801 C40.0202272,74.758206 42.8132972,73.37315 44.6902629,73.37315 C48.1518568,73.37315 49.7642457,76.4769091 49.7642457,78.5746801 C49.7642457,79.6468368 49.5597227,80.3842249 49.4044892,80.5378707 C49.2180957,80.3685238 48.9189596,79.5744998 48.7201021,79.050758 C48.1960474,78.0055174 47.1949612,77.3303727 46.1706467,77.3303727 C44.6981946,77.3303727 43.7090059,78.4776701 43.7090059,80.1857189 C43.7090059,82.2633028 45.4743621,85.1893037 49.3999569,85.1893037 M46.1706467,78.2068271 C47.0102673,78.2068271 47.6413992,78.8713176 47.9082422,79.3989846 C48.3512809,80.5776841 48.6719457,81.4294655 49.3999569,81.4294655 C50.4877245,81.4294655 50.6503231,79.6406685 50.6503231,78.5746801 C50.6503231,76.1236357 48.7557945,72.4966956 44.6902629,72.4966956 C42.45694,72.4966956 39.1341498,74.1150241 39.1341498,78.5746801 C39.1341498,81.3509603 41.8167434,88.0087617 48.4577915,88.0087617 C54.8926169,88.0087617 59.9343066,83.1571406 59.9343066,76.9630805 C59.9343066,71.8394949 56.961075,68.6740532 54.466008,66.9211443 C51.3726688,64.7471111 47.2210223,63.5 43.0756078,63.5 C35.083915,63.5 29.7153285,69.1260189 29.7153285,77.5002804 C29.7153285,85.9205235 36.6373831,91.5 39.4429172,91.5 L39.5771885,91.5 C40.160164,91.5 40.6071685,91.1338293 40.8043264,90.4945727 C41.0785344,89.6018565 40.8332202,88.2358661 40.0882127,87.7407226 C38.0894396,86.4498728 34.3695009,84.0470531 34.3695009,76.8285002 C34.3695009,71.3039773 38.2622361,67.7336731 44.2868824,67.7336731 C51.8060762,67.7336731 54.6076444,74.0539022 54.6076444,78.0374802 C54.6076444,81.1608656 52.9980883,84.3128492 49.3999569,84.3128492 C45.4777614,84.3128492 44.5956498,81.2561933 44.5956498,80.1857189 C44.5956498,78.9649631 45.1990209,78.2068271 46.1706467,78.2068271' id='Fill-7' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M6.73081696,64.8835727 C7.20851553,64.8835727 18.5326162,65.0752113 28.2418819,81.8139117 C28.4292478,82.413701 28.3718564,82.9467842 27.6195796,84.2198525 C27.0878657,84.9739702 26.6354868,85.1164273 24.7713933,85.1164273 L24.6374802,85.1164273 C14.0712829,85.1164273 2.89516187,73.5203125 2.89516187,67.2844258 C2.89516187,65.5144538 4.87628869,64.8835727 6.73081696,64.8835727 M9.14181623,79.084616 C13.9851959,83.4798674 19.632617,86 24.6374802,86 L24.7713933,86 C26.6281722,86 27.5273033,85.8807205 28.3566646,84.7014929 C29.2034683,83.2707043 29.3823943,82.4617519 29.0639285,81.494514 L29.026793,81.4108487 C21.0685261,67.6665724 11.2675467,64 6.73081696,64 C3.86575084,64 2.01459854,65.2888969 2.01459854,67.2844258 C2.01459854,70.5230619 4.81270808,75.1546111 9.14181623,79.084616' id='Fill-9' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M27.7556525,191.465334 C24.6836922,194.142818 18.2784475,198.633348 9.88298978,198.633348 L9.74952382,198.633348 C5.71133724,198.633348 3.395871,197.148134 3.395871,194.558146 C3.395871,188.992746 20.4632517,175.366652 31.724863,175.366652 C33.2137375,175.366652 33.6842331,176.471425 34.0627605,177.358567 L34.1289327,177.512515 C34.4911974,178.232972 34.882062,179.632351 34.882062,180.634677 C34.882062,182.930059 32.4342514,187.387363 27.7556525,191.465334 L27.7556525,191.465334 Z M34.8708464,177.023535 C34.469327,176.079909 33.7963893,174.5 31.724863,174.5 C20.5597061,174.5 2.51824818,188.000388 2.51824818,194.558146 C2.51824818,197.652619 5.22121433,199.5 9.74952382,199.5 L9.88298978,199.5 C24.5597595,199.5 35.7591241,186.105383 35.7591241,180.634677 C35.7591241,179.491693 35.3295656,177.953871 34.9252422,177.150349 L34.8708464,177.023535 Z' id='Fill-11' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M6.5463125,92.2906562 C9.08027761,89.8570379 12.9780755,88.3686542 16.7812887,88.3686542 C16.8787053,88.3686542 16.9766883,88.3692096 17.0735386,88.3714311 C22.3487623,88.5052745 27.8023944,89.875365 31.674139,92.0446286 C34.4986549,93.5141298 37.8952102,96.4064813 37.8952102,97.1129082 C37.8952102,97.3900364 37.7145364,97.6654984 37.4239856,97.8326639 C37.0428147,98.0520339 36.5727229,98.0392604 36.1756935,97.8243334 C35.8415318,97.5883024 35.4960426,97.3406087 35.1403586,97.0851399 C31.5399079,94.5004617 26.6090407,90.9605522 20.5822363,90.9605522 C13.1978293,90.9605522 7.62922294,94.9203192 7.62922294,100.171314 C7.62922294,106.778516 13.367742,112.574326 19.9099483,112.574326 C25.3250668,112.574326 28.5579396,110.224569 28.5579396,106.289238 C28.5579396,102.8654 26.1734977,101.333142 23.8105781,101.333142 C20.3896686,101.333142 18.0737581,103.93948 17.4926566,105.81551 C17.3504963,105.825506 16.9529005,105.758307 16.4386313,105.416756 C15.957212,105.097975 14.8380535,104.167736 14.8380535,102.432214 C14.8380535,99.6048401 18.2136529,98.0792468 21.3893218,98.0792468 C23.2062552,98.0792468 26.1497099,98.7873398 28.6298693,100.369581 C30.7090347,101.695242 33.1869286,104.12164 33.1869286,108.150828 C33.1869286,111.48192 28.0419713,114.631961 22.6002331,114.631961 L22.4654357,114.631961 C10.1920732,114.631961 3.40405985,105.688331 3.40405985,99.5065401 C3.40405985,96.7602501 4.49036853,94.2649861 6.5463125,92.2906562 M22.4654357,115.5 L22.6002331,115.5 C28.6043824,115.5 34.0733067,111.996745 34.0733067,108.150828 C34.0733067,99.8036615 24.7762487,97.2106528 21.3893218,97.2106528 C17.7837737,97.2106528 13.9516754,99.0405872 13.9516754,102.432214 C13.9516754,105.06021 16.0619915,106.484172 17.1913447,106.662444 C17.8557035,106.766298 18.2074228,106.471398 18.3178661,106.14151 C18.7777632,104.552605 20.8405037,102.201736 23.8105781,102.201736 C25.5923962,102.201736 27.672128,103.271929 27.672128,106.289238 C27.672128,109.680864 24.770585,111.705732 19.9099483,111.705732 C13.8400994,111.705732 8.51560098,106.315895 8.51560098,100.171314 C8.51560098,95.4151512 13.7030365,91.8285909 20.5822363,91.8285909 C26.3196227,91.8285909 30.9202929,95.131914 34.6175938,97.7860131 C34.9749769,98.0425926 35.3221652,98.2919524 35.7010706,98.5557518 C36.4107394,98.9456194 37.2223558,98.9550607 37.8719888,98.581854 C38.4327008,98.2597411 38.7810219,97.696599 38.7810219,97.1129082 C38.7810219,95.6756183 34.3865125,92.4728166 32.1011863,91.2837758 C28.1206975,89.0534218 22.5113121,87.6400127 17.0944945,87.502837 C12.9763764,87.4234196 8.68891196,89.0162122 5.92613106,91.6703113 C3.69687611,93.8118066 2.51824818,96.5214423 2.51824818,99.5065401 C2.51824818,107.071195 10.7108734,115.5 22.4654357,115.5' id='Fill-13' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M49.5204207,99.1408257 C45.9487325,100.229848 38.2773723,106.217768 38.2773723,115.336344 L38.2773723,115.472756 C38.2773723,119.283767 39.3350108,122.821955 40.922304,125 C45.1550859,123.63929 51.3722628,116.561779 51.3722628,104.99347 C51.3722628,103.359936 51.3722628,101.454146 51.1077139,99.9575927 C50.975161,99.2766693 50.5780592,98.7321579 49.5204207,99.1408257' id='Fill-15' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M28.2679045,179.58339 C21.9079566,180.747967 9.18863055,186.441696 5.94114303,193.300003 C5.12927116,194.98229 5.53549196,195.5 7.29426283,195.5 L7.42985968,195.5 C17.0367254,195.5 27.5916295,187.089104 29.6210243,181.265677 C29.8916483,180.230257 29.6210243,179.195378 28.2679045,179.58339' id='Fill-17' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M24.0420877,81 L24.1751825,80.8716359 C21.1078247,75.2128752 13.3720406,69.039584 6.83635604,67.2387274 C5.63681812,66.8530981 4.43615704,66.7247341 5.37006695,68.5245164 C8.57051948,75.083974 15.7728012,80.3571055 24.0420877,81' id='Fill-19' fill='%235E99A5'%3E%3C/path%3E%3Cg id='Group-23' transform='translate(0.503650, 145.500000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-22'%3E%3C/g%3E%3Cpath d='M6.47918814,8.7006375 C8.29337609,8.7006375 11.7918943,7.35345 12.8291188,6.141825 C13.2181462,5.4685125 12.5699491,5.064075 12.0516097,5.064075 C11.0149308,5.064075 8.16406405,4.7952 6.99752755,3.58245 C5.05402755,1.965825 4.53514252,0.3497625 2.98066989,0.3497625 C1.29579398,0.3497625 -5.45620438e-05,1.4275125 -5.45620438e-05,3.58245 C-5.45620438e-05,5.064075 1.55496369,8.7006375 6.34987609,8.7006375 L6.47918814,8.7006375 Z' id='Fill-21' fill='%235E99A5' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M127.355257,122.304703 C125.705644,122.565644 124.690333,122.043762 123.802203,122.043762 C122.65971,122.043762 122.65971,122.695842 123.421194,123.478119 C124.182677,124.130743 127.22861,127 131.543683,127 L131.670329,127 C134.462969,127 135.985401,125.434901 135.985401,123.869802 C135.985401,122.17396 134.843444,121 132.177985,121 C130.274544,121 129.259233,121.91302 127.355257,122.304703' id='Fill-24' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M53.7023616,133.289808 C49.5641993,135.188757 43.155725,136.951217 39.5515555,136.951217 C33.4106396,136.951217 29.0049189,135.459469 24.0657676,132.883174 C16.1896566,128.543286 13.385914,123.525486 10.8497298,120 C8.58054192,120.271278 6.04379562,123.796764 6.04379562,128.272008 C6.04379562,136.273304 14.7208957,144.545312 29.0049189,144.545312 C35.5466103,144.545312 42.4885152,141.42646 46.6272396,140.070635 C48.0954384,139.392156 48.6299932,140.612625 48.4956519,141.42646 C48.4956519,142.511574 48.3624347,143.054131 47.027453,143.596121 C33.6776359,148.342643 17.7910726,158.378244 11.6501567,165.429782 C10.0487407,167.328164 9.38096884,168.5492 11.784498,168.5492 C26.0685212,168.5492 43.5565006,159.598713 50.6321847,144.003322 C51.4331737,145.223225 52.1003835,145.766348 52.1003835,147.800653 C52.1003835,151.190783 42.8892908,161.632451 42.8892908,181.02574 C42.8892908,187.128087 44.3574896,192.4166 45.6924713,194.721616 C46.3596811,195.67194 46.8942359,196.349853 48.3624347,195.80673 C56.372325,193.094512 61.4452555,184.41587 61.4452555,173.70179 L61.4452555,173.567 C61.4452555,165.429782 60.244053,160.818616 57.173314,154.173712 C53.9693579,146.444827 53.5691444,140.612625 53.7023616,133.289808' id='Fill-26' fill='%235E99A5'%3E%3C/path%3E%3Cpath d='M133.970803,68.2373297 C133.970803,66.8528434 133.161366,66.7141058 132.082117,67.406638 C125.876434,71.9745757 119.131126,83.3250513 118.861314,89 L118.996504,89 C126.416058,85.1245944 133.970803,78.8952731 133.970803,68.2373297' id='Fill-28' fill='%235E99A5'%3E%3C/path%3E%3Cpolygon id='Fill-30' fill='%235E99A5' points='114.832117 103 113.235497 103 113.235497 108.855682 111.988586 108.855682 111.988586 103.407454 110.593062 103.407454 110.593062 108.855682 109.37709 108.855682 109.37709 103.075102 107.781022 103.075102 107.781022 111 114.832117 111'%3E%3C/polygon%3E%3Cpolygon id='Fill-32' fill='%235E99A5' points='114.328467 53.5 112.584339 53.5 112.584339 58.3536354 107.277372 58.3536354 107.277372 60.5 114.328467 60.5'%3E%3C/polygon%3E%3Cpolygon id='Fill-34' fill='%235E99A5' points='114.832117 44 113.235497 44 113.235497 49.8551212 111.988586 49.8551212 111.988586 44.4074541 110.593062 44.4074541 110.593062 49.8551212 109.37709 49.8551212 109.37709 44.0751016 107.781022 44.0751016 107.781022 52 114.832117 52'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 161px;
        height: 90px;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        @include breakpoint(largemin){
          width: 245px;
          height: 137px;
        }
      }

      svg {
        display: none;
      }
    }
  }
    #header-wrapper {

        //background-color: #F1FBFD;

    }

}

.is-open-right{
  #header-wrapper {

    background-color: transparent!important;

  }
}

.kzientwi{
  @include breakpoint(medium down){
    position: fixed!important;
    background-color: transparent;
    opacity: 1;
  }
  @include breakpoint(mediumplus){
    nav{

    }
  }
  #block-base-branding{
    display: none;
  }
  .region-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .block-nav-toggle{
      border:solid 1px $primdark;
    }
  }
}

.section-betaling-return{
  .block-base-content{
    font-family: $ptbold;
    font-size: 27px;
    color: #000000;
    letter-spacing: -0px;
    text-align: center;
    line-height: 28px;
    a{
      @include button-styler;
      display: inline-block;
      margin: 0 auto;
      margin-top: 25px;
      background-color: $primdark;
      color: white;
    }
  }
}
