// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin wrapper-padding{
  padding-left: 25px;
  padding-right: 25px;
}

@mixin button-styler{
  padding: 10px 50px ;
  border: 0px solid $body-font-color;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  font-family: $ptbold;
  font-size: rem-calc(13);
  color: $black;
  background-color: white;
  display: inline-block;
  transition: 0.3s ease;
  &:hover, &:focus {
    background-color: $primary-color;
    color: $black;
  }
}
@mixin reverse{
  background-color: #A4D6E0;
}
