.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
 @include button-styler();
}

.block-nav-toggle{
  background-color: white;
  border-radius: 50px ;
  padding: 0px;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.burger-icon {
  @include burger(20px, 2px, 4px, $primary-color);
}

.menu-button {
  cursor: pointer;
  outline: none;
  &.is-active .burger-icon {
    @include burger-to-cross;
    outline: none;
  }
}
