.block.contact-data.full {

}

.paragraph--type--branch {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: 0;
  }
}

.geolocation-common-map {
  height: 320px;
  width: 335px;
@include breakpoint(mediumplus){
   // height: 100%;
  }
}

.section-contact{
  .field-name-body{
    a{
      color: black;
    }
  }
  #main-wrapper{
     background-color: #F1FBFD;
  }
}
