.home.full {
  h1 {
    font-size: rem-calc(12);
    margin-bottom: 0;
    font-family: $pt;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    text-align: center;

  }
  .scrolltogg{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='49px' viewBox='0 0 17 49' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELine%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-home' transform='translate(-761.000000, -812.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cpath id='Line' d='M770.5,812.5 L770.5,854.432 L775.378424,845.759739 L775.868686,844.888163 L777.611837,845.868686 L777.121576,846.740261 L770.371576,858.740261 L769.5,860.289729 L768.628424,858.740261 L761.878424,846.740261 L761.388163,845.868686 L763.131314,844.888163 L763.621576,845.759739 L768.5,854.432 L768.5,812.5 L770.5,812.5 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 17px;
    height: 49px;
    background-size: cover;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 25Px;
  }
  h2 {
    font-size: rem-calc(40);
    margin-bottom: 15px;
  }

  .slides-wrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    margin-bottom: 50px;
    @include breakpoint(mediumplus){
      margin-bottom: 75px;
    }
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      opacity: 0.45;
      background: #000000;
      position: absolute;
      top: 0;left: 0;
      z-index: 9;
    }
  }


}

  #header-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 25;
  }

