.field-name-field-paragraphs {
  &>.field-items {
    &>.field-item {
      margin-bottom: 50px;
      @include breakpoint(large){
        margin-bottom: 100px;
      }
      @include breakpoint(xxlarge){
        margin-bottom: 125px;
      }
    }
  }
}

.paragraph--type--text-blocks {
  @include grid-col-gutter();
  max-width: $max-container;
  margin: 0 auto;
  @include breakpoint(large){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}
.field-name-field-text-blocks {
  @include grid-row();
  &>.field-items {
    @include breakpoint(mediumplus){
      @include flex-grid-row();
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
      flex-wrap: nowrap;
      justify-content: center;
    }
    @include breakpoint(large){
      @include flex-grid-size(8 of 12);
    }
    &>.field-item {
      @include grid-col-gutter();
      max-width: 768px;
      @include breakpoint(large){
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
      h3{
        font-family: $ptbold;
        font-size: 27px;
        color: #000000;
        font-weight: 600;
        line-height: 28px;
        text-transform: lowercase;
      }
      p{
        font-size: 17px;
        color: #000000;
        letter-spacing: 0.26px;
        line-height: 22px;
      }
      a{
        color: $kerelsdark;
        text-decoration: underline;
        transition: 0.3s ease;
        &:hover{
          color: $sloebersdark;
        }
      }
    }
  }
}

.paragraph--type--text-image {
  @include grid-col-gutter();
  max-width: $max-container;
  margin: 0 auto;
  margin-bottom: 150px!important;
  @include breakpoint(large){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .paragraph-content-wrapper {
    @include grid-row();
  }
  .paragraph-content {
    @include breakpoint(mediumplus){
      @include flex-grid-row();
      @include flex-grid-size(10 of 12);
      margin: 0 auto;
      align-items: center;
    }
    @include breakpoint(large){
      @include flex-grid-size(8 of 12);
    }

    &>div, &>figure {
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
      }
      @include breakpoint(large){
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
    }
    &>div {
      @include grid-col-gutter();
      h3{
        font-family: $ptbold;
        font-size: 27px;
        color: #000000;
        font-weight: 600;
        line-height: 28px;
        text-transform: lowercase;
      }
      p{
        font-size: 17px;
        color: #000000;
        letter-spacing: 0.26px;
        line-height: 22px;
        a{
          color: $kerelsdark;
          text-decoration: underline;
          transition: 0.3s ease;
          &:hover{
            color: $sloebersdark;
          }
        }
      }
    }
    &>figure {
      @include grid-col-gutter();
      margin-bottom: 15px;
      @include breakpoint(mediumplus){
        margin-bottom: 30px;
      }
      @include breakpoint(large){
        margin-bottom: 0;
      }
      .img-styler{
        position: relative;
        max-width: 305px;
        margin: 0 auto;
        @include breakpoint(mediumplus){
          margin-left: auto;
          margin-right: 0;
        }
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='72px' height='72px' viewBox='0 0 72 72' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup Copy 3%3C/title%3E%3Cg id='1.0-Afdelingen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-Copy-3' transform='translate(36.009857, 35.824344) rotate(47.000000) translate(-36.009857, -35.824344) translate(13.009857, 8.824344)' fill='%23A4D6E0'%3E%3Cpath d='M5.15619195,6.72861948 C8.39693269,22.5196399 16.4987845,30.1895641 29.4617475,29.7383921 C10.0173031,-1.39247673 1.91545121,-9.06240092 5.15619195,6.72861948 Z' id='Path-2' transform='translate(16.961748, 14.257191) rotate(-84.000000) translate(-16.961748, -14.257191) '%3E%3C/path%3E%3Cpath d='M23.4444444,33.1714286 C25.5185185,45.3967347 30.7037037,51.3347405 39,50.9854461 C26.5555556,26.8841283 21.3703704,20.9461224 23.4444444,33.1714286 Z' id='Path-2-Copy' transform='translate(31.000000, 39.000000) rotate(-133.000000) translate(-31.000000, -39.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 72px;
          height: 72px;
          background-size: cover;
          display: block;
          position: absolute;
          bottom: 15px;
          left: -50px;
        }
        &::after{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='64px' height='69px' viewBox='0 0 64 69' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup Copy 4%3C/title%3E%3Cg id='1.0-Afdelingen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-Copy-4' transform='translate(32.231003, 34.613342) rotate(202.000000) translate(-32.231003, -34.613342) translate(9.231003, 7.613342)' fill='%23A4D6E0'%3E%3Cpath d='M5.15619195,6.72861948 C8.39693269,22.5196399 16.4987845,30.1895641 29.4617475,29.7383921 C10.0173031,-1.39247673 1.91545121,-9.06240092 5.15619195,6.72861948 Z' id='Path-2' transform='translate(16.961748, 14.257191) rotate(-84.000000) translate(-16.961748, -14.257191) '%3E%3C/path%3E%3Cpath d='M23.4444444,33.1714286 C25.5185185,45.3967347 30.7037037,51.3347405 39,50.9854461 C26.5555556,26.8841283 21.3703704,20.9461224 23.4444444,33.1714286 Z' id='Path-2-Copy' transform='translate(31.000000, 39.000000) rotate(-133.000000) translate(-31.000000, -39.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 64px;
          height: 69px;
          background-size: cover;
          display: block;
          position: absolute;
          top : 0px;
          right: -35px;
        }
      }
      .img-upper-styler{
        position: relative;
        max-width: 305px;
        margin: 0 auto;
        @include breakpoint(mediumplus){
          margin-left: auto;
          margin-right: 0px;
        }
        &::after{
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 12px;
          display: block;
          background-color: #D0E7EC;
          z-index: -1;
          max-width: 305px;
          left: 0;
          right: -25px;
          margin: 0 auto;
          @include breakpoint(mediumplus){
            left: -10px;
            right: auto;
            margin: 0;
          }
        }
      }
    }
  }

  &.option-image-right {
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
    &::after{
      content: "";
      width: 200vw;
      left: -100vw;
      position: absolute;
      top: -50px;
      height: calc(100% + 100px);
      background-color: #F1FBFD;
      z-index: -2;
    }
    @include breakpoint(large){
      .paragraph-content >figure {
        //padding-left: 105px !important;
      }

    }

  }

  &.option-image-left {
    .paragraph-content {
      @include breakpoint(mediumplus){
        flex-direction: row-reverse;
      }
    }
    .img-styler{
      @include breakpoint(mediumplus){
        margin-left: 0!important;
        margin-right: auto!important;
      }
    }
    .img-upper-styler{
      @include breakpoint(mediumplus) {
        margin-right: auto !important;
        margin-left: 0px !important;
      }
    }
    @include breakpoint(large){
      .paragraph-content >figure {
        //padding-right: 105px !important;
      }
    }
  }
}

.paragraph--type--form {
  @include grid-col-gutter();
  .paragraph-content-wrapper {
    @include grid-row();
    .paragraph-content {
      max-width: 800px;
    }
  }
}

.paragraph--type--map-form {
  @include flex-grid-row();
  .contact-wrapper {
    @include flex-grid-column(1 of 1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      margin-bottom: 0;
    }

    .field-name-field-map {
      display: flex;
      flex: 1 1 100%;
      .views-element-container {
        width: 100%;
      }
    }

    .field-name-field-branches {
      background-color: $primary-color;
      color: $white;
      padding: 15px;
      font-weight: $global-weight-bold;
      @include breakpoint(medium){
        padding: 30px;
      }
      @include breakpoint(large){
        padding: 30px 60px;
      }
      .paragraph--type--branch {
        justify-content: center;
        @include breakpoint(mediumplus){
          flex-wrap: wrap;
        }
        @include breakpoint(large){
          flex-wrap: unset;
          flex-direction: row;
        }
        .base-contact-fields, .field-name-field-extra-contact-fields {
          text-align: center;
          @include breakpoint(large) {
            flex: 1 0 50%;
          }
        }
        .base-contact-fields {
          @include breakpoint(large){
            padding-right: 15px;
            text-align: left;
          }
        }
        .field-name-field-extra-contact-fields {
          @include breakpoint(large){
            padding-left: 15px;
            text-align: left;
          }
        }
      }

      a {
        color: $white;
        transition: color .25s ease-out;
        &:hover, &:focus {
          color: darken($white, 20%);
        }
      }
    }
  }
  .form-field-wrapper {
    @include flex-grid-column(1 of 1);
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(large){
      @include flex-grid-column(1 of 2, 105px);
    }
  }
}

.paragraph--type--image {
  @include flex-grid-row();
  justify-content: center;

  .field-name-field-image {
    @include grid-col-gutter();
  }
}

.paragraph--type--video {
  @include grid-row();
}

.paragraph--type--form{
  @include grid-column-gutter();
  max-width: 850px;
  margin: 0 auto;

  @include breakpoint(large){
    padding-left:0px;
    padding-right: 0px;
  }

    h2{
      font-family: $ptbold;
      font-weight: 600;
      font-size: 27px;
      color: #000000;
      letter-spacing: -0px;
      text-transform: lowercase;
      line-height: 28px;
      margin-bottom: 25px!important;
      @include breakpoint(mediumplus){
        margin-bottom: 50px!important;
      }
    }

  form{
    @include breakpoint(mediumplus){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #edit-actions{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      input{
        background-color: $primary-color;
        color: white;
        transition: 0.3s ease;
        &:hover{
          background-color: $rakkers;
        }
      }
      margin-top: 10px;
    }
  }
  .form-item{
    border-bottom: solid 2px #A4D6E0;
    @include breakpoint(medium){
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      max-width: 49%;
    }
    label,.field-prefix{
      font-family: $ptbold;
      font-weight: 600;
      font-size: 17px;
      color: $black;
      letter-spacing: 0.06px;
      text-transform: lowercase;
      line-height: 23px;
      min-width: 110px;
    }
    input{
      font-weight: 400;
      font-size: 17px;
      color: $black;
      letter-spacing: 0.26px;
      line-height: 22px;
      border: solid 0px white;
    }
    select{
      border: solid 0px white;
      margin-bottom: 0px;
    }
  }
  .form-item-brother-1,.form-item-consent,#edit-brother--wrapper{
    border-bottom: solid 0px white;
  }
  .form-item-brother-1{
    padding-left: 0px!important;
  }
  #edit-brother--wrapper,.form-item-consent,.form-item-brother-1{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 1);
    }
  }
}


.paragraph--type--voorwoord{
  @include grid-col-gutter();
  max-width: $max-container;
  margin: 0 auto;
  margin-bottom: 150px;
  @include breakpoint(large){
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  .inner-right{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bigwrap {
    @include grid-row();
    background-color: #F8F8F8;
    position: relative;
    @include breakpoint(medium down){

    }
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      background-color: #D0E7EC;
      position: absolute;
      z-index: -1;
      left: -10px;
      bottom: -10px;
    }
    @include breakpoint(mediumplus){
      @include flex-grid-row();
      @include flex-grid-size(8 of 12);
      justify-content: center;
      margin: 0 auto;
    }
    @include breakpoint(large){
    }
    > div{
      @include grid-column-gutter();
      @include breakpoint(xlarge){
        padding-left: 0px!important;
        padding-right: 0px!important;
      }
    }
    > div:first-of-type{
      @include breakpoint(mediumplus){
        @include flex-grid-column(3 of 8);
      }
    }
    > div:nth-of-type(2){

      @include breakpoint(mediumplus){
        @include flex-grid-column(5 of 8);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        &::before{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='72px' height='72px' viewBox='0 0 72 72' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup Copy 3%3C/title%3E%3Cg id='1.0-Afdelingen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-Copy-3' transform='translate(36.009857, 35.824344) rotate(47.000000) translate(-36.009857, -35.824344) translate(13.009857, 8.824344)' fill='%23A4D6E0'%3E%3Cpath d='M5.15619195,6.72861948 C8.39693269,22.5196399 16.4987845,30.1895641 29.4617475,29.7383921 C10.0173031,-1.39247673 1.91545121,-9.06240092 5.15619195,6.72861948 Z' id='Path-2' transform='translate(16.961748, 14.257191) rotate(-84.000000) translate(-16.961748, -14.257191) '%3E%3C/path%3E%3Cpath d='M23.4444444,33.1714286 C25.5185185,45.3967347 30.7037037,51.3347405 39,50.9854461 C26.5555556,26.8841283 21.3703704,20.9461224 23.4444444,33.1714286 Z' id='Path-2-Copy' transform='translate(31.000000, 39.000000) rotate(-133.000000) translate(-31.000000, -39.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 72px;
          height: 72px;
          background-size: cover;
          display: block;
          position: absolute;
          bottom: -38px;
          left: -50px;
          transform: rotate(-15deg);

        }
        &::after{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='64px' height='69px' viewBox='0 0 64 69' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup Copy 4%3C/title%3E%3Cg id='1.0-Afdelingen' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-Copy-4' transform='translate(32.231003, 34.613342) rotate(202.000000) translate(-32.231003, -34.613342) translate(9.231003, 7.613342)' fill='%23A4D6E0'%3E%3Cpath d='M5.15619195,6.72861948 C8.39693269,22.5196399 16.4987845,30.1895641 29.4617475,29.7383921 C10.0173031,-1.39247673 1.91545121,-9.06240092 5.15619195,6.72861948 Z' id='Path-2' transform='translate(16.961748, 14.257191) rotate(-84.000000) translate(-16.961748, -14.257191) '%3E%3C/path%3E%3Cpath d='M23.4444444,33.1714286 C25.5185185,45.3967347 30.7037037,51.3347405 39,50.9854461 C26.5555556,26.8841283 21.3703704,20.9461224 23.4444444,33.1714286 Z' id='Path-2-Copy' transform='translate(31.000000, 39.000000) rotate(-133.000000) translate(-31.000000, -39.000000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 64px;
          height: 69px;
          background-size: cover;
          display: block;
          position: absolute;
          top : 0px;
          right: -35px;
        }
      }
      @include breakpoint(large){
        .inner-right{
          @include flex-grid-size(4 of 5);
          @include grid-column-offset(1 of 5);
          margin-right: auto;
          margin-left: 0;

        }
      }

    }
    .field-name-field-foto{
      margin-top: 25px;
      margin-bottom: 25px;
      @include breakpoint(mediumplus){
        margin-left: -45px;
        margin-top: 55px;
        margin-bottom: 55px;
      }
      img{
        border-radius: 50%;
        @include breakpoint(mediumplus){
          margin-left: -30px;
        }
      }
      .field-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    .field-name-field-tekst{
      h3{
        font-family: $ptbold;
        font-weight: 600;
        font-size: 27px;
        color: #000000;
        letter-spacing: -0px;
        line-height: 28px;
      }
      p{
        font-weight: 400;
        font-size: 17px;
        color: #000000;
        letter-spacing: 0.26px;
        line-height: 22px;
      }
    }
    .field-name-field-name{
      margin-top: 50px;
      .field-item{
        font-weight: 400;
        font-size: 19px;
        color: #5E99A5;
        letter-spacing: 0.5px;
        text-align: right;
        line-height: 23px;
      }
    }
  }
}

.paragraph--type--call-to-action{
  margin-bottom: -50px;
  @include breakpoint(large){
    margin-bottom: -100px;
  }
  @include breakpoint(xxlarge){
    margin-bottom: -125px;
  }
  background-color: #D0E7EC;
  padding-top: 75px;
  padding-bottom: 50px;
  @include breakpoint(large){
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .field-name-field-title{
    margin-bottom: 15px;
    .field-item{
      font-family: $ptbold;
      font-weight: 600;
      font-size: 37px;
      color: #000000;
      letter-spacing: -0px;
      text-align: center;
      line-height: 38px;
    }
  }
  .field-name-field-text{
    .field-item{
      font-weight: 400;
      font-size: 21px;
      color: #000000;
      letter-spacing: 0.32px;
      text-align: center;
      line-height: 22px;
    }
  }
  .field-name-field-link{
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    a{
      @include button-styler();
    }
  }
}
