figure.slides-wrapper {
  margin: 0 auto;
    position: relative;

  figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
      padding: 15px;
      position: absolute;
      bottom: 0; right: 0;left: 0;
    margin: auto;
      z-index: 12;
      max-width: 360px;
      height: 20%;
      color: $white;


    .body {
      .field-item {
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


.field-name-field-slides {
  position: relative;

}

